<!-- FIXME - this should be a portDirective begin -->
<div class="row">
  <div class="col-md-12">
   <port id="{{service.name + 'port'}}" port-test="{{service.name}}" service-name="{{service.name}}"></port>
  </div>
</div>

<!-- FIXME - this should be a portDirective end -->

<div class="row">
  <div class="col-md-12">
    <label class="btn btn-default pull-right" ng-model="monitorModel" uib-btn-checkbox ng-click="monitor()">monitor</label>   
  </div>
</div>



<div class="row">
<div class="col-lg-12">
  <label for="rx">rx {{rxCount}}</label>
  <textarea ng-model="rx" class="form-control" rows="8" id="rx" readonly scroll-glue></textarea>
</div>
</div>

<div class="row">
<div class="col-lg-12">
  <label for="tx">tx {{txCount}}</label>
  <textarea ng-model="tx" class="form-control" rows="3" id="tx" readonly scroll-glue></textarea>

  <input type="text" ng-readonly="!isConnected" placeholder="send data here" ng-model="txData" class="form-control" press-enter="writeString(txData)">
<button class="btn btn-default" ng-readonly="!isConnected" ng-click="writeString(txData)">send</button>
<!-- TODO - implement :) <button class="btn btn-default" ng-readonly="!isConnected" ng-click="sendFile()">send file</button> -->
</div>
</div>
