<div class="col-md-12">
    <label>port</label>
    <div class="input-group">
        <input class="form-control" type="text" ng-model="port" placeholder="{{service.port}}"/>
        <span class="input-group-btn"><button class="btn btn-default" ng-click="msg.setPort(port)">update</button></span>
        <span class="input-group-btn"><button class="btn btn-default" ng-click="msg.save()">save</button></span>
        <span class="input-group-btn"><button class="btn btn-default" ng-click="msg.extract(true)">extract</button></span>
        <span class="input-group-btn"><button class="btn btn-default" ng-click="msg.loadPanels()">load desktop</button></span>
        <!-- span class="input-group-btn"><button class="btn btn-default" ng-model="monitorModel" btn-checkbox ng-click="monitor()">monitor</button></span -->
    </div>
</div>

<!--
<pre>{{service}}</pre>
-->

<!-- <input type="text" ng-disabled="isConnected" ng-model="service.port" class="form-control"> -->

<!--
<video width="400" controls autoplay>
  <source src="/stream" type="video/x-flv">
  Your browser does not support HTML5 video.
</stream>
-->


<!--
<video width="600" controls autoplay>
  <source src="/stream">
  Your browser does not support HTML5 video.
</stream>

-->

<!--  WORKY


<video width="400" controls autoplay>
  <source src="/stream" type="video/mp4">
  Your browser does not support HTML5 video.
</stream>

-->

<!--
<video width="320" controls autoplay>
  <source src="http://localhost:20000" >
  Your browser does not support HTML5 video.
</stream>
-->


<!--
<video width="400" controls autoplay>

  <source src="rtmp://localhost:1888/stream/test.flv" type="video/mp4">
  Your browser does not support HTML5 video.
</stream>
-->

