<div ng-controller="TabsChildCtrl">
    <div class="row">
        <div class="col-md-12">
            <div>{{workspace.id}} : {{workspace.name}}</div>
            <input type="text" ng-model="workspace.name"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div drop-component="views/service.html" list="list1" gtc="list1gtc"></div>
        </div>
        <div class="col-md-3">
            <div drop-component="views/service.html" list="list2" gtc="list2gtc"></div>
        </div>
        <div class="col-md-3">
            <div drop-component="views/service.html" list="list3" gtc="list3gtc"></div>
        </div>
        <div class="col-md-3">
            <div drop-component="views/service.html" list="list4" gtc="list4gtc"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="container form-inline" style="text-align: center;">
                <div class="btn btn-droppable" ng-repeat="item in list5" data-drop="true" ng-model='list5' data-jqyoui-options="{accept:':not([ng-model=list5])'}"  jqyoui-droppable="{index: {{$index}}}">
                    <div class="btn btn-info btn-draggable" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list5" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" ng-hide="!item.title">{{item.title}}</div>
                </div>
            </div>
        </div>
    </div>
</div>