<div ng-controller="ServiceCtrl" id="{{name}}">

    <!--<div style="resize: both; overflow: auto;"></div>-->

    <div class="panel panel-default">
        <div class="panel-heading">
            <!--header-->
            <h3 class="panel-title">
                <img src="{{type}}.png" alt="" width="16">
                <b>{{name}}</b>
                <div class="pull-right">{{simpletype}}</div>
                <!--TODO: add an option-menu (kill-service, ...)-->
            </h3>
        </div>
        <div class="panel-body" ng-show="inst.fw.size != 'tiny' && inst.fw.size != 'full'">
            <!--body-->
            <div service-body="views/service.html" type="{{type}}" name="name" inst="inst"></div>
        </div>
        <div class="panel-footer" ng-show="!inst.fw.forcesize">
            <!--footer-->
            <button class="btn btn-default" type="submit" ng-click="changesize('tiny')">
                <i class="glyphicon glyphicon-minus"></i>
            </button>
            <button class="btn btn-default" type="submit" ng-click="changesize('small')">
                <i class="glyphicon glyphicon-resize-small"></i>
            </button>
            <button class="btn btn-default" type="submit" ng-click="changesize('medium')">
                M
            </button>
            <button class="btn btn-default" type="submit" ng-click="changesize('large')">
                <i class="glyphicon glyphicon-resize-full"></i>
            </button>
            <button class="btn btn-default" type="submit" ng-click="changesize('full')">
                <i class="glyphicon glyphicon-fullscreen"></i>
            </button>
        </div>
    </div>
</div>