<div class="col-md-12">     
    <div class="col-lg-4">
     <input class="form-control" type="text" ng-model="clientID" placeholder="Client ID">
<input class="form-control" type="text" ng-model="clientSecret" placeholder="Client Secret">
  <button class="btn btn-default"  ng-click="msg.setCredentials(clientID,clientSectret)">Set credentials</button>
</div>  
   <div class="col-lg-4">
        <textarea ng-model="text" class="form-control"  rows="4" cols="50"></textarea>     
        </div>
         <div class="col-lg-4">
     <span class="input-group-btn">
          <label>from</label> <select class="btn btn-default" id="from" ng-model="from" ng-change="msg.fromLanguage(from)" ng-options="o as o for o in service.languages">
          </select>
            <label>to</label> <select class="btn btn-default" id="to" ng-model="to" ng-change="msg.toLanguage(to)" ng-options="o as o for o in service.languages">
          </select>
          <button class="btn btn-default"  ng-click="msg.translate(text)">Translate</button>
     </span>
      </div>
        <div class="col-lg-4">
        <textarea ng-model="translatedText" id="translatedText"  rows="4" cols="50" readonly>
</textarea>	 
    </div>
</div>       
