   <div class="col-xs-6">
   <div class="btn-group">
    <div class="btn-group" uib-dropdown>
      <button id="split-button" type="button" class="btn btn-default">level - {{logLevel}}</button>
      <button type="button" class="btn btn-default" uib-dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>

      <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
        <li><a href="" ng-click="msg.setRootLogLevel('debug')">debug</a></li>
        <li><a href="" ng-click="msg.setRootLogLevel('info')">info</a></li>
        <li><a href="" ng-click="msg.setRootLogLevel('warn')">warn</a></li>
        <li><a href="" ng-click="msg.setRootLogLevel('error')">error</a></li>      
        <li class="divider"></li>
        <li role="menuitem"><a href="">stop logging</a></li>
      </ul>      
    </div>

          <button class="btn btn-default" ng-click="clear()">clear</button> 


   <textarea ng-model="log" ng-style="{'background-color':'black', 'color':'green'}" id="{{name}}" rows="20" cols="120" readonly scroll-glue></textarea>
    <!-- button ng-click="broadcastState()"  class="btn btn-default" ng-init="count=0">broadcastState</button -->
   </div>       