<div class="col-xs-6">

<form ng-submit="shout()">
   <input class="form-control" type="text" ng-model="shoutMsg" placeholder="{{placeholder}}" />
</form>

  <div uib-accordion>
  <!-- is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled" -->
    <div uib-accordion-group heading="menu" >
      <ul>
      <li>/listConnections - list all current connections to shoutbox</li>
      <li>/version - return current version</li>
      <li>/t - shout as mr.turing</li>
      <li>/addXMPPRelay/(xmpp buddy name) - add buddy as an xmpp relay</li>
      <li>/removeXMPPRelay/(xmpp buddy name) - remove buddy as xmpp relay</li>
      </ul>
    </div>
    <div accordion-group heading="shouts" is-open="true" >
        <div ng-repeat="shout in shouts | reverse" ng-bind-html="trustAsHtml(getHtml(shout))" > <!--<a href='' ng-bind-html="trustAsHtml(shout.msg)" ng-click="msg.loadExample(getName(file.path))">{{getName(file.path)}}</a> {{shout.from}}: {{trustAsHtml(shout.msg)}} --> 
            {{shout.msg}} 
        </div>
    </div>
  </div>
</div>
