<div class="row">
 <div class="col-md-6">
   <label>port</label>
  </div>
</div>

<!--
<pre>{{service}}</pre>
-->
    
    <!-- <input type="text" ng-disabled="isConnected" ng-model="service.port" class="form-control"> -->

<!--
<video width="400" controls autoplay>
  <source src="/stream" type="video/x-flv">
  Your browser does not support HTML5 video.
</stream>
-->


<!--
<video width="600" controls autoplay>
  <source src="/stream">
  Your browser does not support HTML5 video.
</stream>

-->

<!--  WORKY


<video width="400" controls autoplay>
  <source src="/stream" type="video/mp4">
  Your browser does not support HTML5 video.
</stream>

-->

<!--
<video width="320" controls autoplay>
  <source src="http://localhost:20000" >
  Your browser does not support HTML5 video.
</stream>
-->


<!--
<video width="400" controls autoplay>

  <source src="rtmp://localhost:1888/stream/test.flv" type="video/mp4">
  Your browser does not support HTML5 video.
</stream>
-->

   