/.project
/.classpath
/.settings
/src/main/resources/resource/WebGui/react
/data
/resource
/bin
/dist
/repo
/.ivy
/.myrobotlab
/.settings
/update
/libraries
/arduino
/backup
/haarcascades
/hogcascades
/lbpcascades
/tessdata
/myrobotlab.log
/ivychain.xml
/audioFile
/obj
/bootstrap.jar
/shoutbox/
/ProgramAB/
/build/
/myrobotlab.jar
/ArduinoMsgCodec*.txt
/ArduinoMsgCodec*.ino
/ArduinoMsgCodec*.java
/webapps/
/agent.log
/root/
/*.mp4
/*.ard
/*.dec
/src/resource/WebGUI/lib/*.tmp
/src/resource/WebGUI/service/*.tmp
/src/resource/WebGUI/service/js/*.tmp
/__MACOSX/
/MRLComm/
/*.log
/*.json
/notifyEntries.runtime.xml
/flvTest.flv
/AtomicParsley.exe
/develop/
/mary
/opennlp/
Thumbs.db
/cachedir/
/mimic/
/inmoov/
/msgs/
/localBuild/
/serial.rx.hex
/serial.tx.hex
/pids/
/voicetest.bat
/generatedPython/
/InMoov/
/InMoov2/
/tts/
/tools/
/START_INMOOV.bat
/start_inmoov.sh
/.pydevproject
/OpenAL64.dll
/lwjgl64.dll
/audacity-win-2.1.0.exe
/text.txt
/gestures/
/target/
/training/
/dependencies.xml
/.gradle/
/dependencies/
/gradle/
/pom/
/install*
/libraries*
/ivy*
/maven.eclipse.project
/pom*.xml
/30.speed.JPG
/eng.traineddata
/phototest.jpg
/traffic.sign.jpg
/compare.txt
/yolo/
/jinput-natives/
/.idea/
/target/
/Solr/
/OpenCV/
/models/*
/models/
/Common/
/bulletjme.dll
/Harry-export.py
/Harry.py
/backup-routes.py
/worke.py
/branches/