/.project
/.classpath
/.settings
/bin
/dist
/repo
/.ivy
/.myrobotlab
/.settings
/update
/libraries
/arduino
/backup
/haarcascades
/hogcascades
/lbpcascades
/tessdata
/myrobotlab.log
/ivychain.xml
/audioFile
/obj
/bootstrap.jar
/resource/
/shoutbox/
/ProgramAB/
/build/
/myrobotlab.jar
/ArduinoMsgCodec*.txt
/ArduinoMsgCodec*.ino
/ArduinoMsgCodec*.java
/webapps/
/agent.log
/root/
/*.mp4
/*.ard
/*.dec
/src/resource/WebGUI/lib/*.tmp
/src/resource/WebGUI/service/*.tmp
/src/resource/WebGUI/service/js/*.tmp
/__MACOSX/
/MRLComm/
/*.log
/*.json
/notifyEntries.runtime.xml
/flvTest.flv
/AtomicParsley.exe
/develop/
/mary
/opennlp/
Thumbs.db
/cachedir/
/mimic/
/inmoov/
/msgs/
/localBuild/
/serial.rx.hex
/serial.tx.hex
/pids/
/voicetest.bat
/generatedPython/
/InMoov/
/tts/
/tools/
/START_INMOOV.bat
/start_inmoov.sh
/.pydevproject
/OpenAL64.dll
/lwjgl64.dll
/audacity-win-2.1.0.exe
/text.txt
/gestures/
/target/
/training/
/dependencies.xml
/install/
/.gradle/
/dependencies/
/gradle/
/pom/
/install.ivy.2.5.0/
/install.ivy/
/install.maven/
/install.opencv.ivy.2.5.0/
/install.opencv.ivy/
/install.opencv.maven/
/libraries.gradle.2/
/libraries.ivy.head.unpatched/
/libraries.ivy.jinput/
/libraries.ivy.noPatch/
/libraries.ivy.test/
/libraries.maven/
/libraries.patch.ivy.deleted.javadocs.sources/
/libraries.patch.ivy/
/ivy-2.4.0-2.jar
/ivy.head.unpatched.jar
/ivy.noPatch.jar
/ivy.old.xml
/ivy.patched.jar
/ivy.retrieve.cmd
/ivy.test.cmd
/maven.eclipse.project
/pom - Copy (2).xml
/pom - Copy.xml
/pom.1.xml
/pom.1519830369052.xml
/pom.1519915826931.xml
/pom.1519916875963.xml
/30.speed.JPG
/eng.traineddata
/phototest.jpg
/traffic.sign.jpg
/compare.txt
/install.artoolkitplus.ivy/
