<div class="col-md-12">     
    <div class="input-group">
        <textarea ng-model="text" class="form-control"  rows="4" cols="50"></textarea>     
    </div>

     <span class="input-group-btn">
          <select class="btn btn-default" id="v" ng-model="voice" ng-change="msg.setVoice(voice)" ng-options="o as o for o in service.voices">
          </select>

          <button class="btn btn-default"  ng-click="msg.speak(voice, text)">speak</button>
     </span>

        {{speakingState}}
</div>       
