<div class="row">
  Controller {{service.controllerName}}
  <select ng-model="selectedControllerName"  class="form-control" ng-disabled="service.isAttached" title="controller">
     <option ng-repeat="x in service.controllers" ng-value="x">{{x}}</option>
  </select>
</div>
<div class="row">
  Bus {{service.deviceBus}}
  <select ng-model="selectedDeviceBus"  class="form-control" ng-disabled="service.isAttached" title="bus address">
     <option ng-repeat="x in service.deviceBusList" ng-value="x">{{x}}</option>
  </select>
</div>
<div class="row">
  Address {{service.deviceAddress}}
  <select ng-model="selectedDeviceAddress"  class="form-control" ng-disabled="service.isAttached" title="device address">
     <option ng-repeat="x in service.deviceAddressList" ng-value="x">{{x}}</option>
  </select>
</div>

<div class="row">
  <div class="input-group">
  
   <span class="input-group-btn">
         <button class="btn btn-default" ng-show="!service.isAttached"  ng-click="attach()">attach</button>  
         <button class="btn btn-default" ng-show="service.isAttached"  ng-click="detach()">detach</button>
   </span>   
  </div>
</div>  