<div class="row col-md-12">
    <!-- simple dropdown -->
    <div class="col-md-12">Controller</div>
    <div class="col-md-2">
        <select class="form-control selectController" ng-model="service.controllerName">
            <option></option>
            <option ng-repeat="controller in service.controllers">{{controller}}</option>
        </select>
    </div>
    <div class="col-md-4">
        <button class="btn btn-default" ng-show="!isAttached" ng-click="msg.attach(service.controllerName)">attach</button>
        <button class="btn btn-default" ng-show="isAttached" ng-click="msg.detach(service.controllerName)">detach</button>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-12">Bus</div>
    <div class="col-md-2">
        <select class="form-control selectController" ng-change="msg.setDeviceBus(service.deviceBus)" ng-model="service.deviceBus">
            <option ng-repeat="possibledeviceBus in service.deviceBusList">{{possibledeviceBus}}</option>
        </select>
    </div>
    <div class="col-md-12">Address</div>
    <div class="col-md-2">
        <select class="form-control selectController" ng-change="msg.setDeviceAddress(service.deviceAddress)" ng-model="service.deviceAddress">
            <option ng-repeat="address in service.deviceAddressList">{{address}}</option>
        </select>
    </div>
</div>
