<div class="col-md-3">
    <div class="row">
        <br/>
        <attach options='controllerOptions'/>
    </div>
    <div class="row">
        Bus {{service.deviceBus}}        
        <select ng-model="service.deviceBus" class="form-control" ng-disabled="service.isAttached" title="bus address">
            <option ng-repeat="x in service.deviceBusList" ng-value="x">{{x}}</option>
        </select>
    </div>
    <div class="row">
        Address {{service.deviceAddress}}        
        <select ng-model="service.deviceAddress" class="form-control" ng-disabled="service.isAttached" title="device address">
            <option ng-repeat="x in service.deviceAddressList" ng-value="x">{{x}}</option>
        </select>
    </div>
    <div class="row">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" ng-show="!service.isAttached" ng-click="attach()">attach</button>
                <button class="btn btn-default" ng-show="service.isAttached" ng-click="detach()">detach</button>
            </span>
        </div>
    </div>
</div>
