
<!-- TODO -- id HashMap<Integer, ProcessData> & autoUpdate - start minimal .. double click expand -->

    <div class="col-md-12">
        <span class="pull-right">{{service.agentBranch}} {{service.agentVersion}}</span>
        <table border="1" class="table table-hover table-condensed table-striped table-bordered">
            <tr><td><h4>processes</h4></td><td><h4>version</h4></td><td><h4>actions</h4></td><td><h4>uptime</h4></td></tr>
            <tr ng-repeat="(id, value) in service.processes">
            <td>{{id}} {{value.name}}</td>
            <td>{{value.branch}} {{value.version}}</td>
            <td>
                <span class="input-group-btn">
                <button class="btn btn-default" ng-show='!isRunning(value)'  ng-click="msg.start(value.id)">start</button>
                <button class="btn btn-default" ng-show='isRunning(value)'  ng-click="msg.kill(value.id)">stop</button>
                <button class="btn btn-default" ng-click="msg.copyAndStart(value.id)">clone</button>
                <button class="btn btn-default" ng-show='!isRunning(value)' ng-click="edit(value.id)">edit</button>
                <button class="btn btn-default" ng-click="msg.killAndRemove(value.id)">remove</button>
                <img class="pull-right" ng-src="../{{value.state}}.png"/>                
                </span>
                {{value.state}} {{isRunning(value)}} 
               
            </td>
                <td nowrap> 
                <section id="{{id}}">
                    <timer start-time="value.startTs">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>
                </section>
                </td>
            </tr>
        </table>    
    </div>       

    <div class="col-md-12">
     <span class="input-group-btn">     
     <div class="btn-group" uib-dropdown>
        <button type="button" class="btn btn-default">{{service.currentVersion}}
        </button>
        <button type="button" class="btn btn-default" uib-dropdown-toggle>
            <span class="caret"></span>
        </button>
        <ul uib-dropdown-menu>
            <li ng-repeat="version in service.possibleVersions"><a href="" ng-click="shutdown('shutdown')">{{version}}</li>
        </ul>
    </div>
     
          <button class="btn btn-default"  ng-click="msg.spawn()">start</button>
          <button class="btn btn-default"  ng-click="msg.save()">save</button>
          <button class="btn btn-default"  ng-click="msg.killAll()">kill all</button>
          <button class="btn btn-default"  ng-click="msg.shutdown()">shutdown</button>   
          <button type="button" class="btn btn-default" ng-click="msg.autoUpdate(!service.autoUpdate)" ng-model="autoUpdate">auto update</button>     
     </span>


 
<!--   GAH !!! - got tired of trying to get a 'settings'  form for 'start'
                
  <form class="navbar-form">
                        <div class="btn-group" uib-dropdown>
                            <button type="button" class="btn btn-default">
                                <i class="glyphicon glyphicon-off"></i>
                            </button>
                            <button type="button" class="btn btn-default" uib-dropdown-toggle>
                                <span class="caret"></span>
                            </button>
                            <ul uib-dropdown-menu>
                                <li><a href="" ng-click="shutdown('shutdown')"><i class="glyphicon glyphicon-off"></i>&nbsp;&nbsp;Shutdown</a></li>
                                <li><a href="" ng-click="shutodwn('restart')"><i class="glyphicon glyphicon-repeat"></i>&nbsp;&nbsp;Restart</a></li>
                            </ul>
                        </div>
                    </form>
                                    
     <uib-accordion close-others="oneAtATime">
      <uib-accordion-group is-open="status.open">
      <uib-accordion-heading>
        I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      This is just some content to illustrate fancy headings.
    </uib-accordion-group>
    </uib-accordion>
-->    
<!-- need a way to display this based on config for any service -->
    <!-- pre>{{dservice}}</pre -->

    </div>       
