<h3>motion</h3>
<div class="col-xs-3">
  x : {{motion.x}}
</div>
<div class="col-xs-3">
  y : {{motion.y}}
</div>
<div class="col-xs-3">
  z : {{motion.z}}
</div>

<!-- <div>
    <h3>{{pulseData}}</h3>
    <div class="col-xs-3">
        <button class="btn btn-default" ng-if="!service.isClockRunning" ng-click="msg.setInterval(service.interval);msg.startClock()">Start</button>
        <button class="btn btn-default" ng-if="service.isClockRunning" ng-click="msg.stopClock()">Stop</button>
    </div>       
    <div class="col-xs-3">
        <input type="text" class="form-control" ng-type="number" ng-model="service.interval" ng-disabled="service.isClockRunning"/>
    </div>       
    <div class="col-xs-3">ms</div>       
</div>
-->