<!-- begin status and control for board to be viewed in above all tabs -->

		<div class="col-lg-8">
		<!-- FIXME - port is not working well in that the controller can not get the portname back from the port directive :(
		<port id="{{service.name + 'port'}}" port-test="{{service.name}}" service-name="{{service.serial.name}}"></port>
		-->		
		 <select ng-model="boardType" ng-change="onBoardChange(boardType)" class="form-control">
			<option>uno</option>
			<option>mega</option>
			<option>megaADK</option>
			<option>nano</option>
		</select>    
		</div>	
	  <div class="col-md-4">
	  </div>			

	<div class="col-lg-12"><!-- TODO reduce this with show -->
			{{service.boardType}} {{connectedStatus}} {{versionStatus}} <br>		
			 <span ng-show="boardInfo != null">load {{boardInfo.microsPerLoop}}</span> 
			 <span ng-show="boardInfo != null">heartbeat {{boardInfo.heartbeatMs}}</span>
			 <span ng-show="boardInfo != null">sram {{boardInfo.sram}} - {{boardInfo.activePins}} active pins {{boardInfo.deviceSummary.length}} devices</span> <br/>			  			 
    		 <span ng-repeat="device in boardInfo.deviceSummary"> <b>{{device.name}}</b> id:{{device.id}} </span>
	</div>

<!-- end status and control for board to be viewed in above all tabs -->

<div class="col-lg-12">
<uib-tabset active="active">
	<!-- begin -->
    <uib-tab heading="Oscope">
 		<oscope id="oscope" service-name="{{service.name}}" ></oscope>
    </uib-tab>
	<!-- end -->
	<!-- begin -->
    <uib-tab heading="Pins">
		<img src="{{image}}" width="600"/>
    </uib-tab>
	<!-- end -->

		<!-- begin -->
    <uib-tab heading="Settings">
    	<span>Arduino IDE executable</span>
    	
    	<!-- AngularJs preferred access is through an object - most if not all data points should be in $scope.service - so "take" data from there -->
    	Path<input type="text" class="form-control" id="arduinoPath" ng-model="service.arduinoPath">

    	<!-- current implementation will not work as a jar -->
    	<!-- button class="btn btn-default pull-right" ng-click="msg.openMrlComm()">Open in IDE</button -->
    	<!-- FIXME - for an successful upload the "FIELDS!" portname, arduinoPath & boardType all need to be filled in -->
    	<button class="btn btn-default pull-right" ng-click="upload(service.arduinoPath, formPort, boardType)">Upload</button>
    	<button class="btn btn-default pull-right" ng-model="mrlComm.enableBoardInfo" uib-btn-checkbox ng-change="(mrlComm.enableBoardInfo)?msg.enableBoardInfo(true):msg.enableBoardInfo(false)">Status</button>
    
		<pre>
{{service.uploadSketchResult}}
		</pre>
		   
    </uib-tab>
	<!-- end -->

</uib-tabset>
</div>
