<div class="col-md-6">
    <table border="1" class="table table-hover table-condensed table-striped table-bordered">
        <tr>
            <td>playing</td>
            <td>{{playing}}</td>
        </tr>
        <tr>
            <td>track</td>
            <td>{{service.currentTrack}}</td>
        </tr>
        <tr>
            <td>volume</td>
            <td>{{service.volume}}</td>
        </tr>
        <tr>
            <td>mute</td>
            <td>{{service.muted}}</td>
        </tr>
        <tr>
            <td colspan="2">
            <button class="btn btn-default" ng-click="play()"><span class="glyphicon glyphicon-fast-backward"/></button>
            <button class="btn btn-default" ng-click="play()"><span class="glyphicon glyphicon-step-backward"/></button>
            <button class="btn btn-default" ng-click="play()"><span class="glyphicon glyphicon-play"/></button>
            <button class="btn btn-default" ng-click="play()"><span class="glyphicon glyphicon-step-forward"/></button>
            <button class="btn btn-default" ng-click="play()"><span class="glyphicon glyphicon-fast-forward"/></button>
            <button class="btn btn-default" ng-click="play()"><span class="glyphicon glyphicon-stop"/></button>
            <button class="btn btn-default" ng-click="play()"><span class="glyphicon glyphicon-pause"/></button>
            <button class="btn btn-default" ng-click="play()"><span class="glyphicon glyphicon-refresh"/></button>
            <button class="btn btn-default" ng-click="play()"><span class="glyphicon glyphicon-repeat"/></button>
            <button class="btn btn-default" ng-click="play()"><span class="glyphicon glyphicon-volume-up"/></button>
            <button class="btn btn-default" ng-click="play()"><span class="glyphicon glyphicon-volume-down"/></button>
            <button class="btn btn-default" ng-click="play()"><span class="glyphicon glyphicon-volume-off"/></button>
            
     
            </td>
        </tr>
    </table>
</div>
<div class="col-md-6">
    selected playlist {{service.currentPlaylist}}<br/>
    <table border="1" class="table table-hover table-condensed table-striped table-bordered">
        <tr ng-repeat="(name, fileset) in service.playlists">
            <td>{{name}}</td>
        </tr>
        <tr>
            <td>
                <button>add</button>
            </td>
        </tr>
    </table>
</div>
