<div class="row">
    <div class="input-group col-lg-12">
    <!--

<div
    data-angular-treeview="true"
	data-tree-id="abc"
	data-tree-model="treedata"
	data-node-id="id"
	data-node-label="label"
	data-node-children="children" >
</div>


        <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" ng-model="selectedFile" />
        </div>
        <button class="btn btn-default" ng-click="playFile(selectedFile)">play</button>
    </div>
</div>

<br>
here
<br>
<label class="import-file">
    <input type="file" onchange="angular.element(this).scope().fileNameChanged(this)">
    <div>Import file...</div>
</label>
-->
    </div>
</div>
