<div class="row">
        <h3>{{onTime}}</h3>
</div>
<div class="row">
        <h3>{{onEpoch}}</h3>
</div>
<div class="row">
        <form class="form-inline">
            pulse interval in ms<br/>
            <input class="form-control" type="text" ng-model="service.config.interval" ng-disabled="service.config.running" ng-trim="false"/>
            <button class="btn btn-default" ng-if="!service.config.running" ng-click="msg.setInterval(service.config.interval); msg.startClock();">start</button>
            <button class="btn btn-default" ng-if="service.config.running" ng-click="msg.stopClock();">stop</button>
        </form>
</div>
