<div class="row">
    <div class="col-md-3">
        <h3>{{pulseData}}</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <form class="form-inline">
            <label>pulse interval</label>
            <input class="form-control" type="text" ng-model="service.interval" ng-disabled="service.running" ng-trim="false"/>
            <button class="btn btn-default" ng-if="!service.running" ng-click="msg.setInterval(service.interval); msg.startClock();">start</button>
            <button class="btn btn-default" ng-if="service.running" ng-click="msg.stopClock();">stop</button>
        </form>
    </div>
</div>
