<div class="row">
    date and time
        <h3>{{onTime}}</h3>
</div>
<div class="row">
    epoch in ms
        <h3>{{onEpoch}}</h3>
</div>
<div class="row">
        <form class="form-inline">
            pulse interval in ms<br/>
            <input class="form-control" type="text" ng-model="service.interval" ng-disabled="service.running" ng-trim="false"/>
            <button class="btn btn-default" ng-if="!service.running" ng-click="msg.setInterval(service.interval); msg.startClock();">start</button>
            <button class="btn btn-default" ng-if="service.running" ng-click="msg.stopClock();">stop</button>
        </form>
</div>
