<table class="form-group">
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/>
            <div class="tab-content" service-body panel="mrl.getPanel(service.name + '.up')">
        </td>
    </tr>
    <tr>    
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/>
            <div class="tab-content" service-body panel="mrl.getPanel(service.name + '.middle')">
        </td>
    </tr>
    <tr>    
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/>
            <div class="tab-content" service-body panel="mrl.getPanel(service.name + '.down')">
        </td>
    </tr>
</table>   
