<div class="row">
    <div class="col-md-9">
        <h3>Current State: {{current}}</h3>
        <table class="tableController table-condensed table-striped table-bordered">
            <tr>
                <th>Origin State</th>
                <th>Message Type</th>
                <th>Target State</th>
                <th></th>
            </tr>
            <tr ng-repeat="transition in service.config.transitions">
                <td>{{transition.origin}}</td>
                <td>
                    <span class="glyphicon glyphicon-arrow-right"></span>
                    &nbsp;&nbsp;&nbsp;&nbsp;{{transition.message}}
                </td>
                <td>
                    <span class="glyphicon glyphicon-arrow-right"></span>
                    &nbsp;&nbsp;&nbsp;&nbsp;{{transition.target}}
                </td>
                <td>
                    <button class="btn btn-default" ng-click="removeTransition(transition.origin, transition.message, transition.target)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                        
                </td>
            </tr>
            <tr>
                <td>
                    <input class="form-control" type="text" ng-model="origin" placeholder="Origin" style="width:200px"/>
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="message" placeholder="Message" style="width:200px"/>
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="target" placeholder="Target" style="width:200px"/>
                </td>
                <td>
                    <button class="btn btn-default" ng-click="addTransition()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="form-control" type="text" ng-model="state" placeholder="Set State" style="width:200px"/>
                    <button class="btn btn-default" ng-click="setCurrent()">set</button>
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="msgKey" placeholder="Message" style="width:200px"/>
                    <button class="btn btn-default" ng-click="fire()">fire</button>
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
