<table>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <form class="form-inline">
                <attach options='options'/>
                <button ng-show="!service.isAttached" type="button" class="btn btn-default" ng-click="attach()">attach</button>
                <button ng-show="service.isAttached" type="button" class="btn btn-default" ng-click="detach()">detach</button>
            </form>
        </td>
    </tr>
</table>
<div class="col-md-12">
    <br/>
    <input type="checkbox" ng-model="service.backLight" ng-click="setBackLight(service.backLight)"/>
    BackLight status
<textarea ng-model="screenContent" name="screenContent" id="screenContent" style="background-color: #c9ed51;" rows="4" cols="19"></textarea>
    <span class="input-group-btn">
        <button class="btn btn-default" ng-click="display(screenContent)">Send text</button>
    </span>
</div>
