<link rel="stylesheet" href="service/views/Hd44780Gui.css">

<table class="padded-table">
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <form class="form-inline">
                <attach options='options'/>
                <button ng-show="!service.isAttached" type="button" class="btn btn-default" ng-click="attach()">attach</button>
                <button ng-show="service.isAttached" type="button" class="btn btn-default" ng-click="detach()">detach</button>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            backlight 
        <toggle ng-model="service.backLight" class="miniBTN" title="activate the backlight" ng-change="setBackLight(service.backLight)" on="" off="" size="btn-lg"/></toggle>
        </td>
    </tr>
    <tr>
        <td>
            <textarea class="lcd" ng-model="screenContent" name="screenContent" id="screenContent" style="background-color: #c9ed51;" rows="4" cols="19"></textarea>
        </td>
    </tr>
    <tr>
        <td>
            <button class="btn btn-default" ng-click="display(screenContent)">send text</button>
            <button class="btn btn-default" ng-click="clear()">clear</button>
            <button class="btn btn-default" ng-click="reset()">reset</button>
        </td>
    </tr>
</table>
