<div class="col-md-6">
    <div class="input-group">
        <attach options="options"/>
        <div class="btn-group" uib-dropdown>
            <button type="button" class="btn btn-default">bus {{service.config.bus}}</button>
            <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
                <span class="caret"></span>
            </button>
            <ul uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-show="!service.isAttached">
                <li ng-repeat="c in service.deviceBusList">
                    <a href="" ng-click="setBus(c)">{{c}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="btn-group" uib-dropdown>
        <button type="button" class="btn btn-default">address {{service.config.address}}</button>
        <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
            <span class="caret"></span>
        </button>
        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-show="!service.isAttached">
            <li ng-repeat="c in service.deviceAddressList">
                <a href="" ng-click="setAddress(c)">{{c}}</a>
            </li>
        </ul>
    </div>

    <button ng-show="!service.isAttached" type="button" class="btn btn-default" ng-click="attach()">attach</button>
    <button ng-show="service.isAttached" type="button" class="btn btn-default" ng-click="detach()">detach</button>
    
    <br/><br/>
    <p>
        <b>Service map</b>
    </p>
    <table class="table table-striped">
        <tr>
            <th>Service</th>
            <th>Bus</th>
            <th>Address</th>
        </tr>
        <tr ng-repeat="x in service.config.i2cDevices">
            <td>{{ x.serviceName }}</td>
            <td>{{ x.busAddress }}</td>
            <td>{{ x.deviceAddress }}</td>
        </tr>
    </table>
</div>
</div>
