<div class="row">
    <div class="form-inline">
        <div class="form-group">
            <tr>
                <br/>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label>Web Viewer</label>
                    <toggle class="miniBTN" title="invert the motor" ng-model="service.webViewer" ng-change="msg.setWebViewer(service.webViewer)" on="" off="" size="btn-lg"/>
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;Native Viewer</label>
                    <toggle class="miniBTN" title="invert the motor" ng-model="service.nativeViewer" ng-change="msg.setNativeViewer(service.nativeViewer)" on="" off="" size="btn-lg"/>
                </td>
            </tr>
        </div>    
    </div>
</div>
<br/>
<div class="col-md-9">
    <table border="1" class="table table-hover table-condensed table-striped table-bordered">
        <tr>
            <td>
                <label>Latest image:</label>
                <br/>
                <div>
                    <!--TO BE DONE-->
                    <!--<img data-ng-src="{{service.display()}}"/>-->
                    <img data-ng-src="../data/OpenCV/i01.opencv-00179.png"/>
                </div>
            </td>
            <td>
                <label>Image bank:</label>
                <div id="table-wrapper">
                    <div id="table-scroll">
                        <table class="table table-striped">
                            <tbody><!--TO BE DONE-->
                                <tr>
                                    <td><img data-ng-src="../data/OpenCV/i01.opencv-00179.png"/></td>
                                </tr>
                                <tr>
                                    <td><img data-ng-src="../data/OpenCV/i01.opencv-00179.png"/></td>
                                </tr>
                                <tr>
                                    <td><img data-ng-src="../data/OpenCV/i01.opencv-00179.png"/></td>
                                </tr>
                                <tr>
                                    <td><img data-ng-src="../data/OpenCV/i01.opencv-00179.png"/></td>
                                </tr>
                                <tr>
                                    <td><img data-ng-src="../data/OpenCV/i01.opencv-00179.png"/></td>
                                </tr>
                                <tr>
                                    <td><img data-ng-src="../data/OpenCV/i01.opencv-00179.png"/></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
