<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <td>
                    <label for="sel1">onText:</label>
                    {{onText}}               
                
                </td>
                <td>
                    <label for="sel1">language:</label>
                    {{service.language}}      
                    <div class="form-group">
                        <select class="form-control" ng-model="languageSelected" id="language-select" ng-change="msg.setLanguage(languageSelected)">
                            <option ng-repeat="(langCode, description) in service.languages" value="{{langCode}}">{{langCode}} - {{description}}</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sel1">configurations:</label>
                    <button class="btn btn-default" ng-click="msg.disable()">configure</button>
                    <button class="btn btn-default" ng-click="msg.disable()">save configuration</button>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <select multiple class="form-control" id="sel2">
                            <option>default</option>
                            <option>sim-only</option>
                            <option>new config</option>
                            <option>old config</option>
                        </select>
                    </div>
                </td>
            </tr>
        </table>
        <table class="table table-striped">
            <tr>
                <td></td>
                <td>
                    <button class="btn btn-default" ng-click="msg.startAll()">start all</button>
                    <button class="btn btn-default" ng-click="msg.startServos()">start servos</button>
                    <button class="btn btn-default" ng-click="msg.startSimulator()">start simulator</button>
                    <button class="btn btn-default" ng-click="msg.cycleGestures()">cycle gestures</button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#/tabs/i02.head">
                        <img src="../InMoovHead.png"/>
                    </a>
                </td>
                <td>
                    <button class="btn btn-default" ng-click="msg.startHead()">start head</button>
                    <button class="btn btn-default" ng-click="msg.startHeadTracking()">start head tracking</button>
                    <button class="btn btn-default" ng-click="msg.startEyeTracking()">start eye tracking</button>
                    <button class="btn btn-default" ng-click="msg.startEar()">start ear</button>
                    <button class="btn btn-default" ng-click="msg.startMouth()">start mouth</button>
                    <button class="btn btn-default" ng-click="msg.startBrain()">start brain</button>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../InMoovArm.png"/>
                </td>
                <td>
                    <!-- button class="btn btn-default" ng-click="msg.startGestures()">start gestures</button -->
                    <button class="btn btn-default" ng-click="msg.startLeftArm()">start left arm</button>
                    <button class="btn btn-default" ng-click="msg.startRightArm()">start right arm</button>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../InMoovHand.png"/>
                </td>
                <td>
                    <button class="btn btn-default" ng-click="msg.startLeftHand()">start left hand</button>
                    <button class="btn btn-default" ng-click="msg.startRightHand()">start right hand</button>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../InMoovTorso.png"/>
                </td>
                <td>
                    <button class="btn btn-default" ng-click="msg.startTorso()">start torso</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button ng-class="active" ng-click="msg.startHead()">b1 button</button>
                    <button class="btn btn-primary active" ng-click="msg.disable()">primary active button</button>
                </td>
            </tr>
        </table>
    </div>
</div>
