<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <td>
                    <label for="sel1">onText</label>
                </td>
                <td>{{onText}}    
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../Speech.png"/>
                </td>
                <td>
                    <label>speech</label>
                    <input class="form-control" type="text" id="speakText" ng-model="speakText">
                    <button class="btn btn-default" ng-click="speak()">speak</button>
                    <span ng-show="mouth == null">
                        <button class="btn btn-default" ng-click="startMouth()">start mouth</button>
                       
                    </span>
                     mute
                     <toggle ng-model="service.mute" ng-change="msg.setMute(!service.mute)"></toggle>
                    <span ng-show="mouth != null">
                        <button class="btn btn-default" ng-click="msg.stopMouth()">stop mouth</button>
                    </span>
                    <select class="form-control" ng-model="speechTypeSelected" id="language-select" ng-change="msg.setSpeechType(speechTypeSelected)">
                        <option ng-repeat="speechType in speechTypes" value="{{speechType}}">{{(speechType.substring(speechType.lastIndexOf(".") + 1))}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <label for="sel1">language</label>
                    {{service.language}}            
                     <div class="form-group">
                        <select class="form-control" ng-model="languageSelected" id="language-select" ng-change="msg.setLocale(languageSelected)">
                            <option ng-repeat="(key, value) in service.languages" value="{{key}}">{{key}} - {{value.displayLanguage}}</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#/tabs/i02.head">
                        <img src="../Ear.png"/>
                    </a>
                </td>
                <td>
                    <button class="btn btn-default" ng-click="msg.startEar()">start ear</button>
                    <button class="btn btn-default" ng-click="msg.startEar()">stop ear</button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#/tabs/i02.head">
                        <img src="../Brain.png"/>
                    </a>
                </td>
                <td>
                       <!-- FIXME stopPeer('brain') startPeer is a bit more complicated as it requires setting up subscriptions -->
                    <button ng-show="!getPeer('brain')" class="btn btn-default" ng-click="msg.startBrain()">start brain</button>
                    <button ng-show="getPeer('brain')" class="btn btn-default" ng-click="msg.stopBrain()">stop brain</button>
                    <!--
                     <button ng-show="!getPeer('search')" class="btn btn-default" ng-click="msg.startSearch()">start search</button>
                    <button ng-show="getPeer('search')" class="btn btn-default" ng-click="msg.stopSearch()">stop search</button>
                    -->
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../JMonkeyEngine.png"/>
                </td>
                <td>
                    <label for="sel1">simulator</label>
                    <br/>
                    <button class="btn btn-default" ng-click="msg.send('setVirtual', true)">set virtual</button>
                    <button class="btn btn-default" ng-click="msg.startSimulator()">start simulator</button>
                </td>
            </tr>
            <tr>
                <td>
                   
                </td>
                <td>
                 <label for="sel1">configurations</label>
                    <div class="form-group">
                        <select multiple class="form-control" id="sel2">
                            <option>default</option>
                            <option>sim-only</option>
                            <option>new config</option>
                            <option>old config</option>
                        </select>
                    </div>
                    <button class="btn btn-default" ng-click="msg.export()">save</button>
                    <button class="btn btn-default" ng-click="msg.exportAll()">save all</button>
                    <button class="btn btn-default" ng-click="msg.load()">load</button>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../Tracking.png"/>
                </td>
                <td>
                <label>tracking</label>
                    <button class="btn btn-default" ng-click="msg.startHeadTracking()">start head tracking</button>
                    <button class="btn btn-default" ng-click="msg.startEyesTracking()">start eyes tracking</button>
                </td>
            </tr>
            <tr>
                <td>
                   <img src="../Servo.png"/>
                </td>
                <td>
                         <label>servos</label>
                    <button class="btn btn-default" ng-click="msg.startAll()">start all</button>
                    <button class="btn btn-default" ng-click="msg.startServos()">start servos</button>
                    <button class="btn btn-default" ng-click="msg.fullSpeed()">full speed</button>
                    <button class="btn btn-default" ng-click="msg.halfSpeed()">half speed</button>
                    <button class="btn btn-default" type="button" ng-click="msg.stop()">
                        <span>
                            <img src="../stop.png"/>&nbsp;&nbsp;&nbsp;&nbsp;stop
                        
                        </span>
                    </button>
                    <button class="btn btn-default" ng-click="msg.disable()">disable</button>
                </td>
            </tr>
            <tr>
                <td>
                   <img src="../Gestures.png"/>
                </td>
                <td>
                 <label for="sel1">gestures</label>
                    <input class="form-control" type="text" id="gesture" ng-model="selectedGesture" ng-readonly="isConnected" uib-typeahead="gesture for gesture in service.gestures | filter:$viewValue | limitTo:30" typeahead-min-length="0"/>
                    <button class="btn btn-default" ng-click="msg.loadGestures()">load gestures</button>
                    <button class="btn btn-default" ng-click="msg.cycleGestures()">cycle gestures</button>
                    <button class="btn btn-default" ng-click="executeGesture(selectedGesture)">execute</button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#/tabs/i02.head">
                        <img src="../InMoovHead.png"/>
                    </a>
                </td>
                <td>
                    <button class="btn btn-default" ng-click="msg.startHead()">start head</button>
                    <button class="btn btn-default" ng-click="msg.startEar()">start ear</button>
                    <button class="btn btn-default" ng-click="msg.startEye()">start eye</button>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../InMoovArm.png"/>
                </td>
                <td>
                    <!-- button class="btn btn-default" ng-click="msg.startGestures()">start gestures</button -->
                    <button class="btn btn-default" ng-click="msg.startLeftArm()">start left arm</button>
                    <button class="btn btn-default" ng-click="msg.startRightArm()">start right arm</button>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../InMoovHand.png"/>
                </td>
                <td>
                    <button class="btn btn-default" ng-click="msg.startLeftHand()">start left hand</button>
                    <button class="btn btn-default" ng-click="msg.startRightHand()">start right hand</button>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../InMoovTorso.png"/>
                </td>
                <td>
                    <button class="btn btn-default" ng-click="msg.startTorso()">start torso</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button ng-class="active" ng-click="msg.startHead()">b1 button</button>
                    <button class="btn btn-primary active" ng-click="msg.disable()">primary active button</button>
                </td>
            </tr>
        </table>
    </div>
</div>
