<!------------------------------HOMEPAGE START-------------------------->

<style>
    #containerIntro{
    width: 620px;
    height: 588px;
    /* border: 1px solid #000; */
    position: relative;
    background-image: url("../img/Intro/MRL_background.png");
    z-index: 0;
    float: none;
    }

    #containerIntro-cell {
    width: 620px;
    }

</style>

<table border="1" class="table table-striped">
    <tr>
        <td colspan="2">&nbsp;{{onText}} 
        </td>
    </tr>
    <tr>
        <link type="text/css" rel="stylesheet" media="all" href="../service/css/IntroGui.css">
        <td id="containerIntro-cell">
            <div id="containerIntro">
                <!-- Right -->
                
    
                <a id="arduinoButton" class="IntroButtons preventIntroDragSelect" title="A tutorial of how to start with Arduino and MRLComm.ino" href="https://youtu.be/-EQxjpsOJDg" target="_blank"><img src="../img/Intro/arduino.png"/>&nbsp;</a>
    
                <div id="inmoovButton" class="IntroButtons preventIntroDragSelect" title="Access and begin with InMoov" ng-click="mrl.changeTab('i01')"><img src="../img/Intro/inmoov.png"/>&nbsp;</div>
    
                <div id="serialButton" class="IntroButtons preventIntroDragSelect" title="Setup your serial devices" ng-click="setPanel('serial')"><img src="../img/Intro/serial.png"/>&nbsp;</div>
    
                <div id="visionButton" class="IntroButtons preventIntroDragSelect" title="Vision with OpenCV and filters" ng-click="msg.start('OpenCV','OpenCV')"><img src="../img/Intro/vision.png"/>&nbsp;</div>
    
                <!-- Left -->
    
                <div id="servoButton" class="IntroButtons preventIntroDragSelect" title="A quick run test with your servo" ng-click="msg.start('i01.servo', 'Servo')"><img src="../img/Intro/servo.png"/>&nbsp;</div>
    
                <div id="goButton" class="IntroButtons preventIntroDragSelect" title="Get started right away" ng-click="setPanel('runtime')"><img src="../img/Intro/go.png"/>&nbsp;</div>
    
                <a id="introductionButton" class="IntroButtons preventIntroDragSelect" title="A quick overview of MyRobotLab" href="http://myrobotlab.org/quick_start" target="_blank"><img src="../Intro/img/Intro.png"/>&nbsp;</a>

                <div id="pythonButton" class="IntroButtons preventIntroDragSelect" title="Start coding with Python" ng-click="mrl.changeTab('python')"><img src="../img/Intro/python.png"/>&nbsp;</div>
    
                <div id="securityButton" class="securityButtons preventIntroDragSelect" ng-click="setPanel('security')">Security</div>
    
                <div id="homeButton" class="homeButtons preventIntroDragSelect" ng-click="setPanel('extension')">Home</div>
            </div>
        </td>
    <td>
    <!-- panels begin -->
    <!------------------------ extension begin ------------------------------>
    <table ng-show="showPanel('extension')" class="table table-striped">
    <tr>
        <td>
            <img src="../img/Intro/MRL_extension1.png"/>
            <a id="logoButton" class="IntroButtons preventIntroDragSelect" title="What is MyRobotLab" href="http://myrobotlab.org" target="_blank"><img src="../img/Intro/logo.png"/></a>
         </td>
    </tr>
    </table>    
    <!------------------------ extension end ------------------------------>
    <!------------------------ arduino begin ------------------------------>
    <table ng-show="showPanel('arduino')" class="table table-striped">
    <tr>
        <td>
            <img src="../arduino.png"/>
            <label>Arduino:</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <img href="https://youtu.be/-EQxjpsOJDg" target="_blank">
        </td>
    </tr>
    </table>    
    <!------------------------ arduino end ------------------------------>
    <!------------------------ serial begin ------------------------------>
    <table ng-show="showPanel('serial')" class="table table-striped">
    <tr>
        <td>
            <img src="../serial.png"/>
            <label>Serial:</label>
            <P>Serial service is a way to send and receive serial data into and out of MRL</P>
            <a class="row col-md-3" href="http://myrobotlab.org/service/Serial" target="_blank">MORE INFO</a>
            <a class="row col-md-4" href="http://myrobotlab.org/service/Serial" target="_blank">LOAD SCRIPT IN PYTHON</a>
        </td>
    </tr>
    <tr>
        <td>
            <img width="600" src="http://myrobotlab.org/sites/default/files/users/user3images/Serial_1.png"/>
        </td>
    </tr>
    </table>
    <!------------------------ serial end ------------------------------>
    <!------------------------ servo begin ------------------------------>
    <table ng-show="showPanel('servo')" class="table table-striped">
    <tr>
        <td>
            <img src="../Servo.png"/>
            <label>Servo:</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <img ng-src="{{(!service.isServoActivated)?'../../red.png':'../../green.png'}}"/>
        </td>
    </tr>
    </table>
    <!------------------------ servo end ------------------------------>
    <!------------------------ introduction begin ------------------------------>
    <table ng-show="showPanel('introduction')" class="inmoov-sub-panel table table-striped">
    <tr>
        <td>
            <img src="../myrobotlab.png"/>
            <label>MyRobotLab:</label>&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
    </tr>    
    <tr>
        <td>
            <p> Maybe this can redirect to this link http://myrobotlab.org/quick_start</p>
            <a target="_self" href="http://myrobotlab.org/quick_start"></a>
        </td>
    </tr>
    </table>
    <!------------------------ introduction end ------------------------------>
    <!------------------------ security begin ------------------------------>
    <table ng-show="showPanel('security')" class="inmoov-sub-panel table table-striped">
    <tr>
        <td>
            <img src="../Security.png"/>
            <p>If you have something to hide this service is for you !<br>
            Useful to store passwords or secrets keys ( like api keys ) inside an AES safe and expose some code lines.<br>
            It is important to never expose API keys inside any script !</p>
            <a lass="row col-md-1" target="_blank" href="https://raw.githubusercontent.com/MyRobotLab/pyrobotlab/master/service/Security.py">LOAD SCRIPT IN PYTHON</a>
        </td>
    </tr>    
    <tr>
        <td>
            <div class="tab-content" service-body panel="mrl.getPanel('security')"></div>
        </td>
    </tr>
    </table>
    <!------------------------ security end ------------------------------>
    <!------------------------ runtime begin ------------------------------>
    <table ng-show="showPanel('runtime')" class="inmoov-sub-panel table table-striped">
    <tr>
        <td>
            <img src="../runtime.png"/>&nbsp;&nbsp;
            <p> The Runtime is the first Service to start when MyRobotLab begins.<br> Every running instance of MyRobotLab includes a single Runtime Service.<br> The Runtime is a singleton, which means there should be only one per running process of MyRobotLab.<br> Its responsibilities include the creation, removal, and merging of Services into the Service registry.<br>
            The registry is critical for routing communication between Services.<br>
            In addition to managing the endpoints of Service communication the Runtime can retrieve information<br> regarding details of the Java VM, operating system, and other details.</p>
            <a class="row col-md-3" target="_blank" href="http://myrobotlab.org/service/Runtime">MORE INFO</a>
            <a lass="row col-md-3" target="_blank" href="https://github.com/MyRobotLab/pyrobotlab/blob/master/service/Runtime.py">LOAD SCRIPT IN PYTHON</a>
        </td>
    
        <td>
            <div class="tab-content" service-body panel="mrl.getPanel('runtime')"></div>
        </td>
    </tr>
    </table>
    <!------------------------ runtime end ------------------------------>
    <!-- panels end -->
    </td></tr></table>
    
    <!------------------------------DEMO HOMEPAGE END---------------------------->
    
