<!-- file menu button bar begin -->
<div class="btn-group">
    <!-- python example resource files begin -->
    <div class="btn-group" uib-dropdown is-open="status.isopen">
    <button class="btn btn-default uib-dropdown-toggle" type="button" data-toggle="dropdown">
      <span class="glyphicon glyphicon-open">examples</span><!-- span class="caret"></span-->
    </button>	
    <ul uib-dropdown-menu>
      <!-- li ng-repeat="file in service.currentFileList" ng-class="navClass('{{file.type}}')"> <a href='' ng-click="msg.loadExample(getName(file.path))">{{getName(file.path)}}</a --> 
      <li ng-repeat="(key, value) in service.exampleUrls" ng-class="navClass('{{key}}')"> <a href='' ng-click="msg.loadPyRobotLabServiceScript(key)">{{key}}</a>       
        </li>
    </ul>
	</div>
    <!-- python example resource files end -->

    <!-- python open resource files begin -->
    <div class="btn-group" uib-dropdown is-open="status.isopen">
    <button class="btn btn-default uib-dropdown-toggle" type="button" data-toggle="dropdown">
      <span class="glyphicon glyphicon-open">open</span><!-- span class="caret"></span-->
    </button>	
    <ul uib-dropdown-menu>
      <!-- li ng-repeat="file in service.currentFileList" ng-class="navClass('{{file.type}}')"> <a href='' ng-click="msg.loadExample(getName(file.path))">{{getName(file.path)}}</a --> 
      <li ng-repeat="file in service.localPythonFiles" ng-class="navClass('{{file}}')"> <a href='' ng-click="msg.loadUserScript(file)">{{file}}</a>       
        </li>
    </ul>
	</div>
    <!-- python open resource files end -->

    <!-- python example resource files end -->

  <button type="button" class="btn btn-default" ng-click="msg.exec(editor.getValue())"><span class="glyphicon glyphicon-play"></span>execute</button>
  <button type="button" class="btn btn-default" ng-click="msg.stop()"><span class="glyphicon glyphicon-stop"></span>stop</button>
  <button type="button" class="btn btn-default" ng-click="msg.saveCurrentScript()"><span class="glyphicon glyphicon-save"></span>save</button>
  
</div>

 

<!-- file menu button bar end theme:'twilight',-->
<div>
<hr />
<div uib-tabset justified="true">
    <div uib-tab heading="{{tabName}}">	    
		<div style="height: 300px;width: 100%;" ui-ace="{
		                                       useWrapMode : true,
		                                       showGutter: true,		                                       
                                               theme:'chrome',
		                                       mode: 'python',
		                                       firstLineNumber: 1,
		                                       onLoad: aceLoaded,
		                                       onChange: aceChanged}">
		</div>
    </div>

    <div uib-tab heading="new file">
    </div>
    
    <div uib-tab heading="new file 2">
    </div>
</div>
</div>
<!-- FIXME - make debug window directive -->
<hr/>

<textarea ng-model="output" id="output" class="col-lg-12" readonly scroll-glue>
</textarea>	
<textarea  id="x" class="col-lg-12"/>
