<h3>nodes</h3>
<div>selected {{selectedPath}}</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>name</th>
            <th>map</th>
            <th>axis</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(id, entry) in service.nodes">
            <td>{{id}}</td>
            <td>
                <div ng-if="entry.mapper">({{entry.mapper.minX}},{{entry.mapper.maxX}},{{entry.mapper.minY}},{{entry.mapper.maxY}})</div>
            </td>
            <td>{{entry.rotationMask}}</td>
        </tr>
    </tbody>
</table>
<h3>multi-mapped nodes</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>name</th>
            <th>mapped to</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(id, entry) in service.multiMapped">
            <!-- td>{{id}}</td -->
            <td>{{id}}</td>
            <td>{{entry}}</td>
        </tr>
    </tbody>
</table>
