<div class="row">
    <div class="col-md-4">
        <br/>
        <br/>
        <b>type</b> <br/>
        {{service.config.speechType}}
        
        <select ng-model="service.config.speechType" ng-change="setType(service.config.speechType)" class="form-control" title="select a type of local voice control">
            <option ng-repeat="type in service.types" ng-value="{{type}}">{{type}}</option>
        </select>
        <div ng-show="service.config.speechType === 'Pico2Wav'">
            <b>Install pico2wave</b><br/>
            https://doc.ubuntu-fr.org/svoxpico<br/>
            <pre>sudo apt install libttspico-utils</pre>
        </div>
        <br/>
        <b>voice</b> <br/>
        <select ng-model="service.voice.name" ng-change="setVoice(voice)" class="form-control" title="select a voice">
            <option ng-repeat="(key, voice) in service.voices" ng-value="{{voice.name}}">{{voice.name}}</option>
        </select>
        <br/>
        <textarea type="text" class="form-control" placeholder="type here" ng-model="text"/>
        <br/>
        <button class="btn btn-default" ng-click="speak(text)">speak</button>
        <button class="btn btn-default" ng-click="text=''">clear</button>
    </div>
</div>
