
{{service.voice.name}}

<input type="text" class="form-control" press-enter="speak(text)" ng-model="text"/>

<ui-select ng-model="voiceSelected" theme="bootstrap" style="width: 300px">
    <ui-select-match placeholder="voice" allow-clear="true">
        <span>
             &nbsp;&nbsp;&nbsp;&nbsp;{{voice.value.name}} {{voice.value.gender}} {{voice.value.locale.tag}}
        </span>
    </ui-select-match>
    <ui-select-choices repeat="voice.key as (key, voice) in service.voices | filter: $select.search">
        <span>
            &nbsp;&nbsp;&nbsp;&nbsp;{{voice.value.name}} {{voice.value.gender}} {{voice.value.locale.tag}}
        </span>
    </ui-select-choices>
</ui-select>

<nav class="navbar" >
    <div class="dropdown navbar-nav ">
        <button class="btn btn-default " ng-click="speak(text)">Speak</button>
    </div>

    <div class="dropdown navbar-nav ">
        <button class="btn btn-primary dropdown-toggle " type="button " data-toggle="dropdown ">voices &nbsp;<span class="caret "></span>
        </button>
        <ul class="dropdown-menu ">
            <li ng-repeat="voice in service.voices ">
                <a href="#" ng-click="setVoice(voice)">{{voice.name}} {{voice.gender}} {{voice.local}}  {{voice.description}}</a>
            </li>            
        </ul>
    </div>
</nav>

