<!-- refer to https://bootstrapdocs.com/v3.3.6/docs/css/ -->
<div class="row">
    <div class="col-md-2">
        power
        <h2>{{service.powerInput.toFixed(2)}}</h2>
    </div>
    <div class="col-md-2">
        position
        <h2>{{position.toFixed(2)}}</h2>
    </div>
    <div class="col-md-2">
        port
        <h2>{{service.port}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-1">min X
        {{service.mapper.minX}}
    </div>
    <div class="col-md-1">max X
        {{service.mapper.maxX}}
    </div>
    <div class="col-md-1">min Y
        {{service.mapper.minY}}
    </div>
    <div class="col-md-1">max Y
        {{service.mapper.maxY}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        speed
        <rzslider class="custom-slider3 speedSlider" rz-slider-model="speedSlider.value" rz-slider-options="speedSlider.options"/>
        <button class="btn" ng-click="msg.stop();speedSlider.value=0">
            stop<img src="../stop.png"/>
        </button>
    </div>
    <div class="col-md-9"></div>
</div>
<div class="row">
    <div class="col-md-3">
        controller
        
        <select ng-disabled="service.controller" class="form-control" ng-model="selectedController">
            <option ng-repeat="controller in possibleControllers" value="{{controller}}">{{controller}} </option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        inverted
    <toggle class="miniBTN" title="invert the motor" ng-model="service.mapper.inverted" ng-change="service.mapper.inverted?msg.setInverted(true):msg.setInverted(false)" on="" off="" size="btn-lg"/>
    </div>
    <div class="col-md-3">
        locked
    <toggle class="miniBTN" title="invert the motor" ng-model="service.locked" ng-change="service.mapper.inverted?msg.setInverted(true):msg.setInverted(false)" on="" off="" size="btn-lg"/>
    </div>
</div>
