<div class="row">
    <div class="col-md-6">
        <h1>{{address}} {{color}}</h1>
        <!-- matrix {{service.currentMatrix}} -->
        
        <table>
            <tr>
                <td><attach options='controllerOptions'/></td>
                <td>&nbsp;</td>
                <td>pixel count </td>
                <td>&nbsp;</td>
                <td>
                    <input type="text" class="form-control" id="pixelCount" ng-model="pixelCount"/>
                </td>
            </tr>
        </table>
        <div class="btn-group" uib-dropdown>
            <button type="button" class="btn btn-default">pin {{pin}}</button>
            <button id="single-button" ng-disabled="service.controller != null" type="button" class="btn btn-default" uib-dropdown-toggle>
                <span class="caret"></span>
            </button>
            <ul uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-model="pin">
                <li ng-repeat="p in pins">
                    <a href="" ng-click="setPin(p)">{{p}}</a>
                </li>
            </ul>
        </div>
        <div class="btn-group" uib-dropdown ng-disabled="service.controller">
            <button type="button" class="btn btn-default">type {{service.type}}</button>
            <button type="button" class="btn btn-default" uib-dropdown-toggle>
                <span class="caret"></span>
            </button>
            <ul uib-dropdown-menu>
                <li ng-repeat="t in types">
                    <a href="" ng-click="msg.setType(t)">{{t}}</a>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-default" ng-click='attach()' ng-show='!service.controller'>attach</button>
        <button type="button" class="btn btn-default" ng-click='detach()' ng-show='service.controller'>detach</button>
        <div class="btn-group" uib-dropdown ng-hide="service.controller == null">
            <button type="button" class="btn btn-default">play animation {{service.currentAnimation}}</button>
            <button type="button" class="btn btn-default" uib-dropdown-toggle>
                <span class="caret"></span>
            </button>
            <ul uib-dropdown-menu>
                <li ng-repeat="animation in animations">
                    <a href="" ng-click="msg.playAnimation(animation)">{{animation}}</a>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-default" ng-click='msg.stopAnimation()' ng-show='service.controller != null'>stop</button>
        <div class="btn-group" uib-dropdown ng-hide="service.controller == null">
            <button type="button" class="btn btn-default">speed {{service.speedFps}} fps</button>
            <button type="button" class="btn btn-default" uib-dropdown-toggle>
                <span class="caret"></span>
            </button>
            <ul uib-dropdown-menu>
                <li ng-repeat="speed in speeds">
                    <a href="" ng-click="msg.setSpeed(speed);msg.broadcastState()">{{speed}}</a>
                </li>
            </ul>
        </div>
        <div class="btn-group" uib-dropdown ng-hide="service.controller == null">
            <button type="button" class="btn btn-default">brightness {{service.brightness}}</button>
            <button type="button" class="btn btn-default" uib-dropdown-toggle>
                <span class="caret"></span>
            </button>
            <ul uib-dropdown-menu>
                <li ng-repeat="b in brightnesses">
                    <a href="" ng-click="msg.setBrightness(b);msg.broadcastState()">{{b}}</a>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-default" ng-click='fill()' ng-show='service.controller != null'>fill</button>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-3">
        <table width="100%">
            <tr>
                <td>
                    color<color-picker id="fill" ng-model="pickedColor" options="colorPickerOptions" event-api="eventApi"></color-picker>
                </td>
                <td>
                    <button type="button" ng-style="led.style" class="btn btn-default" ng-click='clear();' tooltip="clear pixels">clear</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-9">&nbsp;</div>
</div>
<table>
    <tr>
        <td>set pixel </td>
        <td>&nbsp;</td>
        <td>
            <input type="text" class="form-control" id="set-pixel" ng-model="pos"/>            
        </td>
        <td>
        <button type="button" ng-style="led.style" class="btn btn-default" ng-click='setPixel();' tooltip="set pixel">set pixel</button>
        </td>
    </tr>
</table>
