<table class="table">
    <tr>
        <td>
            <label>OAK-D stereo depth</label>
            <div ng-show="service.capturing">capturing<span ng-show="service.usingSynthetic"> (synthetic)</span></div>
            <div ng-show="service.lastError" class="text-danger">{{service.lastError}}</div>
        </td>
    </tr>
    <tr>
        <td>
            <button class="btn btn-default" ng-click="startDepth()">Start depth</button>
            <button class="btn btn-info" ng-click="stopDepth()">Stop</button>
            <button class="btn btn-default" ng-click="startSynthetic()">Synthetic</button>
            <label style="margin-left: 12px;">
                <input type="checkbox" ng-model="service.config.rgbMesh" ng-change="setRgbMesh()"/>
                RGB mesh
            </label>
            <span class="text-muted">unchecked = voxel cloud</span>
        </td>
    </tr>
    <tr ng-show="classification">
        <td>
            {{classification.label}} {{classification.confidence}}
            xyz {{classification.x}} {{classification.y}} {{classification.z}}
        </td>
    </tr>
</table>
