<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-1">
        <button ng-hide="service.capturing" class="btn btn-default" ng-click="msg.capture()">capture</button>
        <button ng-hide="!service.capturing" class="btn btn-default" ng-click="msg.stopCapture()">stop capture</button>
    </div>
    <div class="col-md-5">
        <img class="responsive-img" src="../../OpenCV/cv-20382.png"/>
    </div>
    <div class="col-md-1">
        <table>
            <tr>
                <td>
                    <span class="label label-default">current filters</span>
                    <select class="custom-select" size="20">
                        <option selected>Open this select menu</option>
                        <option value="1">Canny</option>
                    </select>
                </td>
                <td>
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                    </button>
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </td>
                <td>
                    <span class="label label-default">available filters</span>
                    <select class="custom-select" size="20">
                        <option ng-repeat="filter in possibleFilters">{{ filter }}</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
</div>
<div>
    Video Widget <a href="http://localhost:9090/input">Here</a>
    <br/>
    <img ng-src="{{imgSource}}"/>
</div>
