<div>
  Camera Index: {{cameraIndex}}
  <br/>
  Frame Grabber: {{frameGrabber}}
  <br/>
  <select name="frameGrabber" ng-model="frameGrabber" ng-change="selectFrameGrabber(frameGrabber)" >
    <option value="org.bytedeco.javacv.VideoInputFrameGrabber">Video Input</option>
    <option value="org.bytedeco.javacv.OpenCVFrameGrabber">OpenCV</option>
  </select>
  <br/>
  Select Camera: <br/>
  <select name="cameraSelect" ng-model="cameraIndex" ng-change="selectCameraIndex(cameraIndex)">
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
  </select>
  <br/>
  <button id="startCapture" class="btn btn-default"  ng-click="startCapture()" ng-init="startCaptureLabel = 'Start Capture'">{{startCaptureLabel}}</button>
  </div>
  <div>
    Video Widget <a href="http://localhost:9090/input">Here</a><br/>
   
    <img ng-src="{{imgSource}}" />

  </div>
  <div>
  Filter Control
  </div>
</div>