<!-- div class="OpenCVStyle preventDragSelect" prevents dropdown-->
<div class="row">
    <div class="form-inline">
        <div class="form-group">
            <button class="btn btn-default" ng-hide="service.capturing" class="btn btn-default" ng-click="msg.capture()">
                <span class="glyphicon glyphicon-play text-primary"></span>
                &nbsp;Start Capture
            
            </button>
            <button class="btn btn-default" ng-hide="!service.capturing" class="btn btn-default" ng-click="msg.stopCapture()">
                <span class="glyphicon glyphicon-stop"></span>
                &nbsp;Stop Capture
            
            </button>
            <label>Web Viewer</label>
            <toggle class="miniBTN" title="invert the motor" ng-model="service.webViewer" ng-change="service.webViewer?msg.startWebViewer():msg.stopWebViewer()" on="" off="" size="btn-lg"/>
            <label>Native Viewer</label>
            <toggle class="miniBTN" title="invert the motor" ng-model="service.nativeViewer" ng-change="service.nativeViewer?msg.startNativeViewer():msg.stopNativeViewer()" on="" off="" size="btn-lg"/>
        </div>
        <div class="form-group">
            <label>Grabber</label>
            <select ng-disabled="service.capturing" class="form-control selectpicker" ng-model="service.grabberType" ng-change="msg.setGrabberType(service.grabberType)">
                <option ng-repeat="type in service.grabberTypes">{{type}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Source</label>
            <select ng-disabled="service.capturing" class="form-control" name="source" ng-model="service.inputSource" ng-dropdown required ng-change="msg.setInputSource(service.inputSource)">
                <option>camera</option>
                <option>imagefile</option>
                <option>pipeline</option>
            </select>
        </div>
        <div class="form-group" ng-show="service.inputSource == 'camera'">
            <label>Index </label>
            <select ng-disabled="service.capturing" class="form-control" name="cIndex" ng-model="camera.index" ng-dropdown required ng-change="msg.setCameraIndex(camera.index)">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
            </select>
        </div>
        <div id="File" ng-if="source.type == 'File'">
            <label>File </label>
            <input type="hidden" name="sourceOption" value="file" class="form-control"/>
            <input type="file" style="width:146px" class="form-control" ng-model="source.File"/>
        </div>
        <div id="URL" ng-if="source.type == 'URL'">
            <label>Address </label>
            <input type="hidden" name="sourceOption" value="url" class="form-control"/>
            <input type="text" style="width:146px" placeholder="http://example.com/video" class="form-control"/>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <!-- div ng-show="service.webViewer" class="col-md-6" -->
    <div class="col-md-6">
        <div>
            <label>Video Feed</label>
            <div class="miniBTN pull-right">
                <span>
                    Undock                       
                        <toggle ng-model="toggleUndock" ng-change="changed()" size="btn-lg"/>
                </span>
            </div>
        </div>
        <img data-ng-src="{{getDisplayImage()}}"/>
        <!-- /videoContainer -->
        <div class="videoInfo">
            <span class="glyphicon glyphicon-info-sign gray1"></span>
            {{service.displayFilter}} mouse x y 640x480 {{stats.fps}} fps  latency {{stats.latency}} ms
        
        
        
        </div>
        <br/>
        <label>Output</label>
        <table class="col-md-12 buttonsTable">
            <tr>
                <td colspan="2">
                    <input type="text" name="outputFolder" placeholder="data/OpenCV/output" value="data/OpenCV/output" class="form-control"/>
                </td>
                <td style="width:132px">
                    <button class="btn btn-default" style="width:126px">Set</button>
                </td>
            </tr>
            <tr>
                <td>
                    <select name="output" class="form-control" ng-model="output.type" ng-dropdown required>
                        <option ng-option value="video" selected>Video</option>
                        <option ng-option value="frames">Frames sequence</option>
                    </select>
                </td>
                <td style="width:104px">
                    <!--
                        <button class="btn btn-default" style="width:100px">
                            <span class="glyphicon glyphicon-record"></span> REC
                        </button>
                        -->
                    <button class="btn btn-default" style="width:100px">
                        <span class="glyphicon glyphicon-stop"></span>
                        STOP
                    
                    
                    
                    
                    
                    </button>
                </td>
                <td style="width:132px">
                    <button class="btn btn-default" style="width:126px">
                        <span class="glyphicon glyphicon-camera"></span>
                        Snapshot
                    
                    
                    
                    
                    
                    </button>
                </td>
            </tr>
            <td colspan="3">
                <!-- RECORDING -->
                <div class="progress-bar progress-bar-danger  progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    <span></span>
                    RECORDING
                
                
                
                
                
                </div>
            </td>
        </table>
    </div>
    <div class="col-md-6">
        <table class="col-md-12">
            <tr>
                <td>
                    <label>Current filters</label>
                </td>
                <td></td>
                <td>
                    <label>Available filters</label>
                </td>
            </tr>
            <tr>
                <td>
                    <select class="custom-select col-md-12" size="7" ng-model="selectedFilter" ng-change="setDisplayFilter(selectedFilter)">
                        <option ng-repeat="(key, value) in service.filters">{{ key }}</option>
                    </select>
                </td>
                <td class="text-center align-middle cellPadding">
                    <button class="btn btn-default" ng-click="addFilter()">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                    </button>
                    <br/>
                    <br/>
                    <button class="btn btn-default" ng-click="msg.removeFilter(selectedFilter)">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </td>
                <td>
                    <select class="custom-select col-md-12" ng-model="selectedFilterType" size="7">
                        <option ng-repeat="filter in possibleFilters">{{ filter }}</option>
                    </select>
                </td>
            </tr>
        </table>
        <!-- =================================== FILTER DIALOGS START =================================== -->
        &nbsp;<hr>
        <div ng-show="isFilterType('Affine')" class="col-md-12">
            In Euclidean geometry, an affine transformation is a geometric transformation that preserves lines and parallelism (but not necessarily distances and angles). 
            Rotational transformation would be an example.
            <hr>
            angle {{getFilter().angle}}  <rzslider class="custom-slider3" rz-slider-model="service.filters[service.displayFilter].angle" rz-slider-options="getFilterType().angle.options"/>
        </div>
        <div ng-show="isFilterType('Canny')" class="col-md-12">
            Canny edge detection is a technique to extract useful structural information from different vision objects and dramatically reduce the amount of data to be processed. 
            It has been widely applied in various computer vision systems.             
            <br/>
            <hr>
            Aperture Size {{getFilter().apertureSize}}  <rzslider class="custom-slider3" rz-slider-model="service.filters[service.displayFilter].apertureSize" rz-slider-options="getFilterType().apertureSize.options"/>
            <br/>
            Low Threshold {{getFilter().lowThreshold}}  <rzslider class="custom-slider3" rz-slider-model="service.filters[service.displayFilter].lowThreshold" rz-slider-options="getFilterType().lowThreshold.options"/>
            <br/>
            High Threshold {{getFilter().highThreshold}} <rzslider class="custom-slider3" rz-slider-model="service.filters[service.displayFilter].highThreshold" rz-slider-options="getFilterType().highThreshold.options"/>
        </div>
        <!-- =================================== FILTER DIALOGS STOP =================================== -->
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <button class="btn btn-default" ng-click="msg.setDisplay(true)">display</button>
    </div>
    <div class="col-md-5">
        <img class="responsive-img" src="../../OpenCV/cv-20382.png"/>
    </div>
</div>
<!-- /div -->
<script type="text/ng-template" id="addFilterDialog.html">
    
    
    
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
        Add new filter:
    </div>
        <div class="modal-body">
        <form class="form-inline" ng-submit="addNamedFilter(newUserName)">
        <div class="input-group">     
            name <input  ng-enter="addNamedFilter(newUserName)" class="form-control" type="text" ng-model="newUserName" autofocus /><br>           
        </div>
        </form>
        </div>
        <div class="modal-footer">            
            <span class="input-group-btn"><button class="btn btn-default" ng-click="addNamedFilter(newUserName)">add</button></span>        
            <!-- <button ng-click="cancel()" class="btn btn-primary">Close</button> -->
        </div>



</script>
