<table class="table-striped">
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">
            <form class="form-inline">
                <attach options='options'/>
                bus
                <select class="form-control" ng-model="service.deviceBus" ng-change="setBus()" ng-options="bus for bus in service.deviceBusList">
                    <option>{{bus}}</option>
                </select>
                address
                <select class="form-control" ng-model="service.deviceAddress" ng-change="setAddress()" ng-options="address for address in service.deviceAddressList">
                    <option>{{address}}</option>
                </select>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <button class="btn btn-default" ng-show="!service.isAttached" ng-click="attach()">attach</button>
            <button class="btn btn-default" ng-show="service.isAttached" ng-click="msg.detach(service.controllerName)">detach</button>
        </td>
    </tr>
    <tr>
        <td>
        <button class="btn btn-default" ng-show="service.isAttached" ng-click="startReading()">stop reading</button>
            <input type="text" class="form-control small-text-form" ng-model="service.rateHz" ng-change="setRate()"/>&nbsp;hz
        </td>
    </tr>
    <tr ng-show="service.isAttached" data-ng-repeat="(pinKey, pinDef) in service.pinMap">
        <td>
            {{ pinDef.pin }} <!-- toggle ng-model="toggleValue" class="toggle-text" ng-change="changed()" size="btn-sm" on="write" off="read"></toggle -->
            <toggle ng-model="toggleValue" class="toggle-text" ng-change="changed(pinDef, toggleValue)" size="btn-sm" on="1" off="0" on-class="btn-success"></toggle>
            <span class="badge badge-secondary">{{pinDef.value}}</span>
            <!--
            <oscope id="oscope" service-name="{{service.name}}"></oscope>
            -->
        </td>
    </tr>
</table>
