<form class="form-inline" role="forms">
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="form-group">
            &nbsp;&nbsp;&nbsp;<img ng-src="{{(service.isActive)?'../../green.png':'../../grey.png'}}" />
            <label for="pin">&nbsp;</label>   
            <button class="form-control" ng-show="!service.isEnabled" ng-click="enable()">enable</button><button class="form-control" ng-show="service.isEnabled" ng-click="disable()">disable</button>
            <label for="controller">&nbsp;</label>           
            <input class="form-control" id="controller" title="Select your controller for this device" type="text" placeholder="controller" ng-model="service.pinControl.name" ng-disabled="service.isAttached"/>
            <label for="pin">&nbsp;</label>
            <input class="form-control" id="pin" title="Which pin will trigger this device" type="text" placeholder="pin" ng-model="service.pin" ng-disabled="service.isAttached"/>
        </div>
    </div>
</form>
