<style>
    html, body {
        height: 100%;
        margin: 0px;
    }
</style>
<div id="tableProgramABtopContainer">
    <div>
        <table class="tableProgramABtop">
            <tr>
                <td rowspan="3">
                    <img class="photo" ng-src="{{getBotInfo()['img']}}"/>
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <button class="btn btn-default" ng-click="addBot=true" title="Add new Bot">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button class="btn btn-default" ng-click="msg.reload()" title="Reload Bot">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                        <select class="btn btn-default dropdown-toggle" ng-model="service.config.currentBotName" ng-change="msg.setCurrentBotName(service.config.currentBotName)" ng-options="key as key for (key, value) in service.bots"></select>
                        <div>
                </td>
                <td>
                    <input class="form-control userField" tabindex="1" type="text" ng-model="service.config.currentUserName" placeholder="{{service.config.currentUserName}}" ng-blur="msg.setCurrentUserName(service.config.currentUserName)"/>
                </td>
                <td rowspan="3">
                    <span ng-show="getCurrentSession() != null">
                        <img class="photo" ng-src="{{getCurrentSession()['predicates']['img']}}"/>
                    </span>
                    <span ng-show="getCurrentSession() == null">
                        <img class="photo" src="../service/img/user_unknown.png"/>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <div ng-show="!addBot" class="shortDescription">{{getProperty('description')}}</div>
                    <div ng-show="addBot">
                        <input class="form-control typeFolderField" type="text" ng-model="newBotPath" placeholder="c:\path\to\bot\folder" press-enter="speak()"/>
                        <br>
                        <button class="btn btn-default" ng-click="addBot=false">cancel</button>
                        <button class="btn btn-default" ng-click="addBot=false;msg.addBotPath(newBotPath)">add bot folder</button>
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                        <!--
                    <span class="glyphicon glyphicon-folder-open"></span>
                        {{getBotPath()}}<br/> -->
                        <b>topic</b> {{predicates['topic']}}
                
                </td>
                <td>
                    <span>
                        <img src="../service/img/ico_message.png"/>
                        <input class="form-control typeHereField" tabindex="2" type="text" ng-model="utterance" name="utterance" id="utterance" ng-init="" press-enter="getSessionResponse(utterance)" placeholder="type here"/>
                    </span>
                </td>
            </tr>
        </table>
        <div id="buttonMoreInfo">
            <a href="" ng-click="tablemoreInfo=true">
                <img src="../service/img/more_info.png">
            </a>
        </div>
        <!-- info -->
        <div class="tablemoreInfo" ng-show="tablemoreInfo">
            <table class="tableProgramABinfo">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td colspan="2">
                                    <h4>Location</h4>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">{{getBotPath()}}</td>
                            </tr>
                            <tr><td><h4>Use Language Model Fallback</h4></td><td>
                                <button class="btn btn-default" ng-show="predicates['gpt3'] != 'enabled'" 
                                    ng-click="msg.setPredicate('gpt3', 'enabled');msg.getPredicates()">off</button>
                                <button class="btn btn-info" ng-show="predicates['gpt3'] == 'enabled'"
                                    ng-click="msg.setPredicate('gpt3', '');msg.getPredicates()">on</button>
                                <span ng-show="peer.isPeerStarted(service, 'gpt3')">
                                    <img src="settings.png" width="30" title="Open" ng-click="mrl.changeTab(peer.getActualName(service, 'gpt3'))"/>
                                </span>
                                    </td></tr>
                            <tr>
                                <td colspan="2">
                                    <h4>Manifest</h4>
                                </td>
                            </tr>
                            <tr ng-repeat="(key, value) in getBotInfo()['properties']">
                                <td>{{key}}</td>
                                <td>{{value}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <h4>Properties</h4>
                                </td>
                            </tr>
                            <tr ng-repeat="(key, value) in getBotInfo()['botProperties']">
                                <td>{{key}}</td>
                                <td>{{value}}</td>
                            </tr>
                        </table>
                    </td>
                    <td></td>
                </tr>
            </table>
            <div id="buttonHideInfo">
                <a href="" ng-click="tablemoreInfo=false">
                    <img src="../service/img/hide_info.png">
                </a>
            </div>



            
        </div>
       
                            
                                <!-- good for debugging
        <div class="chatBalloonBotLast">
            <div class="chatContent">{{lastResponse}}
            </div>
        </div>
        <div class="programABstatusBalloon">
            <div ng-hide="status == null">
                <div ng-class="getStatusLabel(status.level)">
                    {{status.detail}}
                    <button type="button" class="close" data-ng-click="status = null" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
                            
                                -->
        <!-- tableBottom -->
        <div class="BottomContent">
            <table class="tableBottom">
                <tr>
                    <td>
                        <div class="leftPannel">
                            <uib-tabset ng-init="tabs.selected = 1" active="tabs.selected">
                                <uib-tab index="1" heading="Debug">
                                    <div class="tabContainer">
                                        <div id="log-console">
                                            <br/>
                                            <div ng-repeat="logContent in log track by $index">
                                                <!-- div ng-bind-html="logContent.text"></div -->
                                                <span>
                                                    {{logContent.text}}<button ng-show="logContent.filename" class="btn btn-xs btn-info" ng-click="getAimlFile(logContent.filename)">{{logContent.filename}}</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab index="2" heading="Edit">
                                    <div class="tabContainer">
                                        <button class="btn btn-xs btn-info" ng-click="saveAimlFile(aimlFile)">Save</button>
                                        <button class="btn btn-xs btn-info" ng-click="aimlEditor.execCommand('find')">Find</button>
                                        <div ng-model="aimlFileData.data" class="editAIML" id="$index" ui-ace="{
                                                                       useWrapMode : false,
                                                                       showGutter: true,                                               
                                                                       theme:'chrome',
                                                                       mode: 'xml',
                                                                       firstLineNumber: 1,
                                                                       onLoad: aceLoaded,                                              
                                                                       onChange: aceChanged}"></div>
                                    </div>
                                </uib-tab>
                                <uib-tab index="3" heading="Predicates">
                                        <button ng-click="msg.getPredicates()"><span class="glyphicon glyphicon-refresh"></span></button>
                                    <div class="tabContainer tabScroll">
                                        <br>
                                        <table class="table table-striped">
                        <tr ng-repeat="(key, value) in predicates">
                            <td>
                                    {{key}}
                            </td>
                            <td>
                                    {{value}}
                            </td>
                        </tr>

                                                <!--
                                            <tr>
                                                <td>
                                                    <input class="form-control" type="text" ng-model="newKey" placeholder="new key"/>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" ng-model="newValue" placeholder="new value" ng-enter="msg.setBotProperty(newKey, newValue);msg.broadcastState();newKey='';newValue=''"/>
                                                </td>
                                                <td class="pull-right"></td>
                                                <td>
                                                    <button class="btn btn-default form-control" type="text" ng-click="msg.setBotProperty(newKey, newValue);msg.broadcastState();newKey='';newValue=''">add</button>
                                                </td>
                                            </tr>
                                                -->
                                        </table>
                                    </div>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </td>
                    <td>
                        <div class="rightPannel">
                            <uib-tabset ng-init="tabsRight.selected = 1" active="tabsRight.selected">
                                <uib-tab index="1" heading="Chat">
                                    <div class="tabContainer tabScroll">
                                        <table class="tableChat">
                                            <tr ng-repeat="chatContent in chatLog track by $index">
                                                <td>
                                                    <div class="chatBalloon{{chatContent.type}}">
                                                        <div class="chatContent" ng-bind-html="chatContent.text"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- ------ -->
<script type="text/ng-template" id="startDialog.html">
    
    
    
    
    
<div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
        Start a new session here :
    </div>
        <div class="modal-body">
        <div class="input-group">     
            session <input class="form-control" type="text" placeholder="{{newUserName}}" ng-model="newUserName"/><br>
            bot name 

            <select class="form-control"
            ng-model="newBotName" 
            ng-options="o as o for o in service.availableBots">
            </select>

        </div>
        </div>
        <div class="modal-footer">            
            <span class="input-group-btn"><button class="btn btn-default" ng-click="startSession(newUserName,newBotName)">start</button></span>        
            <!-- <button ng-click="cancel()" class="btn btn-primary">Close</button> -->
        </div>







</script>
