<div class="row">
    <h3>Random Methods 
    <toggle width="30" height="28" ng-model="service.enabled" ng-change="service.enabled?msg.enable():msg.disable()" on=" " off=" "></toggle>
    </h3>
    <b>service.method</b>(param ranges) every interval<br/><br/>
        <div ng-repeat="(key, value) in service.randomData">
            <toggle width="30" height="28" ng-model="value.enabled" ng-change="value.enabled?msg.enable(key):msg.disable(key)" on=" " off=" "></toggle>
            <b>{{key}}</b>(
            <span ng-repeat="param in value.data">
                {{param.min}} - {{param.max}}
                <span ng-repeat="item in param.set">
                    {{item}}
                </span>
            </span>
            )
        </span> every <span> {{value.minIntervalMs}} ms to {{value.maxIntervalMs}} ms
        </div>
</div>