<div class="col-md-3">
    <table>
        <tr>
            <td>
                If you will be using I2C GPIO pins make sure you have enabled 
     i2c with raspiconfig
    <pre>sudo apt-get install -y i2c-tools</pre>
                More recent rasbian distributions require building and installing this library 
    <a href=https://github.com/WiringPi/WiringPi>https://github.com/WiringPi/WiringPi</a>
            </td>
        </tr>
        <tr>
            <td>
                <b>board type</b>
                {{service.boardType}}<br/>
            </td>
        </tr>
        <tr>
            <td>
                <button class="form-goup btn btn-default" title="clear consoles" ng-click="scan(service.bus)">scan i2c</button>
                <br/>
                <select ng-model="service.bus" class="form-goup form-control" title="format the data recieved as ascii, decimal or hex">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <br/>
                <b>bus</b>
                <div ng-repeat="(index, pin) in service.validAddresses">{{index}} {{pin}}</div>
            </td>
        </tr>
        <tr>
            <td>
                <img src="RasPi/raspi-3-pin-out.png" width="400"/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="RasPi/raspi-3-model-b-rev-1.2.png" width="400"/>
            </td>
        </tr>
    </table>
</div>
<!-- 

        <table>
            <tr>
                <th>pin</th>
                <th>enable</th>
                <th>input /<br/>output</th>
                <th>digital /<br/>analog</th>
            </tr>
            <tr ng-repeat="(index, pin) in service.pinIndex">
                <td><b>{{pin.pin}}</b></td>
                
                <td><toggle on-class="btn-success" width="35" height="28" ng-model="selectedEnable" ng-change="makeDigital(pin.address)" width="80" height="30" on="" off=""/></td>
                <td><toggle width="70" height="28" ng-model="selectedIo" ng-change="makeDigital(pin.address)" width="80" height="30" on="input" off="output"/></td>
                <td ng-show={{pin.isAnalog}}><toggle width="70" height="28" ng-model="selectedAnalog" title="Virtual or Real Hardware" ng-change="makeDigital(pin.address)" width="80" height="30" on="analog" off="digital"/></td>
            </tr>
        </table>
-->
