<div class="row">
    <div class="col-md-8">
        <br />
        <br />
        <b>type</b>
        <br />
        <select ng-model="speechType" ng-change="setType()" class="form-control"
            title="select a type of local voice control">
            <option ng-repeat="(key, value) in service.config.speechTypes" ng-value="key">{{key}}</option>
        </select>
        <div ng-show="service.config.speechType === 'OpenAI'">
            <b>OpenAI requires an OpenAI API Key</b>
            <br />
            You can get it here. <a href="https://platform.openai.com/api-keys">OpenAI Keys</a>
        </div>
        <br />
        <p>
            <strong>Type:</strong>
            {{service.config.speechType}}
        </p>
        <p>
            <strong>URL:</strong>
            {{ getUrl(service) }}
        </p>
        <p>
            <strong>Verb:</strong>
            {{ getVerb(service) }}
        </p>
        <p>
            <strong>Template:</strong>
            {{ getTemplate(service) }}
        </p>
        <p>
            <strong>Auth Token:</strong>
            {{ getAuthToken(service) }}
        </p>
        <br />
        <br />
        <textarea type="text" class="form-control" placeholder="type here" ng-model="text" />
        <br />
        <button class="btn btn-default" ng-click="speak(text)">speak</button>
        <button class="btn btn-default" ng-click="text=''">clear</button>
    </div>
</div>