<div>
    <h3>{{pulseData}}</h3>
   <div class="col-xs-3">
   
     <div class="btn-group">
        <button ng-click="scan()"class="btn btn-default" ng-model="scan.state" btn-checkbox>{{scanText}}</button>
        <button ng-click="connect(connectUrl)"  class="btn btn-default" ng-init="count=0">{{connectText}}</button>
    </div>

   </div>       
   <div class="col-xs-3">
    <!-- <input type="text" class="form-control" ng-model="connectUrl" ng-disabled="intervalDisabled" /> -->
    <input type="text" class="form-control" ng-model="connectUrl" ng-disabled="intervalDisabled" />
   </div>       
   <div class="col-xs-3">

	<li 
			ng-repeat="friend in friendsOne"
			bn-log-dom-creation="Without">

			{{ friend.id }} &mdash; {{ friend.name }}
	</li>


   
   </div>       
</div>