<div class="row">&nbsp;</div>
<div class="row">
    <h3>&nbsp;&nbsp;&nbsp;{{platform.arch}}.{{platform.jvmBitness}}.{{platform.os}} {{platform.mrlVersion}}</h3>
</div>
<div class="row">
    <div class="form-inline col-md-6">
        <input class="form-control" type="text" ng-model="newName" placeholder="name" title="name of new service to be created" press-enter="start(newName, newType)">
        <input class="form-control" type="text" ng-model="newType" placeholder="Service Type" press-enter="start(newName, newType)" title="service type of the new instance to be created" uib-typeahead="service as service.name.substring(23) for service in possibleServices | filter:{name:$viewValue}" typeahead-min-length="0" typeahead-template-url="nav/templates/serviceSearchTemplate.html"/>
        <button class="btn btn-default" title="press to create a new service, you must give the new service a name and type" ng-click="start(newName, newType)">start service</button>
        <button class="btn btn-default" ng-click="msg.install()">install all services</button>
    </div>
</div>
<div class="row">&nbsp;</div>
<!-- service type selector begin -->
<div class="row">
    <div class="form-inline col-md-6">

        <ui-select ng-model="category.selected" theme="bootstrap" style="width: 3.5em">
            <ui-select-match placeholder="&nbsp;&nbsp;&nbsp;&nbsp;category&nbsp;&nbsp;&nbsp;&nbsp;." allow-clear="true">
                 <span><img ng-src="{{'/core/category/' + $select.selected.key + '.png'}}" width="18"/>&nbsp;&nbsp;&nbsp;&nbsp;{{$select.selected.key}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </ui-select-match>
            <ui-select-choices repeat="category.key as (key, category) in service.serviceData.categoryTypes | filter: $select.search">
                <span><img ng-src="{{'/core/category/' + category.key + '.png'}}" width="18"/>&nbsp;&nbsp;&nbsp;&nbsp;{{category.value.name}}</span>
            </ui-select-choices>
        </ui-select>


        <table class="table table-striped">
            <tr ng-repeat="(fullTypename, metaData) in filterServices()">               
                <td nowrap><span ng-click="setServiceType(metaData.simpleName)">
                    <img ng-src="/{{metaData.simpleName + '.png'}}" width="18" ng-click="setServiceType(metaData.simpleName)"/>&nbsp;&nbsp;{{metaData.simpleName}}     
                    </span>                                   
                </td>
                <td><span ng-click="setServiceType(metaData.simpleName)">{{metaData.description}}</span></td>
                <td><img src='/core/category/key.png' width="18" ng-show='metaData.requiresKeys' uib-tooltip='requires keys'/> </td>
                <td><img src='/core/category/cloud.png' width="18" ng-show='metaData.isCloudService' uib-tooltip='cloud service'/></td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <form ng-submit="sendToCli(cmd);cmd=null">
        <div class="form-group col-md-6">
            <input ng-model="cmd" class="form-control span6" placeholder="command" title="send commands to myrobotlab using the command box &#10;  /{name}/{method}/{parameter0}/{parameter1}/... &#10; ls - list &#10; pwd - print working directory"/>
        </div>
    </form>
</div>

<div class="row">
    <div class="form-group col-md-6">
        <textarea ng-model="status" class="form-control" placeholder="status display" rows="8" cols="100" readonly></textarea>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">remote id</th>
                    <th scope="col">connections</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(id, connectionList) in connections">
                    <td>{{id}}</td>
                    <td>
                        <table class="table table-hover">
                            <tr ng-repeat="c in connectionList">
                                <td>
                                    <img ng-src="{{'/' + c['c-type'] + '.png'}}" width="18"/>{{c['c-type']}}                                
                                </td>
                                <td>{{c.gateway}}</td>
                                <td>{{c.uuid}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
