<div class="row">
    <div class="col-md-6">
        <img ng-src="../../{{service.isConnected?'connected':'disconnected'}}.png" tilte="connected light &#10; green is connected &#10; red is disconnected"/>
        <label>port</label>
        <div class="btn-group">
            <!-- {{possiblePorts}} -->
            <input class="form-control" type="text" id="portName" ng-model="service.port" ng-readonly="service.isConnected" uib-typeahead="portName for portName in possiblePorts | filter:$viewValue" typeahead-min-length="0" title="Serial port to connect to - &#10; clicking on this box should show a list of possible ports. &#10; Typically Windows list serial ports as COM1,COM2 etc and Linux or Mac will have /dev/ttyS1 .. etc &#10; You may create a virtual port just by typing some arbitrary name and making sure the service is in virtual mode, &#10; then pressing the connect button"/>
            <button class="btn btn-default" ng-show="!service.isConnected" ng-click="refresh()">refresh</button>
            <button class="btn btn-default" ng-show="!service.isConnected" ng-click="msg.connect(service.port)">connect</button>
            <button class="btn btn-default" ng-show="service.isConnected" ng-click="msg.disconnect()">disconnect</button>
            <!-- span class="input-group-btn"><button class="btn btn-default" ng-model="monitorModel" btn-checkbox ng-click="monitor()">monitor</button></span -->
        </div>
    </div>
    <div class="col-md-6">&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-2">
        <table>
            <tr>
                <td colspan="2"><b>ports</b></td>
            </tr>
            <tr ng-repeat="c in service.motorPorts">
                <td>&nbsp;</td>
                <td>{{c}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-2">
        <table>
            <tr>
                <td colspan="2"><b>attached motors</b></td>
            </tr>
            <tr ng-repeat="c in service.motors">
                <td>&nbsp;</td>
                <td>{{c}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-8">&nbsp;</div>
</div>
