<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <label>Key File Name : {{service.keyFileName}}</label>
        </div>
        <div class="row">
            <label>Key Store Path : {{service.storeFileName}}</label>
        </div>

        <div class="row"> Service Keys
            <table>
                <theader>
                    <td><h4>Key Name</h4></td>
                </theader>
                <tr ng-repeat="k in service.serviceKeyNames">
                    <td><small>{{k}}&nbsp;&nbsp;&nbsp;&nbsp;</small></td>
                </tr>
            </table>
        </div>

        <div class="row"> Keys
            <table>
                <theader>
                    <td>Key Name</td>
                    <td>Secret</td>
                    <td>Remove</td>
                </theader>
                <tr ng-repeat="k in keyNames" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td>{{k}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <!-- bogus password field to show that it has been filled -->
                        <input class="form-control" type="text" value="****************************" ng-disabled="true">
                    </td>
                    <td>
                        <button type="button" class="close" aria-label="Close" ng-click="msg.deleteKey(k)" title="remove this key from the key store">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </td>
                </tr>
            </table>
            <!--FIXME - repeat all active keynames -->
            <div class="row">
                <div class="col-lg-12">
                    <form class="form-inline">
                        <input class="form-control" type="text" ng-model="key" placeholder="key" title="key name to identify secret">
                        <input class="form-control" type="password" autocomplete="current-password" ng-model="secret" placeholder="secret" title="secret to be protected - used in some services like Polly">
                        <button class="btn btn-default" ng-click="msg.setKey(key, secret); key = ''; secret = '';">add secret</button>
                    </form>
                </div>
            </div>
            <!--FIXME - repeat all active usernames -->
            <!-- NOT YET IMPLEMENTED
                <div class="row">
                    <div class="col-lg-12">
                        <form class="form-inline">
                            <input class="form-control" type="text" ng-model="user" placeholder="user" title="">
                            <input class="form-control" type="password" autocomplete="current-password" ng-model="password" placeholder="password">
                            <button class="btn btn-default" ng-click="msg.addUser(user, password); user = ''; password = '';">add user</button>
                        </form>
                    </div>
                </div> -->
        </div>
    </div>
</div>

<!--
<button ng-click="mrl.changeTab('runtime')">runtime</button>    
<div class="tab-content" service-body panel="mrl.getPanel('runtime')"></div>
-->
