<!-- link rel="stylesheet" href="service/views/ServoMixer.css" -->
<!-- ServoMixerGui html-->
<!--
selectedSequence {{state.selectedSequence}}<br/>
selectedPose {{state.selectedPose}}<br/>
-->
<div class="container rzMixer">
        <div class="col-md-12">
            <table class="tableController table-striped table-bordered">
                <tr valign="top">
                    <td>
                        <span class="currentPose">
                            <b>Pose</b>
                            {{state.selectedPose}}&nbsp;
                        </span>
                        <div class="buttonsRow">
                            <span class="glyphicon glyphicon-folder-open"></span>
                            <input class="form-control directoryName" type="text" ng-model="service.servoMixerDirectory" name="directoryName" id="directoryName" ng-init="" placeholder="Pose directory" style="width:200px">
                            <button class="btn btn-default" ng-click="msg.setPosesDirectory(service.servoMixerDirectory)">Set</button>
                        </div>
                        <select ng-model="state.selectedPose" ng-change="msg.getPose(state.selectedPose)" class="form-control vertical-menu poseList" size="6" title="Select a pose to load">
                            <option ng-repeat="x in poseFiles" ng-value="{{x}}">{{x}}</option>
                        </select>
                        <button class="btn btn-default" ng-click="msg.moveToPose(state.selectedPose)">
                            <span class="glyphicon glyphicon-play"></span>
                            Move
                        </button>
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-open"></span>
                            Load
                        </button>
                        <button class="btn btn-default" ng-click="msg.removePose(state.selectedPose)">
                            <span class="glyphicon glyphicon-remove red"></span>
                            Delete 
                        </button>
                        <input class="form-control fieldSave" ng-model=state.selectedPose type="text" name="servo-mixer-pose" id="servo-mixer-pose" ng-init="" placeholder="name" style="">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="msg.savePose(state.selectedPose)">Save</button>
                        </span>
                        Blocking
                        <toggle ng-model="toggleBlocking" class="miniBTN" title="Servo will block until the current moveTo is finished" ng-change="!service.isBlocking?msg.isBlocking(false):msg.isBlocking(true)" on="" off="" size="btn-lg"/>
                    </td>
                    <td>
                        <!--            <h2>&nbsp;{{state.currentRunningPose}}</h2> -->
                        <div class="labelRow">Sequence {{state.selectedSequenceFile}}</div>
                        <select ng-model="state.selectedSequenceFile" ng-change="msg.loadSequence(state.selectedSequenceFile)" class="form-control vertical-menu poseList" size="6" title="Select a sequence to load">
                            <option ng-repeat="x in sequenceFiles" ng-value="{{x}}">{{x}}</option>
                        </select>
                        <button class="btn btn-default" ng-click="msg.getSequence(state.selectedSequenceFile);sequenceName = state.selectedSequenceFile">
                            <span class="glyphicon glyphicon-open"></span>
                            Load
                        </button>
                        <button class="btn btn-default" ng-click="msg.playSequence(state.selectedSequenceFile)">
                            <span class="glyphicon glyphicon-play"></span>
                            Play
                        
                        
                        
                        </button>
                        <button class="btn btn-default" ng-click="msg.playSequence(state.selectedSequenceFile)">
                            <img src="stop.png"/>Stop
                        
                        </button>
                        <button class="btn btn-default" ng-click="msg.removeSequence(state.selectedSequenceFile)">
                            <span class="glyphicon glyphicon-remove red"></span>
                            Delete
                        
                        
                        
                        </button>
                    </td>
                    <td>
                        <div class="labelRow">Sequence content</div>
                        <button class="btn btn-default" title="Add speech to sequence">
                            <span class="glyphicon glyphicon-plus"></span>
                            Speak
                                        
                        
                        
                        </button>
                        <input class="form-control servo-mixer-pose" type="text" ng-model="addSequenceSpeak" name="addSequenceSpeak" id="addSequenceSpeak" ng-init="" placeholder="type">
                        Blocking <toggle class="miniBTN" title="Speak Blocking" ng-model="blocking" ng-change="" on="" off="" size="btn-lg"/>
                        <button class="btn btn-default" title="Add current pose to sequence" ng-click="msg.addSequencePose(state.selectedPose)">{{state.selectedPose}}</button>
                        <button class="btn btn-default" ng-click="addSequenceDelay(delay)" title="Add Delay in seconds to sequence">
                            <span class="glyphicon glyphicon-plus"></span>
                            Delay
                        
                        </button>
                        <input class="form-control fieldDelay" type="text" ng-model="delay" ng-init="3" placeholder="sec">
                        <select ng-model="state.selectedSequence" ng-change="setSequence()" class="form-control vertical-menu poseList" size="6" title="Select a pose to load">
                            <option ng-repeat="pose in state.currentSequence.poses" value="{{pose}}">{{pose.name}} {{(pose.waitTimeMs/1000)}}</option>
                        </select>
                        <button class="btn btn-default" title="Move Up" ng-click="moveUpPoseInSequence()">
                            <span class="glyphicon glyphicon-triangle-top"></span>
                        </button>
                        <button class="btn btn-default" title="Move Down" ng-click="moveDownPoseInSequence()">
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                        </button>
                        <button class="btn btn-default" title="Play" ng-click="moveSequenceContent(state.selectedSequence)">
                            <span class="glyphicon glyphicon-triangle-right"></span>
                        </button>
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-plus" ng-click="addPoseToSequence()"></span>
                        </button>
                        <button class="btn btn-default" title="Remove Pose" ng-click="removePoseFromSequence()">
                            <span class="glyphicon glyphicon-remove red"></span>
                        </button>
                        <input class="form-control" type="text" ng-model="sequenceName" name="sequenceName" id="sequenceName" ng-init="" placeholder="name" style="">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="saveSequence(sequenceName)">Save</button>
                        </span>
                    </td>
                </tr>
            </table>
            <br/>
            <input id="servo-mixer-filter" class="form-control" ng-change="searchServos(searchServo.displayName)" type="text" ng-model="searchServo.displayName" ng-init="" placeholder="servo name">
            <br/><br/>
            <div ng-model="dummy" ng-repeat="(key, value) in searchServos(searchServo.displayName)">
                <div class="sliderMixer">                   
                    <div class="servomixer-hidden">
                        <div service-body panel="mrl.getPanel(key)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
