             
<!-- ServoGui.html -->
<div id="servoContent" onload="refreshSlider()">

  <div class="row">
    <div class="col-md-12">

      <uib-tabset>
        <uib-tab heading="Basic" select="refreshSlider()">
          <!-- ------------------ Basic ------------------ -->
          <nav class="settingsbarBasic">
            <div class="containgger-fluid">
              <span>
                <form class="navbar-form">Controller 

                  <select class="form-goup form-control" style="width: 120px!important;" title="Encoders list">
                    <option selected>FIXME Detached</option>
                    <option>left</option>
                    <option>right</option>
                  </select> 


                  <span id="PinEnable">
                     PIN <input type="text" class="form-control" ng-disabled="service.enabled" placeholder="#" ng-model="pin"/>
                    <button class="btn btn-default pinOn" ng-show="service.enabled" ng-click="msg.disable()">Enabled</button>
                    <button class="btn btn-default pinOff" ng-show="!service.enabled" ng-click="msg.setPin(pin);msg.enable()">Disabled</button>
                  </span>

                  <!-- Temporal for test -->
                  <span style="background-color: #FF5555; height: 30px; display: inline-block;"> Temp
                    <tr ng-repeat="c in service.controllers">
                      <span>
                        <attach ng-model="possibleController" interface="org.myrobotlab.service.interfaces.ServoController"/>
                      </span>
                    </tr>

                    <button class="btn btn-default btn-xs" ng-show="!isAttached()" ng-click="attachController()">attach</button>
                    <button class="btn btn-premium btn-xs" ng-show="isAttached()" ng-click="msg.detach(c)">detach</button>
                  </span>
                  <!-- /Temp ------------ -->

                </form>
              </span>

            </div>
          </nav>

          <div class="row">
            <div class="col-md-12">
              <div ng-show="!service.enabled" id="servoMask"></div>
              <div id="servoPositionArea">        
                <div id="servoPosition" class="preventDragSelect" style="left: calc(100% - (({{100 -(service.currentPos.toFixed(2)*100/180)}}%) - 0px));">
                  <span class="glyphicon glyphicon-eject white"></span>
                  <span class="servoBubble preventDragSelect">{{service.currentPos.toFixed(2)}}</span>
                </div>
              </div>
              <div ng-show="service.enabled" class="preventDragSelect">
                <div id="energizedZone">
                  <div id="energizedBar" title="the servo is energized" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  <span class="glyphicon glyphicon-flash"></span>ENERGIZED
                  </div>                
                </div>
              </div>          
              <rzslider class="custom-slider2" id="sliderPosition"  ng-click="msg.setPin(pin);msg.enable()" rz-slider-model="pos.value" rz-slider-options="pos.options"/>

              <div id="outputZone">
                <div id="outputLimit" class="preventDragSelect" style="left: calc(100% - ({{100 -(limits.minValue*100/180)}}%)); width: calc(100% - ({{100 -((limits.maxValue-limits.minValue)*100/180)}}%));"></div>
                <div id="restPoint" style="left: calc(100% - (({{100 -(rest*100/180)}}%) - 0px));">{{rest}}</div>
              </div>

            </div><!-- /.col-md-12 -->
          </div><!-- /.row -->
        </uib-tab>



        <uib-tab heading="Advanced" select="refreshSlider()">
          <!-- ------------------ Advanced ------------------ -->

          <nav class="settingsbar">
            <!-- <div class="container-fluid"> -->
              <span>
                Invert <!-- ---- FIXME ---- -->
                <toggle ng-model="toggleInvert" title="Invert rotation of servo" ng-change="changed()" size="btn-lg" />
              </span>
              <span>
                Blocking <!-- ---- FIXME ---- -->
                <toggle ng-model="toggleBlocking" title="Servo finish a moveTo() before launching another moveTo()" ng-change="changed()" on="" off="" size="btn-lg" />
              </span>
              <span>
                Sweep <!-- ---- FIXME ---- -->
                <toggle ng-model="toggleSweep" title="Servo moves back and forth" ng-change="!service.isSweeping?msg.stop():msg.sweep()" on="" off="" size="btn-lg" />

                <!--
                     <button class="btn btn-default  btn-xs" style="width: 80px; height: 34px;" type="button" ng-click="sweep()">
                     <button class="btn btn-default glyphicon glyphicon-stop btn-xs" type="button" ng-click="msg.stop()"></button>
                   -->

              </span>
              <span class="lastColumn">
                Auto-disable <!-- FIXME -->
                <input type="text" class="form-control" title="Servo will disable automatically after a given time" placeholder="3" ng-model="time" /> sec
                <toggle ng-model="toggleAutoDisable" ng-change="changed()" size="btn-lg" />
                <!--          
                <input type="checkbox" {{(service.autoDisable)?" checked ":"  "}}  autocomplete="off" ng-click="msg.setAutoDisable(!service.autoDisable)">
                -->
                <!-- ---- can we set timeout on toggle Auto-disable ON? ---- -->
                <!-- ---- or we need a (Set) button? ---- -->
                
              </span>
            <!-- </div> -->
          </nav>

        <nav class="settingsbar">
          
            <span class="switchesButtons">

              Input <!-- FIXME - hardcoded to test-->
              <button class="btn btn-input"  ng-click="setMinMax({service.currentPos.toFixed(2)},143)">Min</button>
              <button class="btn btn-input"  ng-click="">Max</button>
            </span>
            <span class="switchesButtons">

              Output<!-- FIXME - hardcoded to test-->
              <button class="btn btn-output"  ng-click="msg.setMinMax({service.currentPos.toFixed(2)},143)">Min</button>
              <button class="btn btn-output"  ng-click="msg.setMinMax(8,{service.currentPos.toFixed(2)})">Max</button>
            </span>        
            <span class="switchesButtons">
              Rest
              <button class="btn btn-rest" ng-click="msg.setRest(service.currentPos.toFixed(2))">Set</button>
            </span>
            <span class="switchesButtons lastColumn">
              Speed
              <!--the speed number should correspond to what we can find in a gesture to make sense(1--100)-->
              <input type="text" class="form-control" title="min speed(1) max speed(500)" placeholder="speed" ng-model="speed" style="width:40px;" /> &deg;/s&nbsp;
              <button class="btn btn-speed"  ng-click="setSpeed(speed)">Set</button>
            </span>
   
        </nav>
      
      <!-- Previous Limits slider -->
      <!--
        <div class="row">
          <div class="col-md-12">
            <br />
            <rzslider class="custom-slider" rz-slider-model="limits.minValue" rz-slider-high="limits.maxValue" rz-slider-options="limits.options"/>
          </div>
        </div>
      -->
        <!-- /.row -->      



        <div class="row">
          <div class="col-md-12">
            <div ng-show="!service.enabled" id="servoMask"></div>
            <div id="servoPositionArea">        
              <div id="servoPosition" class="preventDragSelect" style="left: calc(100% - (({{100 -(service.targetPos.toFixed(2)*100/180)}}%) - 0px));">
                <span class="glyphicon glyphicon-eject white"></span>
                <span class="servoBubble preventDragSelect">{{service.currentPos.toFixed(2)}}&deg;</span>
              </div>
            </div>
            <div ng-show="service.enabled" class="preventDragSelect">
              
              <div id="energizedZone">
                <div id="energizedBar" title="the servo is energized" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
 <span class="glyphicon glyphicon-flash"></span>ENERGIZED

              </div>
<!-- -
              <div id="energizedBar" title="the servo is energized" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="left: calc(100% - ({{100 -(limits.minValue*100/180)}}%)); width: calc(100% - ({{100 -((limits.maxValue-limits.minValue)*100/180)}}%));">
-->               
                
              </div>
            </div>
            
            <div id="inputZone">
              <div id="inputLimit" class="preventDragSelect" style="left: calc(100% - ({{100 -(limits.minValue*100/180)}}%)); width: calc(100% - ({{100 -((limits.maxValue-limits.minValue)*100/180)}}%));"></div>
            </div>          

            <rzslider class="custom-slider2" id="sliderPosition"  ng-click="msg.setPin(pin);msg.enable()" rz-slider-model="pos.value" rz-slider-options="pos.options"/>       
            
            <div id="outputZone">
              <div id="outputLimit" class="preventDragSelect" style="left: calc(100% - ({{100 -(limits.minValue*100/180)}}%)); width: calc(100% - ({{100 -((limits.maxValue-limits.minValue)*100/180)}}%));"></div>
            </div>
  
            <div id="labelZone" class="preventDragSelect">
              <div id="restPoint"style="left: calc(100% - (({{100 -(rest*100/180)}}%) - 0px));">{{rest}}</div>      
              <div id="outputMinValue" class="preventDragSelect" style="left: calc(100% - ({{100 -(limits.minValue*100/180)}}%) - 32px);">{{limits.minValue}}</div>
              <div id="outputMaxValue" class="preventDragSelect" style="left: calc(100% - ({{100 -(limits.maxValue*100/180)}}%) - 7px);">{{limits.maxValue}}</div>
            </div>

          </div><!-- /.col-md-12 -->
        </div><!-- /.row -->

        <br /><br /><br /><br />

        <div class="row align-items-center">
            <div class="col-md-12">
             
              <nav class="settingsbar">
                <div class="dropdownLabel">
                  Encoder
                </div>
                <div>
                  <select class="form-goup form-control" title="Encoders list">
                      <option selected>None</option>
                      <option>Encoder 1</option>
                      <option>SuperEncoder</option>
                      <option>BadEncoder</option>
                    </select>
                </div>
              </nav>
 
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->  

      </uib-tab>
    </uib-tabset>

  </div><!-- /.col-md-12 -->
</div><!-- /.row --> 

<br /><br />
  <div class="row">
    <div class="col-md-4">
      <table class="table table-striped">
        <tr ng-repeat="c in service.controllers">
          <td>Controller: {{c}}</td>
        </tr>
      </table>
    </div><!-- /.col-md-4 -->
    <div class="col-md-8">
    </div><!-- /.col-md-8 -->
  </div><!-- /.row -->  

</div><!-- /#servoContent -->    

<!-- TODO - load info from javadoc -->

<!-- /ServoGui.html -->