<div>
    <!-- for debugging  Data: {{service}} <br/>  -->
    <form novalidate class="search-form">
     QueryString: <input type="text" ng-model="queryString" /><input type="submit" ng-click="search(queryString)" value="Search" />
     <br/>
    </form>
    
    <!-- Query String: {{queryString}} <br/>   -->
    Query Search took {{solrResults.elapsedTime}} ms.<br/>
    <br/>
    <br/>
    Solr Results Below
    <br/>
    
    <table class="searchResults">
      <tr ng-repeat="result in solrResults._results track by $index">
      <td>{{$index}} : {{result.id}}</td>
      <td>
        <table class="searchResult">
          <tr ng-repeat="(key, value) in result">
            <td>{{key}}</td><td>{{value}}</td> 
          </tr>
        </table>
       <!--  <div class="chatBalloon{{chatContent.type}}"><div class="chatContent" ng-bind-html="chatContent.text"></div></div>  -->
      </td>
      </tr>
    </table>
    
    
    <div ng-switch on="size">
        <div class="animate-switch" ng-switch-when="small">Small view</div>
        <div class="animate-switch" ng-switch-when="medium">Medium view<br>mevi</div>
        <div class="animate-switch" ng-switch-when="large">Large view<br>lavi<br>lavi</div>
        <div class="animate-switch" ng-switch-when="full">Full view<br>fuvi<br>fuvi<br>fuvi</div>
    </div>
</div>