<div class="row">
    <span class="col-lg-6">
        <img ng-src="{{(service.ready)?'../green.png':'../red.png'}}"/>
        <span ng-show="!service.ready">Voice Rss requires AWS Keys</span>
    </span>
</div>
<div class="row">
    <div class="btn-group" uib-dropdown>
        <button type="button" class="btn btn-default">{{service.voice.name}} - {{service.voice.locale.tag}} - {{service.voice.gender}}</button>
        <button type="button" class="btn btn-default" uib-dropdown-toggle>
            <span class="caret"></span>
        </button>
        <ul uib-dropdown-menu>
            <li ng-repeat="(key, container) in service.voices">
                <a href="" ng-click="msg.setVoice(key);msg.broadcastState()">{{key}} - {{container.locale.tag}} - {{container.gender}}</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form class="form-inline">
            <input class="form-control" type="text" ng-model="text" ng-enter="speak(text);text=''" placeholder="enter text">
            <button class="btn btn-default form-control" ng-click="speak(text);text=''">Speak</button>
        </form>
    </div>
</div>
<div class="row" ng-show="!service.ready">
    <div class="col-lg-12">
        <form class="form-inline">
            <input class="form-control" type="password" ng-model="key" placeholder="voice rss key" title="vss key">
            <button class="btn btn-default" ng-click="msg.setKey('voicerss.api.key', key);">set keys</button>
            <a href="http://www.voicerss.org/login.aspx">how to get a key</a>
        </form>
    </div>
</div>
