<!--
thanks - https://developers.google.com/web/updates/2013/01/Voice-Driven-Web-Apps-Introduction-to-the-Web-Speech-API
security exceptions to get mic working - https://medium.com/@Carmichaelize/enabling-the-microphone-camera-in-chrome-for-local-unsecure-origins-9c90c3149339
-->
<div ng-show="{{!webkitSupport}}" class="row">
    <h3>
        WebkitSpeechRecognition Service is only supported in <a href="https://www.google.com/chrome">Chrome</a>
        versions 25 or later.
    </h3>
</div>
<div ng-show="webkitSupport" class="row">
    <table class="table table-striped">
        <tr>
            <td>
                <button ng-click="changeListeningState()">
                    <span>
                        <img ng-src="{{micImage}}" width="150"/>
                    </span>
                </button>
                <br>
                <select class="form-control" id="select_language" ng-model="selectedLanguage" ng-change="setLanguage()" ng-options="name for (name, value) in languages"></select>
                {{service.status}}
                <div class="alert alert-danger" role="alert">{{errorText}}</div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>published</td>
            <td>{{recognizedResult.text}} &nbsp;&nbsp;&nbsp;{{recognizedResult.confidence}}</td>
        </tr>
        <tr>
            <td>
                <input type="text" class="form-control" placeholder="Hey Robot" ng-model="service.wakeWord"/>
            </td>
            <td>
                <button class="btn btn-default" ng-click="msg.setWakeWord(service.wakeWord)">set wake word</button>
                <button class="btn btn-default" ng-click="msg.unsetWakeWord()">unset wake word</button>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" class="form-control" ng-model="service.afterSpeakingPauseMs"/>
            </td>
            <td>
                <button class="btn btn-default" ng-click="msg.setAfterSpeakingPause(service.afterSpeakingPauseMs)">set after speaking pause ms</button>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" class="form-control" ng-model="service.wakeWordIdleTimeoutSeconds"/>seconds
            
            
            </td>
            <td>
                <button class="btn btn-default" ng-click="msg.setWakeWordTimeout(service.wakeWordIdleTimeoutSeconds)">set idle timeout for wake word</button>
            </td>
        </tr>
        <tr>
            <td>start time</td>
            <td>{{startTimestamp}}</td>
        </tr>
        <tr>
            <td>listening</td>
            <td>{{service.isListening}}</td>
        </tr>
        <tr>
            <td>recording</td>
            <td>{{service.isRecording}}</td>
        </tr>
        <tr>
            <td>restarts</td>
            <td>{{restartCnt}}</td>
        </tr>
    </table>
    <label>log</label>
    <table class="table table-striped"<tr>
            <th>confidence</th>
    <th>timestamp</th>
    <th>recording</th>
    <th>listening</th>
    <th>speaking</th>
    <th>recognized</th>
</tr>
<tr ng-repeat="entry in log track by $index">
    <td>{{entry.confidence}}</td>
    <td>{{entry.ts}}</td>
    <td>{{entry.isRecording}}</td>
    <td>{{entry.isListening}}</td>
    <td>{{entry.isSpeaking}}</td>
    <td>{{entry.text}}</td>
</tr>
</table></div>
