<div>
  Start Time: {{service.serviceStartTime}}<br /> <br />
  <!--  TODO: allow the user to upgrade ?
	<p id="info_upgrade">Web Speech API is not supported by this browser.
     Upgrade to <a href="//www.google.com/chrome">Chrome</a>
     version 25 or later.</p>  -->
  <br /> 
  Language: {{service.language}} <br />
  Current Language: {{current_language}} <br />
  lang selected id: {{lang.selectedOption.id}} <br />
  Recognition Language: {{recognition.lang}} <br />

  Status: {{status}} <br />
  <form>
    <input class="form-control" ng-model="utterance" name="utterance"
      id="utterance" />
    <button id="startListening" class="btn btn-default"
      ng-click="startRecognition()"
      ng-init="listenbuttonimg ='service/img/mic.png'"
      ng-src="listenbuttonimg">
      <img ng-src="{{listenbuttonimg}}" />
    </button>
  </form>
  <br />
  <div class="center">
    <div class="center">
      <div id="div_language">
        <select class="form-control" id="select_language"
          ng-model="lang.selectedOption" ng-change="updateLanguage()"
          ng-options="option.name for option in lang.availableOptions track by option.id"></select>
      </div>
    </div>
  </div>
  <br /> 
  Recognition Results: {{current_text}} 
  <br />
</div>
