<span>Peers
<toggle width="20" height="28"  ng-model="service.isChatBotActivated" ng-change="!service.isChatBotActivated?msg.stopChatBot():msg.startChatBot()" on=" " off=" "/>
</span>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">name</th>
      <th scope="col"></th>
      <th scope="col">
            <div class="btn-group" uib-dropdown>
                <button id="split-button" type="button" ng-class="{'btn':true, 'btn-success':value.state == 'started'}">action</button>
                <button type="button" ng-class="{'btn':true, 'btn-success':value.state == 'started'}" uib-dropdown-toggle>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li role="menuitem">
                        <a href="#">edit</a>
                    </li>
                    <li role="menuitem">
                        <a href="#">create</a>
                    </li>
                    <li role="menuitem">
                        <button type="button" ng-click="msg.startPeer(key)" class="btn btn-success btn-block">start</button>
                    </li>
                    <li role="menuitem">
                        <a href="#">stop</a>
                    </li>
                    <li role="menuitem">
                        <button type="button" ng-click="msg.releasePeer(key)" class="btn btn-secondary btn-block">release</button>
                    </li>
                </ul>
            </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(key, value) in service.serviceType.peers">
    <td>
        <input type="checkbox" value="" id="flexCheckDefault">    
    </td>
      <td><img ng-src="/{{value.type + '.png'}}" width="16"></td>
      <td>{{value.actualName}}</td>
      <td>{{value.comment}}</td>
      <td>{{value.state}}</td>
    </tr>
  </tbody>
</table>

<!--
<button class="btn btn-default" ng-click="msg.startPeer('mouth');">{{service.mouth}}start mouth</button>
<button class="btn btn-default" ng-click="msg.startPeer('motorLeft');">start left motor</button>
<button class="btn btn-default" ng-click="msg.startPeer('motorRight');">start right motor</button>
<input class="form-control" type="password" ng-model="key" placeholder="aws polly key" title="key name to identify secret">
<input class="form-control" type="password" ng-model="secret" placeholder="aws polly secret" title="Polly key and secret ">
<button class="btn btn-default" ng-click="msg.setKeys(key, secret);">set keys</button>
<a href="https://docs.aws.amazon.com/polly/latest/dg/authentication-and-access-control.html">how to get keys</a>
-->