<!DOCTYPE html>
<html ng-app="mrlapp">
    <head lang="en">
        <meta charset="utf-8">
        <title>MyRobotLab - WebUI</title>
        <link rel="stylesheet" href="lib/normalize.css">
        <link rel="stylesheet" href="lib/jquery-ui-1.11.4/css/jquery-ui.min.css">
        <link rel="stylesheet" href="lib/bootstrap-3.3.4/css/bootstrap.min.css">
    </head>
    <body ng-controller="MainCtrl">

        <!--Navbar-->
        <div class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">MyRobotLab</a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">

                    <ul class="nav navbar-nav">
                        <li><a href="http://www.myrobotlab.org">/MyRobotLab.org</a></li>
                        <!--<li><a href="/b">/b</a></li>
                        <li><a href="/c">/c</a></li>
                        <li><a href="/d">/d</a></li>
                        <li><a href="/e">/e</a></li>-->
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <!--Status-->
                        <!--TODO: (maybe) integrate a glyphicon (or picture) before the status (status-type, from which service the status came, ...(or something even better))-->
                        <li>
                            <form class="navbar-form">
                                <div class="input-group" dropdown>
                                    <input type="text" class="form-control" style="width: 500px"
                                           placeholder="Status" ng-model="statuslist[statuslist.length - 1]" readonly>
                                    <div class="input-group-btn" dropdown-toggle>
                                        <button class="btn btn-default" type="submit" tooltip-placement="bottom" tooltip="Status">
                                            <i class="glyphicon glyphicon-dashboard"></i>
                                        </button>
                                    </div>
                                    <ul class="dropdown-menu" style="width: 540px">
                                        <li ng-repeat="status in statuslist| reverse track by $index "><a href="#">{{status}}</a></li>
                                        <!--<li><a href="#"><i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;Edit</a></li>
                                        <li><a href="#"><i class="glyphicon glyphicon-trash"></i>&nbsp;&nbsp;Delete</a></li>-->
                                    </ul>
                                </div>
                            </form>
                        </li>
                        <!--About-->
                        <li>
                            <form class="navbar-form">
                                <button class="btn btn-default" type="submit" tooltip-placement="bottom" tooltip="About" ng-click="about()">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                </button>
                            </form>
                        </li>
                        <!--Help-->
                        <li>
                            <form class="navbar-form">
                                <button class="btn btn-default" type="submit" tooltip-placement="bottom" tooltip="Help" ng-click="help()">
                                    <i class="glyphicon glyphicon-question-sign"></i>
                                </button>
                            </form>
                        </li>
                        <!--Search-->
                        <li>
                            <form class="navbar-form" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control"
                                           placeholder="Search"
                                           ng-model="searchSelectedService"
                                           typeahead="service as service.name for service in allServices | filter:{name:$viewValue}"
                                           typeahead-template-url="views/searchtemplate.html"
                                           typeahead-on-select='searchOnSelect($item, $model, $label)'>
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit" tooltip-placement="bottom" tooltip="Search">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--"content"-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6" style="min-height: 200px">
                    <!--<div drop-component list="generallist" size="forcetiny"></div>-->
                    <div ng-repeat="item in generallist"
                         service-component
                         style="width: 500px"
                         index="{{$index}}"
                         list="generallist"
                         reftomain="reftomain"
                         size="forcetiny"></div>
                </div>
                <div class="col-md-6">
                    <div>DEBUG-SECTION not assigned yet</div>
                    <pre>Model: {{searchSelectedService| json}}</pre>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <tabset>
                        <tab ng-repeat="workspace in workspaces"
                             active=workspace.active>
                            <tab-heading>
                                <!--custom build split dropdown (button & dropdown) BUT without the button thingy-->
                                <div dropdown auto-close="disabled" is-open="workspace.dropdownisopen">
                                    <div>{{workspace.name}}&nbsp;&nbsp;<i dropdown-toggle class="glyphicon glyphicon-chevron-down"></i></div>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"
                                               popover-template="'views/workspaceeditnametemplate.html'"
                                               popover-title="{{workspace.name}}">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                                &nbsp;&nbsp;Edit</a></li>
                                        <li><a href="#" ng-click="removeWorkspace($index)">
                                                <i class="glyphicon glyphicon-trash"></i>
                                                &nbsp;&nbsp;Delete</a></li>
                                        <!--<li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>-->
                                    </ul>
                                </div>

                                <!--<div class="btn-group" dropdown>
                                    <button type="button" class="btn btn-default">{{workspace.name}}</button>
                                    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                                        <span class="caret"></span>
                                        <span class="sr-only">Split button!</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>-->
                            </tab-heading>
                            <div tab-component index="{{$index}}" workspaces="workspaces" reftomain="reftomain"></div>
                        </tab>
                        <tab heading="+" select="addWorkspace()">
                            <tab-heading>
                                <i class="glyphicon glyphicon-plus"></i>
                            </tab-heading>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>

        <!--Scripts & Libaries(js)-->
        <!--JQuery(js) & Atmosphere.js-->
        <script src="lib/atmosphere-2.2.11/jquery-2.0.3.js"></script>
        <script src="lib/atmosphere-2.2.11/jquery.atmosphere.js"></script>
        <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>-->
        <!--JQuery UI(js)-->
        <script src="lib/jquery-ui-1.11.4/js/jquery-ui.min.js"></script>
        <!--Bootstrap(js)-->
        <script src="lib/bootstrap-3.3.4/js/bootstrap.min.js"></script>
        <!--Angular(js) & Libary route-->
        <script src="lib/angular-1.3.15/angular.min.js"></script>
        <!--<script src="lib/angular-1.3.15/angular-route.js"></script>-->
        <!--Angular Bootstrap UI(js) (Angular-Library)-->
        <script src="lib/ui-bootstrap-tpls-0.13.0.min.js"></script>
        <!--Library for Angular - Drag&Drop-->
        <!--<script src="lib/angular-dragdrop.min.js"></script>-->
        <!--Library for Angular - LazyLoading-->
        <script src="lib/ocLazyLoad-1.0.1/ocLazyLoad.js"></script>
        <!--App - Framework-->
        <script src="js/app.js"></script>
        <script src="views/websocketconnection.js"></script>
        <script src="views/service.js"></script>
        <!--Services-->
        <!--<script src="services/js/arduinogui.js"></script>
        <script src="services/js/clockgui.js"></script>
        <script src="services/js/runtimegui.js"></script>
        <script src="services/js/webguigui.js"></script>-->
    </body>
</html>