<div  class="btn-group" role="group" aria-label="...">    
    <button type="button" class="btn btn-default" ng-click="clearScreen()" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">clear screen </button>
    <button type="button" class="btn btn-default" ng-click="zoomIn()">+</button>
    <button type="button" class="btn btn-default">-</button>
    <button type="button" class="btn btn-default">rate</button>    
    <button type="button" class="btn btn-default" ng-click="reset()">reset</button>
    <button class="btn btn-default" type="button" ng-click="toggleReadWrite()">{{readWrite}}</button><!-- TODO - read/write toggle -->
</div>
<div  class="btn-group" role="group" aria-label="...">    
     <div class="btn-group" role="group" ng-show="readWrite == 'read'" data-ng-repeat="(pinKey, pinDef) in pinIndex">    
       <button class="btn btn-default" type="button" ng-click="activateTrace(pinDef)" ng-style="oscope.traces[pinKey].readStyle">{{ pinDef.pinName }}</button>
     </div>
     <div class="btn-group" role="group" ng-show="readWrite == 'write'"  data-ng-repeat="(pinKey, pinDef) in pinIndex">    
       <button class="btn btn-default" type="button" ng-click="write(pinDef)" ng-style="oscope.traces[pinKey].writeStyle">{{ pinDef.pinName }}</button>
     </div>
    <br>

    <div data-ng-repeat="(pinKey, pinDef) in pinIndex">   
     <div ng-show="oscope.traces[pinKey].state"> 
        <!-- TODO - this should become a 'trace' directive -->       
        <canvas width="800" height="100" id="{{ 'oscope-address-' + pinKey}}"></canvas>
        <!-- per screen buttons .. button type="button" class="btn btn-default" ng-click="zoomIn()">+</button -->
        </div>
    </div>
    <br/>
    
</div>



  