<div class="row">
  <div class="col-md-6">
   <label>port</label>
    <div class="input-group">
   <!-- {{possiblePorts}} -->
       <input class="form-control" type="text" ng-model="portName" ng-readonly="isConnected" uib-typeahead="portName for portName in possiblePorts | filter:$viewValue | limitTo:8"/>
       <span class="input-group-btn"><button class="btn btn-default" ng-show="!isConnected" ng-click="refresh()">refresh</button></span>
       <span class="input-group-btn"><button class="btn btn-default" ng-show="!isConnected" ng-click="connect(portName, service.baudrate, service.databits, service.stopbits, service.parity)">connect</button></span>
       <span class="input-group-btn"><button class="btn btn-default" ng-show="isConnected" ng-click="disconnect()">disconnect</button></span>
       <!-- span class="input-group-btn"><button class="btn btn-default" ng-model="monitorModel" btn-checkbox ng-click="monitor()">monitor</button></span -->
     </div>
  </div>
  <div class="col-md-4">
     <img ng-src="../../{{isConnectedImage}}.png" /> <!-- TODO - make directive -->
     <label ng-show="isConnected">{{stats.lineSpeed}} Kbps</label>
  </div>
  <div class="col-md-2">
  </div>
</div>