<div class="navbar navbar-inverse container-fluid" role="navigation">
    <!--Status (incl. LED)-->
    <ul class="nav navbar-nav navbar-left">
        <li>
            <!--TODO - green png if connected - if not re-connect button-->
            <span class="pull-left" ng-if="connected">
                <img src="../../connected.png" alt="">
            </span>
            <span class="pull-left" ng-if="!connected">
                <img src="../../disconnected.png" alt="">
            </span>
            <a class="navbar-brand" href="/">MyRobotLab</a>
        </li>
        <li>
            <a href="http://myrobotlab.org">
            <!--{{platform.branch}}-->
            {{id}} &lt;-&gt;{{remoteId}} - {{platform.arch}}.{{platform.bitness}}.{{platform.os}}
				{{platform.mrlVersion}}
		</a>
        </li>
    </ul>
    <ul class="nav navbar-nav">
        <!--TODO: Do something! Too many elements in the navbar! -> navbar stacks! -> occupying screen-space! (not everyone has a very big screen)-->
        <!--quick-start a service-->
        <li class="dropdown" dropdown="">
            <a href="#" class="dropdown-toggle" dropdown-toggle="" data-toggle="dropdown">
                New
				Service<b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="#">Start a new service</a>
                </li>
                <li id="newService">
                    <form class="navbar-form">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <input class="form-control" type="text" ng-model="newName" placeholder="name">
                                <input class="form-control" type="text" ng-model="newType" placeholder="Service Type" uib-typeahead="service as service.name for service in possibleServices | filter:{name:$viewValue}" typeahead-min-length="0" typeahead-template-url="nav/templates/serviceSearchTemplate.html">
                                <button class="btn btn-default" ng-click="start(newName, newType);">start</button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
            <!-- end of dropdown -->
        </li>
    </ul>
    <span class="pull-right">
        <form class="navbar-form">
            <div class="btn-group pull-left" uib-dropdown>
                <div uib-dropdown-toggle>
                    <button class="btn btn-default" type="submit" tooltip-placement="bottom" uib-tooltip="More features">
                        <i class="glyphicon glyphicon-option-vertical"></i>
                    </button>
                </div>
                <ul class="dropdown-menu-right" uib-dropdown-menu>
                    <li>
                        <a href="" ng-click="about()">
                            <i class="glyphicon glyphicon-info-sign"></i>
                            &nbsp;&nbsp;About                 
                        
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="help()">
                            <i class="glyphicon glyphicon-question-sign"></i>
                            &nbsp;&nbsp;Help
                        
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="noWorky()">
                            <i class="glyphicon glyphicon-alert"></i>
                            &nbsp;&nbsp;No Worky !           
                        
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="shutdown('shutdown')">
                            <i class="glyphicon glyphicon-off"></i>
                            &nbsp;&nbsp;Shutdown
                        
                        
                        </a>
                    </li>
                </ul>
            </div>
        </form>
    </span>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
</div>
<!-- todo make a tranform which changes status to alert -->
<div class="alert alert-danger alert-dismissable mb-0" ng-hide="errorStatus == null">
    <span class="label label-danger">error</span>
    {{errorStatus.name}} : {{errorStatus.key}} : {{errorStatus.detail}}  
            <span ng-hide="errorCount < 2" class="badge">{{errorCount}}</span>
    <button type="button" class="close" data-ng-click="errorStatus = null;errorCount = 0" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-warning alert-dismissable mb-0" ng-hide="warningStatus == null">
    <span class="label label-warning">warning</span>
    {{warningStatus.name}} : {{warningStatus.key}} : {{warningStatus.detail}}  
            <span ng-hide="warningCount < 2" class="badge">{{warningCount}}</span>
    <button type="button" class="close" data-ng-click="warningStatus = null;warningCount = 0" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-info alert-dismissable mb-0" ng-hide="infoStatus == null">
    <span class="label label-info">info</span>
    {{infoStatus.name}} : {{infoStatus.key}} : {{infoStatus.detail}}  
            <span ng-hide="infoCount < 2" class="badge">{{infoCount}}</span>
    <button type="button" class="close" data-ng-click="infoStatus = null;infoCount = 0" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
