<div class="navbar navbar-inverse container-fluid" role="navigation">
<!-- <div class="navbar navbar-inverse navbar-fixed-top" role="navigation"> -->
    <ul class="nav navbar-nav navbar-left">
        <li>
            <!--TODO - green png if connected - if not re-connect button-->
            <span class="pull-left" ng-if="state.connected" style="padding-top: 8px;">
                <img src="../../connected.png" alt="">
            </span>
            <span class="pull-left" ng-if="!state.connected" style="padding-top: 8px;">
                <img src="../../disconnected.png" alt="">
            </span>
            <span class="nav-color">MyRobotLab</span>
        </li>
    </ul>

    <span class="pull-right" style="display: flex;"><!-- inline-flex -->
        <span class="nav-color">{{mrl.getId()}} <i class="glyphicon glyphicon-resize-horizontal"></i> {{remotePlatform.id}} {{remotePlatform.mrlVersion}}</span>
        <div class="btn-group pull-left" uib-dropdown>
            <div uib-dropdown-toggle class="glyphicon glyphicon-option-vertical nav-icon"></div>
            <ul class="dropdown-menu-right" uib-dropdown-menu>
                <li>
                    <a href="" ng-click="about()">
                        <i class="glyphicon glyphicon-info-sign"></i>
                        &nbsp;&nbsp;About 
                    
                    </a>
                </li>
                <li>
                    <a href="" ng-click="help()">
                        <i class="glyphicon glyphicon-question-sign"></i>
                        &nbsp;&nbsp;Help
                    
                    </a>
                </li>
                <li>
                    <a href="" ng-click="noWorky()">
                        <i class="glyphicon glyphicon-alert"></i>
                        &nbsp;&nbsp;No Worky !
                    </a>
                </li>
            </ul>
        </div>
        <div uib-dropdown>
            <span uib-dropdown-toggle class="glyphicon glyphicon-bell nav-icon">
                <span class="badge badge-danger notification-badge" style="background:red" ng-hide="errorCount == 0">{{errorCount}}</span>
                <span class="badge badge-danger notification-badge" style="background:#f0ad4e" ng-hide="warningCount == 0">{{warningCount}}</span>
                <span class="badge badge-danger notification-badge" style="background:#31708f" ng-hide="infoCount == 0">{{infoCount}}</span>
            </span>
            <ul id="notification-entries" class="dropdown-menu-right" uib-dropdown-menu>
            <li>
            </i>
                <li>

                    <div class="alert alert-danger alert-dismissable mb-0" ng-hide="errorStatus == null">
                        <span class="label label-danger">error</span>
                        {{errorStatus.name}} : {{errorStatus.key}} : {{errorStatus.detail}}  
                                <span ng-hide="errorCount < 2" class="badge">{{errorCount}}</span>
                        <button type="button" class="close" data-ng-click="errorStatus = null;errorCount = 0" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="alert alert-warning alert-dismissable mb-0" ng-hide="warningStatus == null">
                        <span class="label label-warning">warning</span>
                        {{warningStatus.name}} : {{warningStatus.key}} : {{warningStatus.detail}}  
                                <span ng-hide="warningCount < 2" class="badge">{{warningCount}}</span>
                        <button type="button" class="close" data-ng-click="warningStatus = null;warningCount = 0" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="alert alert-info alert-dismissable mb-0" ng-hide="infoStatus == null">
                        <span class="label label-info">info</span>
                        {{infoStatus.name}} : {{infoStatus.key}} : {{infoStatus.detail}}  
                                <span ng-hide="infoCount < 2" class="badge">{{infoCount}}</span>
                        <button type="button" class="close" data-ng-click="infoStatus = null;infoCount = 0" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                </li>
            </ul>
        </div>
        <span class="glyphicon glyphicon-repeat nav-icon" ng-click="shutdown('restart')"></span>
        <span class="glyphicon glyphicon-off nav-icon" ng-click="shutdown('shutdown')"></span>
    </span>
</div>
<div ng-repeat="panel in displayImages">
    <div class="panel-heading absolute" drag-directive name="name-01">
        <h3 class="panel-title">
            <b>WHAT A DRAG</b>
        </h3>
        <img ng-src="panel.data"/>
    </div>
</div>
<!--
<div class="alert alert-info alert-dismissable mb-0" ng-hide="infoStatus == null" align="center">
    <span class="label label-info">info</span>
    {{infoStatus.name}} : {{infoStatus.key}} : {{infoStatus.detail}}  
            <span ng-hide="infoCount < 2" class="badge">{{infoCount}}</span>
    <button type="button" class="close" data-ng-click="infoStatus = null;infoCount = 0" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
-->
<!--
<button ng-click="displayImage()">display image</button>

-->
