<div id="{{::panel.name}}" ng-show="!panel.hide">
    <div class="panel panel-default">
        <div class="panel-heading" drag-directive>
            <!--header-->
            <h3 class="panel-title">
                <img ng-src="{{::panel.simpleName}}.png" alt="" width="16">
                <b>{{::panel.name}}</b>
                <div class="pull-right" uib-dropdown dropdown-append-to-body auto-close="outsideClick" is-open="servicemenuDropdownOpen">
                    {{::panel.simpleName}}&nbsp;&nbsp;
                    <span style="cursor: pointer;" tooltip-placement="right" uib-tooltip="Menu"><i uib-dropdown-toggle class="glyphicon glyphicon-list"></i></span>
                    <ul uib-dropdown-menu>
                        <li>
                            <a href="http://myrobotlab.org/service/{{::panel.simpleName}}" target="_blank" ng-click="servicemenuDropdownOpen = false">
                                <i class="glyphicon glyphicon-question-sign"></i>
                                &nbsp;&nbsp;help
                            </a>
                        </li>
                        <li ng-show="panel.size != 'free'">
                            <a href="" ng-click="changesize('free')">
                                <i class="glyphicon glyphicon-th"></i>
                                &nbsp;&nbsp;free
                            </a>
                        </li>
                        <li>
                            <a href="" ng-click="changesize('full')">
                                <i class="glyphicon glyphicon-fullscreen"></i>
                                &nbsp;&nbsp;full
                            </a>
                        </li>
                        <li ng-show="panel.size != 'tiny'">
                            <a href="" ng-click="changesize('tiny')">
                                <i class="glyphicon glyphicon-minus"></i>
                                &nbsp;&nbsp;tiny
                            </a>
                        </li>                      
                        <li>
                            <a href="" ng-click="servicemenuDropdownOpen = false;panel.svc.hide(panel.name)">
                                <span ng-show="!panel.hide">
                                    <i class="glyphicon glyphicon-eye-close"></i>
                                    &nbsp;&nbsp;hide
                                </span>
                                <span ng-show="panel.hide"><!--could be useless ...-->
                                    <i class="glyphicon glyphicon-eye-close"></i>
                                    &nbsp;&nbsp;show
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="" ng-click="servicemenuDropdownOpen = false;release()">
                                <i class="glyphicon glyphicon-remove"></i>
                                &nbsp;&nbsp;release
                            </a>
                        </li>
                        <li>
                            <a href="" ng-click="servicemenuDropdownOpen = false;noworky()">
                                <i class="glyphicon glyphicon-alert"></i>
                                &nbsp;&nbsp;no worky
                            </a>
                        </li>
                        <li>
                            <a href="" uib-popover-template="'listMethodsPopoverTemplate.html'" popover-title="Methods of this Service" popover-placement="right-top">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                &nbsp;&nbsp;list methods
                            </a>
                            <script type="text/ng-template" id="listMethodsPopoverTemplate.html">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Function</th>
                                            <th>Arguments</th>
                                            <th>Return type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(key, value) in panel.msg_.temp.methodMap track by $index">
                                            <td>{{value.name}}</td>
                                            <td><div ng-repeat="arg in value.parameterTypeNames track by $index">{{arg}}<br></div></td>
                                            <td>{{value.returnTypeName}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </script>
                        </li>
                        <li>
                            <a href="" ng-click="updateServiceData()" uib-popover-template="'listMethodsPopoverTemplate2.html'" popover-title="Service Data" popover-placement="right-top">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                &nbsp;&nbsp;show json
                            </a>
                            <!--TODO - remove this comment: @grog: Is this what you were trying to achieve?-->
                            <script type="text/ng-template" id="listMethodsPopoverTemplate2.html">
                                <button class="btn btn-default" clipboard text="servicedatajson"><span class="glyphicon glyphicon-copy"></span>Copy</button> 
                                <!--<div>{{servicedatajson | json}}</div>-->
                                <div><pre>{{servicedatajson}}</pre></div>
                            </script>
                        </li>
                    </ul>
                </div>
            </h3>
        </div>
        <div class="panel-body" ng-show="panel.size != 'full' && panel.size != 'tiny'">
            <!--body-->
            <div ng-if="panel.templatestatus == 'loaded'">
                <div service-body panel="panel"></div>
            </div>
            <div ng-if="panel.templatestatus == 'notfound'">
                <i class="glyphicon glyphicon-warning-sign"></i>&nbsp;&nbsp;servicegui not found
            </div>
            <div ng-if="panel.templatestatus == 'loading'">
                <i class="glyphicon glyphicon-refresh"></i>&nbsp;&nbsp;loading servicegui ...
            </div>
        </div>
        <div class="panel-footer" ng-show="panel.size != 'tiny'" drag-directive>
            <!--footer-->
            <div>
                &nbsp;
                <div class="pull-right" ng-show="panel.size == 'free'">
                    <span style="position: relative; cursor: nw-resize;" resize-directive><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
