<!--for each service-->
<div id="{{::anker}}" ng-show="show" style="position:'absolute'" ng-style="style" >
    <div class="panel panel-default">
        <div class="panel-heading" drag-directive>
            <!--header-->
            <h3 class="panel-title">
                <img src="{{::service.simpleName}}.png" alt="" width="16">
                <b>{{::service.name}}</b><div style="display:inline;" ng-if="service.showpanelname">&nbsp;&nbsp;{{service.panelname}}</div>
                <div class="pull-right" dropdown dropdown-append-to-body>
                    {{::service.simpleName}}&nbsp;&nbsp;
                    <span style="cursor: pointer;" tooltip-placement="right" tooltip="Menu"><i dropdown-toggle class="glyphicon glyphicon-list"></i></span>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="http://myrobotlab.org/service/{{::service.simpleName}}" target="_blank">
                                <i class="glyphicon glyphicon-question-sign"></i>
                                &nbsp;&nbsp;help
                            </a>
                        </li>
                        <li ng-show="!panel.panelsize.sizes[panel.panelsize.aktsize].forcesize" ng-repeat="sizename in panel.panelsize.order">
                            <a href="" ng-show="panel.panelsize.aktsize != sizename" ng-click="changesize(sizename)">
                                <i class="{{::panel.panelsize.sizes[sizename].glyphicon}}"></i>
                                &nbsp;&nbsp;{{::sizename}}
                            </a>
                        </li>
                        <li ng-show="panel.panelsize.sizes[panel.panelsize.aktsize].forcesize">
                            <a href="" ng-click="changesize('unmin')">
                                <i class="glyphicon glyphicon-eye-open"></i>
                                &nbsp;&nbsp;expand
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="glyphicon glyphicon-remove"></i>
                                &nbsp;&nbsp;release
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="glyphicon glyphicon-alert"></i>
                                &nbsp;&nbsp;no worky
                            </a>
                        </li>
                            </ul>
                </div>
            </h3>
        </div>
        <div class="panel-body" ng-show="panel.panelsize.sizes[panel.panelsize.aktsize].body != 'collapse'">
            <!--body-->
            <div ng-if="!servicenotfound && !serviceloaded">
                <i class="glyphicon glyphicon-download-alt"></i>&nbsp;&nbsp;loading service ...
            </div>
            <div ng-if="!servicenotfound && serviceloaded">
                <div service-body type="{{panel.type}}" simplename="{{service.simpleName}}" size="panel.panelsize.aktsize" panelname="panel.panelname"  panel="panel" service="service">
                    <!-- content body here -->
                </div>
            </div>
            <div ng-if="servicenotfound">
                <i class="glyphicon glyphicon-warning-sign"></i>&nbsp;&nbsp;service not found
            </div>
        </div>
        <div class="panel-footer" ng-show="panel.panelsize.sizes[panel.panelsize.aktsize].footer != 'collapse'" drag-directive>
            <!--footer-->
            <div>
                &nbsp;
                <div class="pull-right" ng-show="panel.panelsize.sizes[panel.panelsize.aktsize].freeform">
                    <span style="cursor: e-resize;"><i resize-directive class="glyphicon glyphicon-resize-horizontal"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>