<div class="modal-header">
    <h3 class="modal-title">
        <img src="{{::panel.simpleName}}.png" alt="" width="16">
        <b>{{::panel.name}}</b><div style="display:inline;" ng-if="panel.showpanelname">&nbsp;&nbsp;{{panel.panelname}}</div>
        <div class="pull-right">{{::panel.simpleName}}</div>
    </h3>
</div>
<div class="modal-body">
    <div service-body type="{{panel.type}}" simplename="{{panel.simpleName}}" size="panel.panelsize.aktsize" panelname="panel.panelname" data="servicedata" cb="cb"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">close</button>
</div>