<style>
    #mySidenavContainer {
        /* padding-top: 300px; */
        /* Firefox */
        height: -moz-calc(100vh - 75px);
        /* WebKit */
        height: -webkit-calc(100vh - 75px);
        /* Opera */
        height: -o-calc(100vh - 75px);
        /* Standard */
        height: calc(100vh - 75px);
        width: 0;
        position: fixed;
        z-index: 100;
        /* opacity: 0.90;*/
        /* top: 0; */
        left: 0;
        background-color: #EEE;
        overflow: hidden;
        transition: 0.7s;
        transition-timing-function: ease;
        padding-top: 45px;
        visibility: hidden;
    }

    #sidenavTop {
        overflow-x: hidden;
        overflow-y: hidden;
        width: 0;
        z-index: 110;
        top: 8px;
    }

    #sideNavSearch {
        position: absolute;
        left: 14px;
        top: 6px;
        width: 178px;
    }

    #handleClose {
        position: absolute;
        top: 8px;
        left: 220px;
        visibility: hidden;
        color: #a5a5a5;
        font-size: 23px;
        cursor: pointer;
    }

    .sidenav {
        /* padding-top: 300px; */
        /* Firefox */
        height: -moz-calc(100vh - 98px);
        /* WebKit */
        height: -webkit-calc(100vh - 98px);
        /* Opera */
        height: -o-calc(100vh - 98px);
        /* Standard */
        height: calc(100vh - 98px);
        width: 0;
        position: fixed;
        z-index: 100;
        /* opacity: 0.90;*/
        /* top: 0; */
        left: 0;
        background-color: #fbfcff;
        overflow-x: hidden;
        transition: 0.7s;
        transition-timing-function: ease;
        white-space: nowrap;
        border-top-color: #cccccc;
        border-top-style: solid;
        border-top-width: 1px;
        border-bottom-color: #d6d6d6;
        border-bottom-style: solid;
        border-bottom-width: 24px;
        border-right-color: #f2f5f7;
        border-right-style: solid;
        border-right-width: 1px;
        scrollbar-width: thin;
        /*overscroll-behavior: contain;*/
    }

    ::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #e1e1e1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #abb4c3;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #56aaff;
    }

    /* Tamaño del scroll */
    .sidenav::-webkit-scrollbar {
        width: 6px;
        height: 8px;
    }

    /* Estilos barra (thumb) de scroll */
    .sidenav::-webkit-scrollbar-thumb {
        background: #abcff2;
        border-radius: 4px;
    }

    .sidenav::-webkit-scrollbar-thumb:active {
        background-color: #56aaff;
    }

    .sidenav::-webkit-scrollbar-thumb:hover {
        background: #56aaff;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }

    /* Estilos track de scroll */
    .sidenav::-webkit-scrollbar-track {
        background: #e1e1e1;
        border-radius: 4px;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        /* font-size: 36px; */
        margin-left: 50px;
    }

    .sidenav .pull-left {
        width: 100vw !important;
        text-align: left !important;
    }

    .sidenav .nav-tabs>li.active>a {
        background-color: #e5f0fb;
    }

    #main {
        position: inherit;
        transition: margin-left .5s;
        padding: 16px;
        width: 100%;
        /* Firefox */
        height: -moz-calc(100vh - 65px);
        /* WebKit */
        height: -webkit-calc(100vh - 65px);
        /* Opera */
        height: -o-calc(100vh - 65px);
        /* Standard */
        height: calc(100vh - 65px);
        z-index: 1;
        background-color: #FFFFFF;
        overflow: scroll;
        transition-timing-function: ease;
        scrollbar-width: thin;
        overflow-x: hidden;
        overscroll-behavior: contain;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
    }
</style>
<div class="container-fluid">
    <!-- 1/2 manual tab implementation because Angular UI Bootstrap doesn't include a option for content right -->
    <!-- migrate to Angular UI Bootstrap when they offer one -->
    <!-- start mySidenavContainer -->
    <div id="mySidenavContainer">
        <!-- <div id="mySidenavContainer" onmouseleave="closeNav()"> -->
        <div id="sidenavTop">
            <!-- input type="text" class="form-control" ng-change="checkForWildCard(searchText)" ng-model="searchText.displayName" placeholder="Search" style="width:200px;" typeahead-min-length="0" -->
            <input id="sideNavSearch" type="text" class="form-control" ng-model="searchText.displayName" placeholder="Search" typeahead-min-length="0">
            <!--
            <div id="handleClose">
                <a href="javascript:void(0)" class="closebtn" style="font-size:30px;cursor:pointer" onclick="closeNav()">X</a>
            </div>
            -->
            <div id="handleClose" onmouseenter="closeNav()" onclick="closeNav()">X</div>
        </div>
        <div id="mySidenav" class="sidenav">
            <div class="row"/>
            <div class="tabbable">
                <ul class="nav nav-tabs nav-stacked col-md-1" role="tablist">
                    <li ng-repeat="panel in panels | orderBy:getName:true | filter:searchText:wildCardOn" ng-class="{'active': view_tab == panel.name}">
                        <a class="btn pull-left" ng-click="changeTab(panel.name)" href="">
                            <img ng-src="{{::panel.simpleName}}.png" width="16">
                            <b>{{::panel.displayName}}</b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end mySidenavContainer -->
<!--
    <span id="handleOpen" onmouseenter="openNav()" onclick="openNav()" class="glyphicon glyphicon-eject"></span>
    -->
<div id="handleOpen" onmouseenter="openNav()" onclick="openNav()">
    <div class="menuName270">Services</div>
</div>
<!-- start main -->
<div id="main">
    <!-- span onmouseenter="openNav()" style="font-size:130px;cursor:pointer">&#9776;</span> -->
    <!--   THIS IS THE MOST IMPORTANT PART OF /main
                        could possibly use this as "undock" ?

                <div ng-repeat="panel in panels"
                     panel-drctv
                     panel="panel">
                </div>
                -->
    <div ng-repeat="panel in panels" service-ctrl-directive panel="panel">
    <!-- maybe move this to somewhere general? -->
    </div>
    <div class="col-md-12">
        <div class="tab-content">
            <div ng-show="view_tab == panel.name" ng-repeat="panel in panels" service-body panel="panel"></div>
        </div>
    </div>
</div>
<!-- Removing begin.... -->
<!-- end main -->
<div id="ghostbarTouchHandler"></div>
<!-- div id="handleOpenBottomMessages" onmouseenter="openBottomMessages()" onclick="openBottomMessages()"><span class="glyphicon glyphicon-menu-up mr-4 prevent-drag-select"></span> Show Notifications</div -->
<div id="bottomMessages">
    <!-- Debug :<div id="debugDrag"></div> -->
    <div id="dragbar" ontouchstart="dragTouchBottomMessagesStart(event)" ontouchmove="dragTouchBottomMessagesMove(event)" ontouchend="dragTouchBottomMessagesEnd(event)" ontouchcancel="dragCancel(event)"></div>
    <!-- <div id="ghostbarTouchZone"></div> -->
    <div id="handleCloseBottomMessages" onmouseenter="closeBottomMessages()" onclick="closeBottomMessages()">
        <span class="glyphicon glyphicon-menu-down mr-4 prevent-drag-select"></span>
        Hide
    
    </div>
</div>

<script>
    // FIXME - inline script using the dom directly - global methods - clever but not good :(
    // first time
    onStartOpenNav();
    function onStartOpenNav() {
        document.getElementById("handleClose").style.visibility = "hidden";
        setTimeout(function() {
            openNav();
        }, 1);
    }

    function openNav() {
        // prevent bouncing        
        //document.getElementById("handleOpen").style.visibility = "hidden";
        document.getElementById("handleClose").style.visibility = "hidden";
        setTimeout(function() {
            document.getElementById("handleClose").style.visibility = "visible";
        }, 600);

        document.getElementById("main").style.width = "calc(100% - 250px)";
        document.getElementById("mySidenavContainer").style.visibility = "visible";
        document.getElementById("mySidenavContainer").style.width = "250px";
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("sidenavTop").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.getElementById("bottomMessages").style.marginLeft = "250px";
        document.getElementById("bottomMessages").style.width = "calc(100vw - 260px)";
    }

    function closeNav() {
        // prevent bouncing
        //document.getElementById("handleOpen").style.visibility = "hidden";
        setTimeout(function() {
            document.getElementById("handleOpen").style.visibility = "visible";
        }, 600);

        document.getElementById("handleClose").style.visibility = "hidden";
        document.getElementById("mySidenavContainer").style.width = "0px";
        document.getElementById("sidenavTop").style.width = "0px";
        document.getElementById("mySidenav").style.width = "0px";
        document.getElementById("main").style.marginLeft = "0px";
        document.getElementById("bottomMessages").style.marginLeft = "0px";
        document.getElementById("bottomMessages").style.width = "calc(100vw - 10px)";
        document.getElementById("main").style.width = "100%";
    }

    // Drag Bottom Messages container -------------------------------------
    // initial height value;
    var BottomMessagesHeight = 100;
    var BottomMessagesTop = 100;
    var i = 0;
    var dragging = false;
    $('#dragbar').mousedown(function(e) {
        e.preventDefault();

        dragging = true;
        var main = $('#main');
        var dragbar = $("#dragbar");
        var ghostbar = $('<div>', {
            id: 'ghostbar',
            css: {
                height: 4,
                width: dragbar.outerWidth() - 10,
                top: main.offset().top,
                bottom: main.offset().bottom,
                right: 20
            }
        }).appendTo('body');
        $(document).mousemove(function(e) {
            ghostbar.css("top", e.pageY);
        });
        //document.getElementById("debugDrag").innerHTML = BottomMessagesHeight;
    });

    $(document).mouseup(function(e) {
        if (dragging) {
            BottomMessagesTop = e.pageY - 2;
            BottomMessagesHeight = document.body.clientHeight - e.pageY;
            document.getElementById("main").style.height = "calc(100vh - (52px + " + BottomMessagesHeight + "px))";
            //$('#main').css("height",BottomMessagesTop);
            $('#bottomMessages').css("top", BottomMessagesTop);
            $('#bottomMessages').css("height", BottomMessagesHeight);
            //$('#notificationContainer').css("height",BottomMessagesHeight);
            $('#ghostbar').remove();
            $(document).unbind('mousemove');
            document.getElementById("ghostbarTouchHandler").style.top = document.getElementById("bottomMessages").style.top;
            dragging = false;
        }
    });

    // drag functions for Touch devices 
    document.getElementById("ghostbarTouchHandler").style.top = document.getElementById("bottomMessages").style.top;
    function dragTouchBottomMessagesStart(event) {
        //document.getElementById("ghostbarTouchHandler").style.visibility = "visible";
        document.getElementById("ghostbarTouchHandler").style.opacity = "1";
        //document.getElementById("debugDrag").innerHTML = parseInt(event.touches[0].clientY);
    }
    function dragTouchBottomMessagesMove(event) {
        event.preventDefault();
        document.getElementById("ghostbarTouchHandler").style.top = parseInt(event.touches[0].clientY) + 10 + "px";
        document.getElementById("ghostbarTouchHandler").style.opacity = "1";
        document.getElementById("ghostbarTouchHandler").style.zIndex = "2000";
        BottomMessagesTop = parseInt(event.touches[0].clientY);
        BottomMessagesHeight = parseInt(document.body.clientHeight - event.touches[0].clientY);
        //document.getElementById("debugDrag").innerHTML = parseInt(event.touches[0].clientY);
        //document.getElementById("debugDrag").innerHTML = BottomMessagesHeight;
    }

    function dragTouchBottomMessagesEnd(event) {

        document.getElementById("main").style.height = "calc(100vh - (52px + " + BottomMessagesHeight + "px))";
        document.getElementById("bottomMessages").style.top = BottomMessagesTop + "px";
        document.getElementById("bottomMessages").style.height = BottomMessagesHeight + "px";
        document.getElementById("ghostbarTouchHandler").style.zIndex = "30";
        document.getElementById("ghostbarTouchHandler").style.opacity = "0";
        //document.getElementById("debugDrag").innerHTML = BottomMessagesHeight;
    }
    function dragCancel(event) {
        document.getElementById("ghostbarTouchHandler").style.zIndex = "30";
        document.getElementById("ghostbarTouchHandler").style.opacity = "0";
    }
    //-- End drag functions -----------------------

    function openBottomMessages() {
        document.getElementById("handleCloseBottomMessages").style.display = "block";
        document.getElementById("handleOpenBottomMessages").style.display = "none";
        document.getElementById("bottomMessages").style.visibility = "visible";
        document.getElementById("notificationContainer").style.transform = "scaleY(1)";
        document.getElementById("bottomMessages").style.top = document.body.clientHeight - BottomMessagesHeight + "px";
        document.getElementById("bottomMessages").style.height = BottomMessagesHeight + "px";
        document.getElementById("dragbar").style.visibility = "visible";
        document.getElementById("main").style.height = "calc(100vh - (52px + " + BottomMessagesHeight + "px))";
        document.getElementById("ghostbarTouchHandler").style.visibility = "visible";
        document.getElementById("ghostbarTouchHandler").style.opacity = "1";
        document.getElementById("ghostbarTouchHandler").style.top = document.getElementById("bottomMessages").style.top;
        document.getElementById("ghostbarTouchHandler").style.display = "block";
    }

    function closeBottomMessages() {
        document.getElementById("handleCloseBottomMessages").style.display = "none";
        document.getElementById("handleOpenBottomMessages").style.display = "block";
        document.getElementById("notificationContainer").style.transform = "scaleY(0)";
        document.getElementById("bottomMessages").style.visibility = "hidden";
        document.getElementById("bottomMessages").style.height = "0px";
        document.getElementById("dragbar").style.visibility = "hidden";
        document.getElementById("main").style.height = "calc(100vh - 65px)";
        document.getElementById("ghostbarTouchHandler").style.opacity = "0";
        document.getElementById("ghostbarTouchHandler").style.top = document.getElementById("bottomMessages").style.top;
        document.getElementById("ghostbarTouchHandler").style.display = "none";
    }
</script>
<!--
<input type="text" ng-model="name" />
<button ng-click="changeTab(name)" >change tab</button>
-->
