<style>
    .sidenav {
        /* padding-top: 300px; */
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 100;
        /* opacity: 0.90;*/
        /* top: 0; */
        left: 0;
        background-color: #EEE;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        /* font-size: 36px; */
        margin-left: 50px;
    }

    #main {
        transition: margin-left .5s;
        padding: 16px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
    }
</style>
<div class="container-fluid" ng-show="viewType != 'min'">
    <!--1/2 manual tab implementation because Angular UI Bootstrap doesn't include a option for content right-->
    <!--migrate to Angular UI Bootstrap when they offer one-->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" style="font-size:30px;cursor:pointer" onclick="closeNav()">&times;</a>
        <div class="row col-md-2">
            <!-- input type="text" class="form-control" ng-change="checkForWildCard(searchText)" ng-model="searchText.displayName" placeholder="Search" style="width:200px;" typeahead-min-length="0" -->
            <input type="text" class="form-control" ng-model="searchText.displayName" placeholder="Search" style="width:200px;" typeahead-min-length="0">
        </div>
        <div class="row"/>
        <div class="tabbable">

            <ul class="nav nav-tabs nav-stacked col-md-1" role="tablist">
                <li ng-repeat="panel in panels | orderBy:getName:true | filter:searchText:wildCardOn" ng-class="{'active': view_tab == panel.name}">
                    <a class="btn pull-left" ng-click="changeTab(panel.name)" href="">
                        <img ng-src="{{::panel.simpleName}}.png" width="16">
                        <b>{{::panel.displayName}}</b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="main">
    <span onmouseenter="openNav()" style="font-size:30px;cursor:pointer">&#9776;Open</span>
    <!--span onmouseenter="openNav()" style="font-size:130px;cursor:pointer">&#9776;</span-->
    <!--   THIS IS THE MOST IMPORTANT PART OF /main
                    could possibly use this as "undock" ?
             
            <div ng-repeat="panel in panels"
                 panel-drctv
                 panel="panel">
            </div>
            -->
    <div ng-repeat="panel in panels" service-ctrl-directive panel="panel">
    <!--maybe move this to somewhere general?-->
    </div>
    <div class="col-md-12">
        <div class="tab-content">
            <div ng-repeat="panel in panels" ng-show="view_tab == panel.name" service-body panel="panel"></div>
        </div>
    </div>
</div>
</div>
<div class="container-fluid" ng-show="viewType == 'min'">
    <div class="tab-content">
        <div ng-repeat="panel in panels" ng-show="view_tab == panel.name" service-body panel="panel"></div>
    </div>
</div>
</div>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>
