<h2>Testing !</h2>
current gateway : {{gateway.name}}<br/>
current runtime : {{runtime.name}}<br/>
platform: {{platform.arch}}.{{platform.bitness}}.{{platform.os}}<br/>
version: {{platform.mrlVersion}}<br/>
<h3>services</h3>
<!--
<ul>
    <li ng-repeat="service in registry"> {{service.name}} {{service.pulseData}}</li>
</ul>
-->

<ul>
    <li ng-repeat="service in guiData"> {{service.name}} {{service.pulseData}}</li>
</ul>

<div class="container-fluid">
            <div class="row">                
                <div class="col-md-6">
                <form class="service-form">
                    <button class="btn btn-default" type="submit" tooltip-placement="bottom" tooltip="About" ng-click="start()">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </button>
                    <input type="text" class="form-control" style="vertical-align: top;width: 200px" placeholder="clock01" ng-model="testName"></input>
                    <input type="text" class="form-control" style="vertical-align: top;width: 200px" placeholder="Clock" ng-model="testType"></input>
                </form>
                    
                </div>
            </div>
</div>       