   <wsdl:message name="%methodName%Request">
      %parameters%
   </wsdl:message>
   <wsdl:message name="%methodName%Response">
      <wsdl:part element="impl:%methodName%Response" name="parameters">
      </wsdl:part>
   </wsdl:message>
   
 