     <wsdl:operation name="%methodName%">
         
         <wsdl:input message="impl:%methodName%Request" name="%methodName%Request">
             
       </wsdl:input>
       
         <wsdl:output message="impl:%methodName%Response" name="%methodName%Response">
             
       </wsdl:output>
       
      </wsdl:operation>