
  public synchronized byte[] %name%(%javaMethodParameters%) {
    if (debug) {
      log.info("Sending Message: %name%");
    }
    try {
      startMessage();
      appendMessage(MAGIC_NUMBER);
      appendMessage(%javaWriteMsgSize%); // size
%javaWrite% 
      byte[] message = sendMessage();
      if (ackEnabled){
        waitForAck();
      }
%javaSendRecord%
      return message;
	} catch (Exception e) {
      log.error("%name% threw",e);
      return null;
    }
  }
