<div ng-controller="ClockGuiCtrl">
    HEY!!! - ClockGUI here!
    {{name}}
    <div ng-switch on="inst.size">
        <div class="animate-switch" ng-switch-when="small">Small view</div>
        <div class="animate-switch" ng-switch-when="medium">Medium view<br>mevi</div>
        <div class="animate-switch" ng-switch-when="large">Large view<br>lavi<br>lavi</div>
        <div class="animate-switch" ng-switch-when="full">
            <div>Full view<br>fuvi<br>fuvi<br>fuvi</div>
        </div>
    </div>
</div>