    <div class="col-lg-6">
    <table>
        <tr>
            <td>controller</td>
            <td><select ng-model="newController" ng-disabled="isAttached" ng-options="controller for controller in controllers" class="btn btn-default pull-right"></select></td>
        </tr>
        <tr>
            <td>type</td>
            <td><select ng-model="newType" ng-disabled="isAttached" ng-options="possibleType for possibleType in service.types" class="btn btn-default pull-right"></select></td>           
        </tr>
        <tr ng-show="{{newType == 'MotorConfigSimpleH'}}">
            <td>pwm pin <select ng-model="newPin0" ng-disabled="isAttached" ng-options="pin for pin in pins" class="btn btn-default pull-right"></select></td>      
            <td align="right">dir pin <select ng-model="newPin1" ng-disabled="isAttached" ng-options="pin for pin in pins" class="btn btn-default pull-right"></select></td>
        </tr>
        <tr ng-show="{{newType == 'MotorConfigDualPwm'}}">
            <td>left <select ng-model="newPin0" ng-disabled="isAttached" ng-options="pin for pin in pins" class="btn btn-default pull-right"></select></td>      
            <td align="right">right <select ng-model="newPin1" ng-disabled="isAttached" ng-options="pin for pin in pins" class="btn btn-default pull-right"></select></td>
        </tr>
        <!--
        <tr>
            <td>encoder type </td>
            <td><select ng-model="newEncoderType" ng-disabled="isAttached" ng-options="possibleEncoderType for possibleEncoderType in service.encoderTypes" class="btn btn-default pull-right"></select></td>
        </tr>
        <tr>
            <td>encoder pin </td>
            <td><select ng-model="newEncoderPin" ng-disabled="isAttached" ng-options="pin for pin in pins" class="btn btn-default pull-right"></select></td>
        </tr>
        -->
    </table>
    </div>
  
    <div class="col-lg-6">
    <table>
        <tr>
            <td>position</td>
            <td><h2>{{position}}</h2></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="btn-group">
                <button class="btn btn-default" ng-disabled="!isAttached" ng-click="moveLeft()"><span class="glyphicon glyphicon-chevron-left"></button>
                <button class="btn btn-default" ng-disabled="!isAttached" ng-click="msg.stop()"><span class="glyphicon glyphicon-stop"></button>
                <button class="btn btn-default" ng-disabled="!isAttached" ng-click="moveRight()"><span class="glyphicon glyphicon-chevron-right"></button>
                </div>
            </td>
            <td></td>
        </tr>
        <!-- FIXME - when we have an motor with an encoder to test we can test this 
        <tr>
            <td><button class="btn btn-default btn-block" ng-disabled="!isAttached" ng-click="moveTo();">move to</button></td>
            <td><input type="text" ng-disabled="!isAttached" ng-model="moveToPos" class="form-control"></td>
        </tr>
        -->
        <tr>
            <td><button class="btn btn-default btn-block" ng-click="msg.setPowerLevel(service.powerLevel);">power level</button></td>
            <td><input type="text" ng-model="service.powerLevel" class="form-control"></td>
        </tr>
        <tr>
            <td>     
                <button class="btn btn-default btn-block" ng-if="!isAttached" ng-click="attach();">attach</button>
                <button class="btn btn-default btn-block" ng-if="isAttached" ng-click="detach()">detach</button>
            </td>
            <td></td>
        </tr>
     </table>
    </div>       
