<button class="btn btn-default" ng-click="msg.loadAndRunTests(testPlan.servicesToTest, testsToRun)">test</button> {{currentProgress.currentActivity}} <b> {{currentProgress.testsDone}} <span class="text-danger">errors: {{currentProgress.errorCount}}</span><span class="text-success"> worky: {{currentProgress.testsDone - currentProgress.errorCount}}</span></b>
<uib-progress max=currentProgress.totalTests>
<uib-bar class="progress-striped active" value="currentProgress.errorCount" type="danger">{{currentProgress.errorCount}}/{{currentProgress.testsDone}} {{currentProgress.errorPercentage}}%</uib-bar>
<uib-bar class="progress-striped active" value="currentProgress.successes" type="success">{{currentProgress.successes}}/{{currentProgress.testsDone}} {{currentProgress.successPercentage}}%</uib-bar>
</uib-progress> 
 <!-- servicesToTest={{testPlan.servicesToTest}}<br> -->
 <!-- testsToRun={{testsToRun}}<br> -->
<span ng-repeat="test in tests"> 
<input type="checkbox" checklist-model="testsToRun" checklist-value="test"> {{test.substring(4)}}
</span>

<!-- error table begin -->
<table class="table table-striped">
  <tr><th>error list</th></tr>
  <tr ng-repeat="error in errors"> 
    <td> <input type="checkbox" checklist-model="testPlan.servicesToTest" checklist-value="error.serviceName">
      <img ng-src="/{{error.serviceName}}.png" width="16">&nbsp;&nbsp;{{error.serviceName}} {{error.testName.substring(4)}} {{error.status.detail}}
    </td>
  </tr>
 </table>
 <!-- error table end -->


<table class="table table-striped">
  <tr><th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" />{{services.length}} services</th><th>description</th><th>available</th><th>tests</th><th>sponsor</th><th>todo</th></tr>
  <tr ng-repeat="serviceType in services"> 
    <td>
      <input type="checkbox" checklist-model="testPlan.servicesToTest" checklist-value="serviceType.simpleName">  
      <!-- <input type="checkbox" value="{{serviceType.simpleName}}" ng-checked="true" ng-click="toggleService(serviceType.simpleName)">  -->
      <a href="http://myrobotlab.org/service/{{serviceType.simpleName}}"><img ng-src="/{{serviceType.simpleName}}.png" width="16">&nbsp;&nbsp;{{serviceType.simpleName}}</a>
    </td>
    <td>{{ serviceType.description }}</td>
    <td>{{ serviceType.available }}</td>
    <td width="40%">
          <table class="table table-striped">
              <tr ng-repeat="test in currentProgress.results[serviceType.simpleName]">
                   <td ng-bind-html="trustAsHtml(test.link)"></td><td>&nbsp;<img ng-src="/Test/{{test.status.level}}.png" width="16"></td>
               </tr>
           </table>
    </td>    
    <td><a href="http://myrobotlab.org/users/{{ serviceType.sponsor }}">{{ serviceType.sponsor }}</a></td>
    <td width="40%">{{ serviceType.todo }}</td>
  </tr>
</table>

