
<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<!-- <property name="LOG_DIR" value="/var/log/application" /> <appender 
		name="FILE" class="ch.qos.logback.core.FileAppender"> <file>${LOG_DIR}/tests.log</file> -->
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>tests.log</file>
		<append>false</append>
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="STDERR"
		class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder>
			<pattern>%date [%thread] - 5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<root level="debug">
		<appender-ref ref="STDERR" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>