current gateway : {{name}}<br/>
platform: {{platform}}<br/>
services
<ul>
    <li ng-repeat="service in serviceDirectory"> {{service.name}} </li>
</ul>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" style="min-height: 200px">
            <div ng-repeat="service in serviceDirectory"
                 service-directive
                 style="width: 500px"
                 service="{{service}}">
            </div>
        </div>
        <div class="col-md-6">
            <div>DEBUG-SECTION not assigned yet</div>
            <pre>Model: {{searchSelectedService| json}}</pre>
        </div>
    </div>
</div>       