current gateway : {{gateway.name}}<br/>
platform: {{platform.arch}}.{{platform.bitness}}.{{platform.os}}<br/>
services
<ul>
    <li ng-repeat="data in guiData"> {{data.service.name}} </li>
</ul>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" style="min-height: 200px">
            <div ng-repeat="data in guiData"
                 service-directive
                 style="width: 500px"
                 service="{{data.service}}">
            </div>
        </div>
        <div class="col-md-6">
            <div>DEBUG-SECTION not assigned yet</div>
            <pre>Model: {{searchSelectedService| json}}</pre>
        </div>
    </div>
</div>       