<div class="row">
<div class="col-lg-12">
    <label for="platform">{{platform}} {{version}}</label>
     <!--<pre>Model: {{customSelected | json}}</pre> -->
</div>     
<div class="col-lg-4">
     <input class="form-control" type="text" ng-model="newName" placeholder="name">
</div>
<div class="col-lg-4">
    <input class="form-control" type="text" ng-model="newType" placeholder="Service Type" typeahead="state as state.name for state in possibleServices | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html">
    <script type="text/ng-template" id="customTemplate.html">
    <a>
      <img ng-src="/{{match.model.img}}" width="16">
      <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    </a>
    </script>
</div>  
<div class="col-lg-4">
    <button class="btn btn-default" ng-click="start(newName, newType)">start service</button>
</div>   
</div>