<h3>{{pulseData}}</h3>
<div class="col-xs-3">
    <button class="btn btn-default" ng-if="!service.isClockRunning" ng-click="msg.setInterval(toNumber(service.interval));msg.startClock();">Start</button>
    <button class="btn btn-default" ng-if="service.isClockRunning" ng-click="msg.stopClock();">Stop</button>
</div>
<div class="col-xs-3">
    <input class="form-control" type="text" ng-model="service.interval" ng-disabled="service.isClockRunning" ng-trim="false" unit-ms/>
</div>

<!--TODO FIXME - test this!-->
<!--you can define various sizes and show more or less elements according to your size-->
<div ng-switch on="size">
    <div class="animate-switch" ng-switch-when="small">Small view</div>
    <div class="animate-switch" ng-switch-when="medium">Medium view<br>mevi</div>
    <div class="animate-switch" ng-switch-when="large">Large view<br>lavi<br>lavi</div>
    <div class="animate-switch" ng-switch-when="full">Full view<br>fuvi<br>fuvi<br>fuvi</div>
</div>

<!--TODO FIXME - test this-->
<!--for having several panels - you don't have to show the same in every panel-->
Panelname: 
<div ng-switch on="panelname">
    <div class="animate-switch" ng-switch-when="panel0">0</div>
    <div class="animate-switch" ng-switch-when="panel1">1</div>
    <div class="animate-switch" ng-switch-when="panel2">2</div>
</div>