<uib-tabset active="active">
	<!-- begin -->
    <uib-tab index="0" heading="Status">
		<div class="col-lg-4">
		<div class="input-group">
			   <input class="form-control" type="text" ng-model="portName" ng-disabled="isConnected" uib-typeahead="portName for portName in serial.possiblePorts | filter:$viewValue | limitTo:8"/>
			   <span class="input-group-btn"><button class="btn btn-default" ng-show="!isConnected" ng-click="refresh()">refresh</button></span>
			   <span class="input-group-btn"><button class="btn btn-default" ng-show="!isConnected" ng-click="connect(portName, service.baudrate, service.databits, service.stopbits, service.parity)">connect</button></span>
			   <span class="input-group-btn"><button class="btn btn-default" ng-show="isConnected" ng-click="disconnect()">disconnect</button></span>
			   <!-- span class="input-group-btn"><button class="btn btn-default" ng-model="monitorModel" btn-checkbox ng-click="monitor()">monitor</button></span -->
		</div>
		</div>
		<div class="col-lg-8">
		{{statusLine}}
		</div>
    </uib-tab>
	<!-- end -->
	<!-- begin -->
    <uib-tab heading="MRLComm.c">
    	<span>Arduino IDE executable</span>
    	Path<input type="text" ng-model="arduinoPath">
    	Port<input type="text" ng-model="portName">
    	Type<input type="text" ng-model="board">
    	<button class="btn btn-default pull-right" ng-click="setArduinoPath(arduinoPath,portName,board)">Upload</button>
		 <button class="btn btn-default pull-right" clipboard text="service.sketch.data"><span class="glyphicon glyphicon-copy"></span>Copy</button> 
		 <div class="col-lg-12" style="height: 600px;" ui-ace="{
												   useWrapMode : true,
												   showGutter: true,
												   theme:'chrome',
												   mode: 'c_cpp',
												   firstLineNumber: 1,
												   onLoad: aceLoaded,
												   onChange: aceChanged}">
		</div>
    </uib-tab>
	<!-- end -->
	<!-- begin -->
    <uib-tab heading="Settings">
		   <label for="type">board</label>
		   <select ng-model="board" ng-change="onBoardChange(board)" class="form-control">
		   	  	<option>Uno</option>
		   		<option>Mega</option>
			</select>    
    </uib-tab>
	<!-- end -->
	<!-- begin -->
    <uib-tab heading="Oscope">
 		<oscope id="oscope" ng-model="service.name" ></oscope>
    </uib-tab>
	<!-- end -->
	<!-- begin -->
    <uib-tab heading="Pins">
		<img src="{{image}}" width="600"/>
    </uib-tab>
	<!-- end -->

</uib-tabset>
