<!--
<div class="row">
<div class="col-lg-12">
    connect {{connectText}}<br>
    gui {{gui}}<br>
    service {{service}}
</div>
</div>

-->

<div class="row">


    <!-- <button type="button" popover-placement="right" popover-template="'mrlcomm.html'">load MRLComm ino</button> -->
    <button type="button" popover-placement="right" popover-template="'mrlcomm.html'" class="btn btn-default" ><span class="glyphicon glyphicon-file"></span>load MRLComm.ino </button>
                    <!-- options begin ---->
                <script type="text/ng-template" id="mrlcomm.html">

                    <div class="form-group">
                    Before attaching to an Arduino you must load MRLComm.ino into your board.  This needs to be done only once. 

                    copy button
                    <textarea ng-model="service.sketch.data" class="form-control" rows="10" width="100%" id="tx"></textarea>               
                    </div>

                </script>
                <!-- options end ---->

</div>
