<div ng-controller="ClockGuiCtrl">
    HEY!!! - ClockGUI here!<br>
    fw {{fw}}<br>
    data {{data}}<br>
    guidata {{guidata}}<br>
    methods {{methods}}<br>
    pulseData {{data.pulseData}}<br>
    <div ng-switch on="fw.size">
        <div class="animate-switch" ng-switch-when="small">Small view</div>
        <div class="animate-switch" ng-switch-when="medium">Medium view<br>mevi</div>
        <div class="animate-switch" ng-switch-when="large">Large view<br>lavi<br>lavi</div>
        <div class="animate-switch" ng-switch-when="full">Full view<br>fuvi<br>fuvi<br>fuvi</div>
    </div>
</div>