
  <div class="btn-group" uib-dropdown>
      <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
        {{controller}} <span class="caret"></span>
      </button>
      <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li ng-repeat="(key, value) in service.controllerNames">
          <a href="" ng-click="setController(value)">{{key}}</a> 
        </li>
      </ul>
  </div>  

<button class="btn btn-default" ng-show="!isConnected" ng-click="msg.getComponents()">refresh</button>
<h3 class="text-center">{{input.id}} {{input.value}}</h3> 

<h3 class="text-left">Buttons</h3>
<span class="btn-group" ng-repeat="component in buttons">
  <button type="button" ng-class="component.value == 1 ? 'btn btn-default' : 'btn btn-primary'" >{{ component.id }}</button>
</span>    


<h3>Axis</h3>
<table>
<tr>
   <td class="text-center" ng-repeat="component in axis">
    {{ component.id }} 0.0 &nbsp;
    </td>
</tr>
</table>

<nvd3-discrete-bar-chart
    	data="axis"
        id="showValueExample"    
        objectEquality="true"
        showXAxis="true"
        showYAxis="true"
        width="550"
        height="300"
        xAxisTickFormat="xAxisTickFormatFunction()"
        showValues="true"
        color="colorFunction()">
        	<svg></svg>
    </nvd3-discrete-bar-chart>    