<div>
    Leap Motion Gui!<br/>
    <pre>{{leapData}}</pre>
    <table>
    <thead><tr><td>Left Hand</td><td>Value</td></tr></thead>
    <tr><td>X</td><td>{{leapData.leftHand.posX}}</td></tr>
    <tr><td>Y</td><td>{{leapData.leftHand.posY}}</td></tr>
    <tr><td>Z</td><td>{{leapData.leftHand.posZ}}</td></tr>
<!--     <tr><td>Roll</td><td>{{leapData.leftHand.roll}}</td></tr>
    <tr><td>Pitch</td><td>{{leapData.leftHand.pitch}}</td></tr>
    <tr><td>Yaw</td><td>{{leapData.leftHand.yaw}}</td></tr>  -->
    </table>

    <table>
    <thead><tr><td>Right Hand</td><td>Value</td></tr></thead>
    <tr><td>X</td><td>{{leapData.rightHand.posX}}</td></tr>
    <tr><td>Y</td><td>{{leapData.rightHand.posY}}</td></tr>
    <tr><td>Z</td><td>{{leapData.rightHand.posZ}}</td></tr>
     <!--     <tr><td>Roll</td><td>{{leapData.Hand.roll}}</td></tr>
    <tr><td>Pitch</td><td>{{leapData.Hand.pitch}}</td></tr>
    <tr><td>Yaw</td><td>{{leapData.Hand.yaw}}</td></tr>  -->
    </table>
     
     
</div>