<input type="text" class="form-control" ng-model="text"/>
<button class="btn btn-default" ng-disabled="service.isSpeaking" ng-click="msg.speakBlocking(text)">Speak</button>
<input type="text" class="form-control" ng-model="voice"/>
<button class="btn btn-default" ng-click="msg.setVoice(voice)">Set Voice</button>
<button type="button" class="btn btn-default" ng-click="collapse = !collapse">Toggle Component Installer</button>
<div collapse="collapse">
    <div class="form-group">
        <input type="text" class="form-control" ng-model="componenturl"/>
        <button class="btn btn-default" ng-click="msg.updateFromComponentUrl(componenturl)">Update Components</button>
    </div>
    <!--TODO - fix automatic disabling if there are components-->
    <div ng-show="{{service.possibleVoices === undefined}}">Please try to (re-)load the components file if list is empty</div>
    <div accordion>
        <div accordion-group is-open="status.open" ng-repeat="voice in service.possibleVoices">
            <div accordion-heading>
                <div>
                    {{voice.name}}
                    <span class="pull-right">
                        <span ng-if="voice.install">install!</span>&nbsp;&nbsp;
                        {{voice.status}}&nbsp;&nbsp;{{voice.gender}}&nbsp;&nbsp;{{voice.locale}}&nbsp;&nbsp;
                        <i class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </span>
                </div>
            </div>
            Description: {{voice.description}}<br>
            Type: {{voice.type}}<br>
            Version: {{voice.version}}<br>
            Size: {{voice.packageSize / 1024 / 1024| number:2}}MB<br>
            <button type="button" class="btn btn-primary" ng-model="voice.install" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                <span ng-if="install">install!</span>
                <span ng-if="!install">don't install!</span>
            </button>
        </div>
    </div>
    <button type="button" class="btn btn-primary" ng-click="install()">
        Install!
    </button>
</div>

<script type="text/ng-template" id="MarySpeechInstallationNothingSelected.html">
    <div class="modal-header">
    <h3 class="modal-title">
    <div ng-if="service.installationstate=='nothingselected'" class="text-color:'red'">ERROR</div>
    <div ng-if="service.installationstate=='installcomponents'">Continue?</div>
    </h3>
    </div>
    <div class="modal-body">
    <div ng-if="service.installationstate=='nothingselected'">You have not selected any installable components</div>
    <div ng-if="service.installationstate=='installcomponents'">
    Install {{service.isntallationstateparam1}} components?<br>
    ({{service.installationstateparam2}} to download)<br>
    Proceed with installation?
    </div>
    </div>
    <div class="modal-footer">
    <div ng-if="service.installationstate=='nothingselected'">
    <button class="btn btn-primary" ng-click="close();">OK</button>
    </div>
    <div ng-if="service.installationstate=='installcomponents'">
    <button class="btn btn-primary" ng-click="msg.installSelectedLanguagesAndVoices2();close();">YES</button>
    <button class="btn btn-primary" ng-click="close();">NO</button>
    </div>
    </div>
</script>