    <div class="col-xs-4">controller
    	<select ng-model="newController" ng-disabled="isAttached" ng-options="controller for controller in controllers" class="btn btn-default">
        </select>

    </div>       
    
    <div class="col-xs-4">
    <table>
        <tr>
            <td>type</td>
            <td><select ng-model="newType" ng-disabled="isAttached" ng-options="possibleType for possibleType in service.types" class="btn btn-default pull-right"></select></td>
        </tr>

        <tr ng-repeat="(key, value) in service.pinMap">
            <td> {{key}} </td> <td> {{ value }} </td>
        </tr>

        <tr>
            <td>pwm pin</td>
            <td><select ng-model="newPin0" ng-disabled="isAttached" ng-options="pin for pin in pins" class="btn btn-default pull-right"></select></td>
        </tr>
        <tr>
            <td>dir pin</td>
            <td> <select ng-model="newPin1" ng-disabled="isAttached" ng-options="pin for pin in pins" class="btn btn-default pull-right"></select></td>
        </td>
        <tr>
            <td>encoder type </td>
            <td><select ng-model="newEncoderType" ng-disabled="isAttached" ng-options="possibleEncoderType for possibleEncoderType in service.encoderTypes" class="btn btn-default pull-right"></select></td>
        </tr>
        <tr>
            <td>encoder pin </td>
            <td><select ng-model="newEncoderPin" ng-disabled="isAttached" ng-options="pin for pin in pins" class="btn btn-default pull-right"></select></td>
        </tr>
    </table>
    </div>
  
    <div class="col-xs-4">
    <table>
        <tr>
            <td>position</td>
            <td><h2>{{position}}</h2></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="btn-group">
                <button class="btn btn-default" ng-disabled="!isAttached" ng-click="moveTo();"><span class="glyphicon glyphicon-chevron-left"></button>
                <button class="btn btn-default" ng-disabled="!isAttached" ng-click="moveTo();"><span class="glyphicon glyphicon-stop"></button>
                <button class="btn btn-default" ng-disabled="!isAttached" ng-click="moveTo();"><span class="glyphicon glyphicon-chevron-right"></button>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td><button class="btn btn-default btn-block" ng-disabled="!isAttached" ng-click="moveTo();">move to</button></td>
            <td><input type="text" ng-disabled="!isAttached" ng-model="moveToPos" class="form-control"></td>
        </tr>
        <tr>
            <td><button class="btn btn-default btn-block" ng-click="msg.setPowerLevel(powerLevel/100);">power level</button></td>
            <td><input type="text" ng-model="service.powerLevel * 100" class="form-control"></td>
        </tr>
        <tr>
            <td>     
                <button class="btn btn-default btn-block" ng-if="!isAttached" ng-click="attach();">attach</button>
                <button class="btn btn-default btn-block" ng-if="isAttached" ng-click="detach()">detach</button>
            </td>
            <td></td>
        </tr>
     </table>
    </div>       
