<div class="row">
  <div class="col-lg-12">
    <!-- simple dropdown -->
    <div class="input-group">
      <span class="input-group-addon" uib-dropdown on-toggle="toggled(open)">
        <a href id="simple-dropdown" uib-dropdown-toggle ng-disabled="isAttached">controller<span class="caret"></span></a>
        <ul uib-dropdown-menu>
          <li ng-repeat="possibleController in controllers" ng-click="setControllerName(possibleController)"><a href>{{possibleController}}</a></li>
        </ul>
      </span>
  
      <input type="text" class="form-control" ng-model="controllerName" ng-disabled="isAttached"><!-- FIXME - type-ahead -->  

      <span class="input-group-addon" uib-dropdown on-toggle="toggled(open)" ng-init="msg.getPin()">
        <a href id="simple-dropdown" uib-dropdown-toggle ng-disabled="isAttached">pin<span class="caret"></span></a>
        <ul uib-dropdown-menu>
          <li ng-repeat="newPin in pins" ><a href ng-click="setPin(newPin)">{{newPin}}</a></li>
        </ul>
      </span>

      <input type="text" class="form-control" ng-model="pin" ng-disabled="isAttached"><!-- FIXME - type-ahead -->  
     
      <span class="input-group-addon" uib-dropdown on-toggle="toggled(open)" ng-init="msg.getNumPixel()">
        <a href id="simple-dropdown" uib-dropdown-toggle ng-disabled="isAttached">Pixels<span class="caret"></span></a>
        <ul uib-dropdown-menu>
          <li ng-repeat="newPixel in numPixels" ><a href ng-click="setPixel(newPin)">{{newPixel}}</a></li>
        </ul>
      </span>

      <input type="text" class="form-control" ng-model="numPixel" ng-disabled="isAttached"><!-- FIXME - type-ahead -->  

      <span class="input-group-btn">
         <button class="btn btn-default" ng-show="isAttached"  ng-click="msg.unsetController()">detach</button>
         <button class="btn btn-default" ng-show="!isAttached"  ng-click="msg.setController(controllerName, pin, numPixel)">attach</button>
      </span>
    </div>
  </div>
</div>
<div class="row" ng-repeat="eachpixel in pixels track by $index">
  <div class="col-lg-12">
    <div class="input-group">
    	<span class="input-group-addon">Pixel #</span>
    	<input type="text class="form-control" ng-model=eachpixel.address ng-disabled="!isAttached">
    	<span class="input-group-addon">Red</span>
    	<input type="text class="form-control" ng-model=eachpixel.red ng-disabled="!isAttached">
    	<span class="input-group-addon">Green</span>
    	<input type="text class="form-control" ng-model=eachpixel.green ng-disabled="!isAttached">
    	<span class="input-group-addon">Blue</span>
    	<input type="text class="form-control" ng-model=eachpixel.blue ng-disabled="!isAttached">
    	<span class="input-group-btn">
    		<button class="btn btn-default" ng-disabled="!isAttached" ng-click="msg.setPixel(eachpixel.address, eachpixel.red, eachpixel.green,eachpixel.blue)">Set Pixel</button>
    		<button class="btn btn-default" ng-disabled="!isAttached" ng-click="msg.sendPixel(eachpixel.address, eachpixel.red, eachpixel.green,eachpixel.blue)">Show Pixel</button>
    	</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="input-group">
    	<span class="input-group-btn">
    		<button class="btn btn-default" ng-disabled="!isAttached" ng-click="msg.sendPixelMatrix()">Send Pixel Matrix</button>
    		<button class="btn btn-default" ng-disabled="!isAttached" ng-show="off" ng-click="msg.turnOn()">Turn On</button>
    		<button class="btn btn-default" ng-disabled="!isAttached" ng-show="!off" ng-click="msg.turnOff()">Turn Off</button>
    	</span>
	</div>
  </div>
</div>
	