<div>
  <h3>OpenCV Gui!</h3>
  Here we go!
  <div>
  Input Control Widget<br/>
  Camera Index: {{cameraIndex}}
  <br/>
  <select name="cameraSelect" ng-model="cameraIndex" ng-change="selectCameraIndex(cameraIndex)">
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
  </select>
  <button id="startCapture" class="btn btn-default"  ng-click="startCapture()" ng-init="startSessionLabel = 'Start Capture'">{{startCaptureLabel}}</button>
  </div>
  <div>
    Video Widget Here <img src="logo.png" />
  </div>
  <div>
  Filter Control
  </div>
</div>