<style>
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  width: 100%;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>

<b>PID parameters, inputs and output</b><p>

<div class="row">
  <div class="col-lg-12">
  <div style="overflow-x:auto;">
    <table>
      <tr>
        <th>Key</th>
        <th>sampletime (ms)</th>
        <th>kp</th>
        <th>ki</th>
        <th>kd</th>
        <th>inverted</th>
        <th>setpoint</th>
        <th>input</th>
        <th>output</th>
      </tr>
      <tr ng-repeat='(key, value) in piddata'>
        <span><td><b>{{key}}</b> 
              <td>{{value.sampleTime || 0 | number:3}} 
              <td>{{value.dispKp || 0 | number:3}} 
              <td>{{value.dispKi || 0 | number:3}} 
              <td>{{value.dispKd || 0 | number:3}} 
              <td>{{value.controllerDirection}}
              <td>{{value.setpoint}}
              <td>{{value.input || 0 | number:3}}
              <td>{{value.output || 0 | number:3}}
         </span>
        </td>
      </tr>
    </table>
    </div>
   </div>
 </div>