<div>
    Service   : {{service.name}} of type {{service.simpleName}}<br/>
    Bot   Name: {{service.botName}}<br/>
    Start Time: {{service.serviceStartTime}}<br/>
	<!--  TODO: add google web speech toolkit to this input text box -->
	<form>
    <input ng-model="utterance" name="utterance" ng-init=""/>  
    <button ng-click="askProgramAB(utterance)" ng-init="">Ask</button>
    </form>
    <br/>
    <table>
      <thead>
        <tr>
          <th width="200">Chat Session Log:</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="rowContent in rows track by $index">
          <td>{{rowContent}}</td>
        </tr>
      </tbody>
    </table>    
    
    <div ng-switch on="gui.size">
        <div class="animate-switch" ng-switch-when="small">Small view</div>
        <div class="animate-switch" ng-switch-when="medium">Medium view</div>
        <div class="animate-switch" ng-switch-when="large">Large view</div>
        <div class="animate-switch" ng-switch-when="full">Full view</div>
    </div>   
</div>