<!-- file menu button bar begin -->
<div class="btn-group">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="glyphicon glyphicon-open">open</span><!-- span class="caret"></span-->
    </button>

	<!-- python example resource files -->
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li ng-repeat="file in service.currentFileList" ng-class="navClass('{{file.type}}')"> <a href='' ng-click="msg.loadExample(getName(file.path))">{{getName(file.path)}}</a> 
        </li>
    </ul>


  <button type="button" class="btn btn-default" ng-click="msg.exec(editor.getValue())"><span class="glyphicon glyphicon-play"></span>execute</button>
  <button type="button" class="btn btn-default"                        ng-click="msg.stop()"><span class="glyphicon glyphicon-stop"></span>stop</button>
  <button type="button" class="btn btn-default"                        ng-click="msg.saveCurrentScript()"><span class="glyphicon glyphicon-save"></span>save</button>
  
</div>

<!-- file menu button bar end theme:'twilight',-->
<tabset justified="true">
    <tab heading="{{tabName}}">	    
		<div style="height: 300px;width: 100%;" ui-ace="{
		                                       useWrapMode : true,
		                                       showGutter: true,		                                       
                                               theme:'chrome',
		                                       mode: 'python',
		                                       firstLineNumber: 1,
		                                       onLoad: aceLoaded,
		                                       onChange: aceChanged}">
		</div>
    </tab>

    <tab heading="new file"> 		
    </tab>
    
</tabset>
<!-- FIXME - make debug window directive -->
<hr/>

<textarea ng-model="output" id="output" class="col-lg-12" readonly>
</textarea>	
<!--
{{service}}
{{methodMap}}
-->