<!-- file menu button bar begin -->
<div class="btn-group">
    

<div ng-intro-options="IntroOptions" ng-intro-method="CallMe"
		     ng-intro-oncomplete="CompletedEvent" ng-intro-onexit="ExitEvent"
		     ng-intro-onchange="ChangeEvent" ng-intro-onbeforechange="BeforeChangeEvent"
		     ng-intro-onafterchange="AfterChangeEvent"
		     ng-intro-autostart="ShouldAutoStart"></div>


<!-- <a class="btn btn-large btn-success" ng-click="CallMe();">Demo</a> -->
		

    <!-- python example resource scripts begin -->
    <div class="btn-group" uib-dropdown is-open="status.isopen">
    <button class="btn btn-default uib-dropdown-toggle" type="button" data-toggle="dropdown">    
	  <span data-intro="here are some examples you can play with" data-position="top" class="glyphicon glyphicon-open">examples</span>
    </button>	
    <ul uib-dropdown-menu>
      <li ng-repeat="(key, value) in service.exampleUrls" ng-class="navClass('{{key}}')"> <a href='' ng-click="msg.loadPyRobotLabServiceScript(key)">{{key}}</a>       
        </li>
    </ul>
	</div>
    <!-- python example resource scripts end -->

    <!-- python open resource scripts begin -->
    <div class="btn-group" uib-dropdown is-open="status.isopen">
    <button class="btn btn-default uib-dropdown-toggle" type="button" data-toggle="dropdown">
      <span data-intro="open scripts from your .myrobotlab directory" data-position="top" class="glyphicon glyphicon-open">open</span><!-- span class="caret"></span-->
    </button>	
    <ul uib-dropdown-menu>
      <li ng-repeat="script in service.localPythonFiles" ng-class="navClass('{{script}}')"> <a href='' ng-click="msg.loadUserScript(script)">{{script}}</a>       
        </li>
    </ul>
	</div>
    <!-- python open resource files end -->

    <!-- python example resource files end -->

  <button type="button" class="btn btn-default" ng-click="msg.exec(editor.getValue())"><span class="glyphicon glyphicon-play"></span>execute</button>
  <button type="button" class="btn btn-default" ng-click="msg.stop()"><span class="glyphicon glyphicon-stop"></span>stop</button>
  <button type="button" class="btn btn-default" ng-click="msg.saveCurrentScript()"><span class="glyphicon glyphicon-save"></span>save</button>
  
</div>
<!-- file menu button bar end theme:'twilight',--> 

Active index: {{ activeTabIndex  }} <br /> script count: {{ scripts.length }} <br />
            
<input type="button" value="Add Script" ng-click="addScript()" />

<uib-tabset active="activeTabIndex">
	<uib-tab ng-repeat="script in scripts" heading="{{script.name}}">
		<div style="height: 300px;width: 100%;" ui-ace="{
		                                       useWrapMode : true,
		                                       showGutter: true,		                                       
                                               theme:'chrome',
		                                       mode: 'python',
		                                       firstLineNumber: 1,
		                                       onLoad: aceLoaded,
		                                       onChange: aceChanged}">	 
		</div>
	</uib-tab>
</uib-tabset>

<!-- FIXME - make debug window directive -->
<hr/>

<textarea ng-model="output" id="output" class="col-lg-12" readonly scroll-glue>
</textarea>	
<textarea  id="x" class="col-lg-12"/>

