<div class="row">
<div class="col-lg-2">
    <img src="../disconnected.png">
</div>
<div class="col-lg-10">
    <!-- <pre>Model: {{selected | json}}</pre>-->
    <h4>Port</h4>
    <input type="text" ng-model="port" typeahead="port for port in possiblePorts | filter:$viewValue | limitTo:8" class="form-control">
</div>
</div>

<div class="row">
<div class="col-lg-3">
    <h4>baud</h4>
    <input type="text" ng-model="selected" typeahead="baud for baud in possibleBaud | filter:$viewValue | limitTo:8" class="form-control">
</div>
<div class="col-lg-3">
    <h4>data bits</h4>
    <input type="text" ng-model="databits" class="form-control">
</div>
<div class="col-lg-3">
    <h4>stop bits</h4>
    <input type="text" ng-model="stopbits" class="form-control">
</div>
<div class="col-lg-3">
    <h4>parity</h4>
    <input type="text" ng-model="parity" class="form-control">
</div>
</div>

<div class="row">
<div class="col-lg-12">
  <label for="comment">rx</label>
  <textarea class="form-control" rows="8" id="rx"></textarea>
</div>
</div>

<div class="row">
<div class="col-lg-12">
  <label for="comment">tx</label>
  <textarea class="form-control" rows="3" id="tx"></textarea>
</div>
</div>
<!--
    gui {{gui}}<br>
    service {{service}}
-->    
