<div class="row">
  <div class="col-lg-2">
    <img ng-src="../{{isConnectedImage}}.png" /> <!-- TODO - make directive -->
  </div>
  <div class="col-lg-3">    
    <label for="service.portName">port</label>
    <input type="text" ng-model="portName" ng-disabled="isConnected" typeahead="portName for portName in possiblePorts | filter:$viewValue | limitTo:8" class="form-control">
  </div>
  <div class="col-lg-7">
  <div class="btn-group">
    <button class="btn btn-default" ng-show="!isConnected" ng-click="refresh()">refresh</button>
    <button class="btn btn-default" ng-show="isConnected" ng-click="disconnect()">disconnect</button>
    <button class="btn btn-default" ng-show="!isConnected" ng-click="connect(portName, service.baudrate, service.databits, service.stopbits, service.parity)">connect</button>
    <label class="btn btn-default" ng-model="monitorModel" btn-checkbox ng-click="monitor()">monitor</label>
    </div>
  </div>
</div>

<div class="row">
<div class="col-lg-3">
    <label for="service.baudrate">rate</label>
    <input type="text" ng-disabled="isConnected" ng-model="service.baudrate" typeahead="baudrate for baudrate in possibleBaud | filter:$viewValue | limitTo:8" class="form-control">
</div>
<div class="col-lg-3">    
    <label for="service.databits">data bits</label>
    <input type="text" ng-disabled="isConnected" ng-model="service.databits" class="form-control">
</div>
<div class="col-lg-3">
    <label for="service.stopbits">stop bits</label>
    <input type="text" ng-disabled="isConnected" ng-model="service.stopbits" class="form-control">
</div>
<div class="col-lg-3">
    <label for="service.parity">parity</label>
    <input type="text" ng-disabled="isConnected" ng-model="service.parity" class="form-control">
</div>
</div>

<div class="row">
<div class="col-lg-12">
  <label for="rx">rx {{rxCount}}</label>
  <textarea ng-model="rx" class="form-control" rows="8" id="rx" readonly></textarea>
</div>
</div>

<div class="row">
<div class="col-lg-12">
  <label for="tx">tx {{txCount}}</label>
  <textarea ng-model="tx" class="form-control" rows="3" id="tx" readonly></textarea>

  <input type="text" ng-disabled="!isConnected" placeholder="send data here" ng-model="txData" class="form-control">
<button class="btn btn-default" ng-disabled="!isConnected" ng-click="writeString(txData)">send</button>
<!-- TODO - implement :) <button class="btn btn-default" ng-disabled="!isConnected" ng-click="sendFile()">send file</button> -->
</div>
</div>
