<button class="btn btn-default" ng-click="msg.test(testPlan.servicesToTest, testsToRun)">test</button> {{currentProgress.currentActivity}} <b>tests: {{currentProgress.testsDone}} <span class="text-danger">errors: {{currentProgress.errors}}</span><span class="text-success"> worky: {{currentProgress.testsDone - currentProgress.errors}}</span></b>
<uib-progress>
<uib-bar class="progress-striped active" value="currentProgress.errorPercentage" type="danger">{{currentProgress.errors}}/{{currentProgress.totalTests}} {{currentProgress.errorPercentage}}%</uib-bar>
<uib-bar class="progress-striped active" value="currentProgress.successPercentage" type="success">{{currentProgress.successes}}/{{currentProgress.totalTests}} {{currentProgress.successPercentage}}%</uib-bar>
</uib-progress>
 <!-- {{testPlan.servicesToTest}} -->
 <!-- {{servicesToTest}} -->
 <!-- {{testsToRun}}-->
<span ng-repeat="test in tests"> 
<input type="checkbox" checklist-model="testsToRun" checklist-value="test"> {{test}}
</span>

<table class="table table-striped">
  <tr><th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" />service</th><th>description</th><th>available</th><th>tests</th><th>ready</th><th>sponsor</th><th>todo</th></tr>
  <tr ng-repeat="result in matrix.results"> 
    <td>
      <input type="checkbox" checklist-model="testPlan.servicesToTest" checklist-value="result.simpleName">  
      <!-- <input type="checkbox" value="{{result.simpleName}}" ng-checked="true" ng-click="toggleService(result.simpleName)">  -->
      <img ng-src="/{{result.simpleName}}.png" width="16">&nbsp;&nbsp;{{result.simpleName}}
    </td>
    <td>{{ result.type.description }}</td>
    <td>{{ result.type.available }}</td>
    <td width="40%">
          <table class="table table-striped">
              <tr ng-repeat="test in result.results">
                   <td ng-bind-html="trustAsHtml(test.link)"></td><td>&nbsp;<img ng-src="/Test/{{test.status.level}}.png" width="16"></td>
               </tr>
           </table>
    </td>    
    <td>{{ result.type.ready }}</td>
    <td>{{ result.type.sponsor }}</td>
    <td width="40%">{{ result.type.todo }}</td>
  </tr>
</table>
