<div class="row">
  <div class="col-lg-12">    
    <label for="service.port">port</label>
    <!-- <input type="text" ng-disabled="isConnected" ng-model="service.port" class="form-control"> -->

<!--
<video width="400" controls autoplay>
  <source src="/video" type="video/x-flv">
  Your browser does not support HTML5 video.
</video>
-->

<!--  WORKY


<video width="400" controls autoplay>
  <source src="/video" type="video/mp4">
  Your browser does not support HTML5 video.
</video>

-->

<!--
<video width="400" controls autoplay>

  <source src="rtmp://localhost:1888/video/test.flv" type="video/mp4">
  Your browser does not support HTML5 video.
</video>
-->

    {{service.port}}
  </div>        
</div>