<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" ng-if="panelfound">
            <div service-ctrl-directive panel="panel"></div>
            <div ng-if="panel.templatestatus == 'loaded'">
                <div service-body panel="panel"></div>
            </div>
            <div ng-if="panel.templatestatus == 'notfound'">
                <i class="glyphicon glyphicon-warning-sign"></i>&nbsp;&nbsp;service not found
            </div>
        </div>
    </div>       
</div>       