name: myrobotlab ci/cd

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: setup jdk 11
        uses: actions/setup-java@v3

        with:
          java-version: '11'
          distribution: 'adopt'
      # - name: Test with Maven
      #   run: mvn test -Dtest=!org.myrobotlab.opencv.OpenCVFilterDL4JTest
      # - name: build with maven
      #   run: mvn --batch-mode --update-snapshots -DskipTests package
          run: mvn -DskipTests package
      - name: build with maven
        # run: mvn --version
        # run: mvn -Dtest=Service* package
        # run: mvn --batch-mode --update-snapshots package
          run: echo "I wish I could test here"
